{% if is_granted('EDIT', show) %}
<div class="admin-panel">
    <h6>Show Administration: <a href="{{ path('get_show', {identifier: show.slug}) }}">{{ show.name }}</a></h6>
    <ul class="inline-list">
        {{ include('@ActsCamdram/Navigation/nav-item.html.twig', {item: {id: 'edit_show', path: path('edit_show',{identifier:show.slug}), icon: 'pencil', text: 'Edit this show'} }) }}
        {% if is_granted('DELETE', show) %}
            {{ include('@ActsCamdram/Navigation/nav-item.html.twig', {item: {id: 'delete_show', path: path('remove_show',{identifier:show.slug}), icon: 'eraser', text: 'Delete this show'} }) }}
        {% endif %}
        <li>
            {% if show.auditions | length == 0 %}
                {{ include('@ActsCamdram/Navigation/nav-item.html.twig',
                {item: {id: 'edit_auditions', path: path('edit_show_auditions',{identifier:show.slug}), icon: 'plus-circle', text: 'Add an audition'} }) }}
            {% else %}
                {{ include('@ActsCamdram/Navigation/nav-item.html.twig',
                {item: {id: 'edit_auditions', path: path('edit_show_auditions',{identifier:show.slug}), icon: 'pencil', text: 'Edit auditions'} }) }}
            {% endif %}
        </li>
        <li>
            {% if show.techieAdverts | length == 0 %}
                {{ include('@ActsCamdram/Navigation/nav-item.html.twig',
                    {item: {id: 'new_techie_advert', path: path('new_show_techie_advert',{identifier:show.slug}), icon: 'plus-circle', text: 'Add technical team advert'} }) }}
            {% else %}
                {{ include('@ActsCamdram/Navigation/nav-item.html.twig',
                    {item: {id: 'edit_techie_advert', path: path('edit_show_techie_advert',{identifier:show.slug}), icon: 'pencil', text: 'Edit/renew technical team advert'} }) }}
            {% endif %}
        </li>
        <li>
            {% if show.applications | length == 0 %}
                {{ include('@ActsCamdram/Navigation/nav-item.html.twig',
                {item: {id: 'new_application', path: path('new_show_application',{identifier:show.slug}), icon: 'plus-circle', text: 'Add director/producer advert'} }) }}
            {% else %}
                {{ include('@ActsCamdram/Navigation/nav-item.html.twig',
                {item: {id: 'edit_application', path: path('edit_show_application',{identifier:show.slug}), icon: 'pencil', text: 'Edit director/producer advert'} }) }}
            {% endif %}
        </li>
    </ul>
    <p>You can add new people to your production simply by adding them to the appropriate
    list below. If multiple people have the same role, add their names separated by a 
    comma. Drag and drop a person's name to change the order the roles are displayed
    in.</p>
</div>
{% endif %}
{% if show.authorisedBy is null %}
<div class="approve-panel">
    {% if is_granted('APPROVE', show) %}
        <p><em>This show is not yet visible to the public. <a href=""><i class="fa fa-check"></i> Approve this show</a></em></p>
    {% else %}
        <p><em>This show is not yet visible to the public - it is awaiting approval from
                {% if show.society and show.venue %}someone on the <strong>{{ show.society.name }}</strong> committee or a representative of <strong>{{ show.venue.name }}</strong>
                {% elseif show.society %}someone on the <strong>{{ show.society.name }}</strong> committee
                {% elseif show.venue %}a representative of <strong>{{ show.venue.name }}</strong>
                {% else %}a Camdram administrator{% endif %}
            </em></p>
    {% endif %}
</div>
{% endif %}

