{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'vacancies' %}
{% block title %}Edit/Renew Auditions{% endblock %}

{% block body %}

{% set current_subnav_id = 'edit_auditions' %}
{{ render(controller('ActsCamdramBundle:Show:adminPanel', {show: form.vars.value})) }}

<div class="row">
    <div class="large-12 columns">
        <h3>Add/Edit Auditions</h3>

        <div class="panel">
            <p>Use the form below modify or add auditions for your show.</p>
            <p>You can add one or more audition sessions and/or leave contact details for people to get in touch about auditioning.</p>
        </div>

        <form action="{{ path("put_show_auditions", {identifier: form.vars.value.slug, _method: 'put'}) }}" method="post">
            {{ form_row(form.aud_extra) }}



            <div class="row">
                <div class="large-3 columns">
                    {{ form_label(form.scheduled_auditions) }}
                </div>
                <div class="large-9 columns">
                    <div class="scheduled_auditions entity_collection" data-prototype="{% filter escape('html') %}{% include 'ActsCamdramBundle:Show:auditions-form.html.twig' with {audition: form.scheduled_auditions.vars.prototype} %}{% endfilter %}">
                        {% for audition in form.scheduled_auditions %}
                            {% include 'ActsCamdramBundle:Show:auditions-form.html.twig' %}
                        {% endfor %}
                    </div>
                    <ul class="inline-list">
                        <li> <a href="#" class="add_link"><i class="fa fa-plus-circle"></i> Add an audition session</a></li>
                    </ul>
                </div>
                {% do form.scheduled_auditions.setRendered() %}
            </div>

            <div class="row">
                <div class="large-3 columns">
                    {{ form_label(form.non_scheduled_auditions) }}
                </div>
                <div class="large-9 columns">
                    <div class="non_scheduled_auditions" data-prototype="{% filter escape('html') %}{% include 'ActsCamdramBundle:Show:auditions-non-scheduled-form.html.twig' with {audition: form.non_scheduled_auditions.vars.prototype} %}{% endfilter %}">
                        {% for audition in form.non_scheduled_auditions %}
                            {% include 'ActsCamdramBundle:Show:auditions-non-scheduled-form.html.twig' %}
                        {% endfor %}
                    </div>
                    <ul class="inline-list">
                        <li> <a href="#" class="add_link"><i class="fa fa-plus-circle"></i> Add contact details</a></li>
                    </ul>
                </div>
                {% do form.non_scheduled_auditions.setRendered() %}
            </div>

            {{ form_rest(form) }}
            <div class="text-right">
                <input type="submit" value="Save" class="button"/>
            </div>
        </form>
    </div>
</div>


<script>
    $('.scheduled_auditions').entityCollection({min_items: 0});
    $('.non_scheduled_auditions').entityCollection({min_items: 0, max_items: 1});
</script>
{% endblock %}
