{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Show: {{ entity.name }} - Contact{% endblock %}

{% block body %}

    {% set current_subnav_id = 'show_contact' %}

    <div class="row">
        <h2><a href="{{ path('get_show', {identifier: entity.slug}) }}">{{ entity.name }}</a></h2>

        <h3>Contact Show</h3>

        <div class="panel">
            <p>
                You can use this form to get in touch with the people who administrate this show
                (in most cases, the show's producers). Use this to ask questions about ticketing, getting
                involved and other show-specific queries.
            </p>
            <p>
                If you are an administrator for the show and require technical support, please visit our
                <a href="{{ path('acts_camdram_contact_us') }}">Contact Us</a> page instead, where you can get in
                touch with one of the Camdram admins.
            </p>
        </div>

        <form action="{{ path("post_show_contact", {identifier: entity.slug}) }}" method="post">
            {{ include('ActsCamdramBundle:ContactUs:form.html.twig') }}
        </form>
    </div>

{% endblock %}
