{{ form_row(form.name) }}
        {{ form_row(form.author) }}
<div class="row">
    <div class="three columns">
        {{ form_label(form.category) }}
    </div>
    <div class="nine columns">
        {{ form_widget(form.category) }}
    </div>
</div>


<div class="row">
    <div class="three columns">
        {{ form_label(form.performances) }}
    </div>
    <div class="nine columns">
        {{ form_widget(form.multi_venue) }}

        <div class="performances" data-prototype="{% filter escape('html') %}{% include 'ActsCamdramBundle:Show:performance-form.html.twig' with {performance: form.performances.vars.prototype} %}{% endfilter %}">
            {% for performance in form.performances %}
                {% include 'ActsCamdramBundle:Show:performance-form.html.twig' %}
            {% endfor %}
        </div>
        <ul class="inline-list right performance-links">
           <li> <a href="#" class="add_performance"">Add date range</a></li>
        </ul>
    </div>
</div>


<div class="row main-venue-row">
    <div class="three columns">
        {{ form_label(form.venue) }}
    </div>
    <div class="nine columns">
        {{ form_widget(form.venue) }}
    </div>
</div>

<div class="row">
    <div class="three columns">
        {{ form_label(form.society) }}
    </div>
    <div class="nine columns">
        {{ form_widget(form.society) }}
    </div>
</div>

{{ form_row(form.description) }}
        {{ form_row(form.image) }}

<div class="row">
    <div class="three columns">
        {{ form_label(form.booking_code) }}
    </div>
    <div class="five columns">
        {{ form_widget(form.booking_code) }}
    </div>
    <div class="two columns">
        {{ form_label(form.prices) }}
    </div>
    <div class="two columns">
        {{ form_widget(form.prices) }}
    </div>
</div>

<div class="row">
    <div class="three columns">
        {{ form_label(form.facebook_id) }}
    </div>
    <div class="three columns">
        {{ form_widget(form.facebook_id) }}
    </div>
    <div class="three columns">
        {{ form_label(form.twitter_id) }}
    </div>
    <div class="three columns">
        {{ form_widget(form.twitter_id) }}
    </div>
</div>

{{ form_rest(form) }}