<show>
<!-- Any clients using this data should be robust to more fields being added at a later date -->
  <cast>
{% for role in show.getRolesByType('cast') %}
   {{ include('ActsCamdramBundle:Show:legacyapishowroles.xml.twig' ) }}
{% endfor %}
  </cast>
  <prod>
{% for role in show.getRolesByType('prod') %}
   {{ include('ActsCamdramBundle:Show:legacyapishowroles.xml.twig' ) }}
{% endfor %}
  </prod>
  <orchestra>
{% for role in show.getRolesByType('band') %}
   {{ include('ActsCamdramBundle:Show:legacyapishowroles.xml.twig' ) }}
{% endfor %}
  </orchestra>
  <title>{{ show.name }}</title>
  <author>{{ show.author }}</author>
  <venue>{{ show.getVenueName() }}</venue>
  <performances>
{% for performance in show.getAllPerformances() %}
   <item>
     <date>{{performance.datetime|date("r")}}</date>
     <venue>{{performance.venue}}</venue>
   </item>
{% endfor %}
    <item index="0">
      <date>Wed, 15 Oct 2003 23:00:00 +0100</date>
      <venue>ADC Theatre</venue>
    </item>
    <item index="1">
      <date>Thu, 16 Oct 2003 23:00:00 +0100</date>
      <venue>ADC Theatre</venue>
    </item>
  </performances>
  <singlevenue>{{show.getMultiVenue() == 'single' ? 1 : 0}}</singlevenue>
  <id>{{show.id}}</id>
  <onlinebookingurl>{{show.onlinebookingurl}}</onlinebookingurl>
  <facebookurl>{{show.facebookurl}}</facebookurl>
  <otherurl>{{ show.otherurl }}</otherurl>
  <camdramshowurl>{{ url('get_show', {identifier: show.slug}) }}</camdramshowurl>
</show>
