<div class="performance">
    <div class="row">
        <div class="large-1 column">
            {{ form_label(performance.start_date) }}
        </div>
        <div class="large-3 columns">
            {{ form_widget(performance.start_date) }}
        </div>
        <div class="large-1 column end-date">
            {{ form_label(performance.end_date) }}
        </div>
        <div class="large-3 columns end-date">
            {{ form_widget(performance.end_date) }}
        </div>
        <div class="large-1 column">
            {{ form_label(performance.time) }}
        </div>
        <div class="large-3 columns">
            <div class="right">
                <a href="#" class="remove_performance">[X]</a>
            </div>
            {{ form_widget(performance.time) }}
        </div>
    </div>
    <div class="row venue-row">
        <div class="large-3 columns">
            {{ form_label(performance.venue) }}
        </div>
        <div class="large-9 columns">
            <div class="row">{{ form_widget(performance.venue) }}</div>
        </div>
    </div>
{{ form_rest(performance) }}
</div>