{{ form_start(form) }}
{{ form_errors(form) }}

<div class="row">
    <div class="large-6 column">
        {{ form_widget(form.role, {'attr': {'placeholder': 'Role: e.g. Antonio, Director'}}) }}
    </div>
    <div class="large-6 column">
        {{ form_widget(form.name, {'attr': {'placeholder': 'Name'}}) }}
    </div>
</div>
{{ form_row(form.send, { 'label' : 'Add role' }) }}
{{ form_end(form) }}

