{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Show: {{ show.name }}{% endblock %}

{% block body %}

<div class="row">
    {% render url('acts_camdram_entity_toolbar', {id: show.id}) %}
    
    <div class="twelve columns panel">
    <div class="four columns">
    </div>
    
    <div class="six columns end">
        {% if show.society %}
            <p><a href="{{ path('get_society', {identifier: show.society.slug}) }}">{{ show.society.name }}</a> presents...</p>
        {% endif %}

        <h2>{{ show.name }}{% if show.author %} - <small>{{ show.author }}</small>{% endif %}</h2>

        {{ show.description | camdram_markdown }}
    </div>
    </div>
</div>
<div class="row">
    {% if show.getRolesByType('band')|length > 0 %}
        {% set num_cols = "four" %}
    {% else %}
        {% set num_cols = "six" %}
    {% endif %}
        <div class="{{ num_cols }} columns">
            <h3>Cast</h3>
            {% include 'ActsCamdramBundle:Show:showRoles.html.twig' with {'roles': show.getRolesByType('cast')} %}
        </div>
    {% if show.getRolesByType('band')|length > 0 %}
        <div class="four columns">
            <h3>Band</h3>
            {% include 'ActsCamdramBundle:Show:showRoles.html.twig' with {'roles': show.getRolesByType('band')} %}
        </div>
    {% endif %}
        <div class="{{ num_cols }} columns end">
            <h3>Production Team</h3>
            {% include 'ActsCamdramBundle:Show:showRoles.html.twig' with {'roles': show.getRolesByType('prod')} %}
        </div>
</div>

{% endblock %}
