{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Show: {{ show.name }}{% endblock %}

{% block option_links %}
    {% if is_granted('EDIT', show) %}
    {% include 'ActsCamdramBundle:Navigation:nav-item.html.twig' with { item: {text: 'Edit "'~show.name~'"', path: path('edit_show', {identifier: show.slug}), icon: 'pencil'}} %}
    {% endif %}
    {% if is_granted('DELETE', show) %}
    {% include 'ActsCamdramBundle:Navigation:nav-item.html.twig' with { item: {text: 'Delete "'~show.name~'"', path: path('remove_show', {identifier: show.slug}), icon: 'eraser'}} %}
    {% endif %}
{% endblock %}

{% block body %}

{% if is_granted('EDIT', show) %}
{{ include('ActsCamdramBundle:Show:admin-panel.html.twig') }}
{% endif %}

<div class="row">

    <div class="large-12 columns panel">
    <div class="large-4 columns">
    </div>
    
    <div class="large-8 columns">
        {% if show.society %}
            <p><a href="{{ path('get_society', {identifier: show.society.slug}) }}">{{ show.society.name }}</a> presents...</p>
        {% endif %}

    <h2>{{ show.name }}{% if show.author %}<br/><small> By {{ show.author }}</small>{% endif %}</h2>
        <p>{% include 'ActsCamdramBundle:Performance:show.html.twig' with {'performances': show.performances } %}</p>
        <p>{{ show.description | camdram_markdown }}</p>
    </div>
    </div>
</div>
{% if show.hasVacancies() %}
<div id="show-vacancies" class="row">
    <div class="large-12">
        <h3>Get Involved</h3>
        {% if show.auditions | length > 0 %}
        <p>Auditions are being held at the times below - <a href="{{ path('get_auditions') }}#auditions-{{ show.id }}">more details</a></p>
            <ul>
                {% for a in show.auditions %}
                <li>{{ a.date|date('D d M') }}, {{ a.starttime|date('g:ia') }}-{{ a.endtime|date('g:ia') }}, {{ a.location }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if show.techieAdverts | length > 0 %}
            <p>We are looking for:
            {% for advert in show.techieAdverts %}
                {% for p in advert.positions|split("\n") %}
                    {%- if not loop.first and loop.last %} and {% elseif not loop.first %}, {% endif %}{{ p }}
                {%- endfor %}
                - <a href="{{ path('get_techies') }}#advert-{{ advert.id }}">more details</a></p>
            {% endfor %}
        {% endif %}
        {% for advert in show.applications %}
            <p>{{ advert.text() }} -
            <a href="{{ path('get_applications') }}#application-{{ advert.id }}">more details</a></p>
        {% endfor %}
    </div>
</div>
{% endif %}
<div class="row">
    {% if show.getRolesByType('band')|length > 0 %}
        {% set num_cols = "large-4" %}
    {% else %}
        {% set num_cols = "large-6" %}
    {% endif %}
        <div class="{{ num_cols }} columns">
            <h3>Cast</h3>
            {% include 'ActsCamdramBundle:Show:showRoles.html.twig' with {'roles': show.getRolesByType('cast')} %}
        </div>
    {% if show.getRolesByType('band')|length > 0 %}
        <div class="large-4 columns">
            <h3>Band</h3>
            {% include 'ActsCamdramBundle:Show:showRoles.html.twig' with {'roles': show.getRolesByType('band')} %}
        </div>
    {% endif %}
        <div class="{{ num_cols }} columns end">
            <h3>Production Team</h3>
            {% include 'ActsCamdramBundle:Show:showRoles.html.twig' with {'roles': show.getRolesByType('prod')} %}
        </div>
</div>
<br/>

{% endblock %}
