{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'shows' %}
{% block title %}Show: {{ show.name }}{% endblock %}

{% block body %}

{% if is_granted('EDIT', show) %}
{{ render(controller('ActsCamdramBundle:Show:adminPanel', {show: show})) }}
{% endif %}

<div class="row">

    <div class="large-12 columns panel">
        <ul class="inline-list right">
            {% if show.bookingUrl %}
                <li><a href="{{ show.bookingUrl }}" target="_blank"><i class="fa fa-ticket"></i> Buy tickets
                        {% if show.prices %}({{ show.prices }}){% endif %}</a>
                </li>
            {% endif %}
            {% if show.facebookId %}<li>
                <a href="{{ show.getFacebookUrl() }}" target="_blank">
                    <img src="{{ asset('/bundles/actscamdramsecurity/images/facebook.png') }}" alt=""/></a>
                </li>{% endif %}
            {% if show.twitterId %}<li>
                <a href="{{ show.getTwitterUrl() }}" target="_blank">
                    <img src="{{ asset('/bundles/actscamdramsecurity/images/twitter.png') }}" alt=""/></a>
                </li>{% endif %}
        </ul>

        {% if show.society %}
            <p class="show-society"><a href="{{ path('get_society', {identifier: show.society.slug}) }}">{{ show.society.name }}</a> presents...</p>
        {% endif %}
        <h2>{{ show.name }}{% if show.author %}<br/><small> By {{ show.author }}</small>{% endif %}</h2>

        {% if show.image %}
            <div class="row">
            <div class="large-3 columns text-center">
                {% if show.image %}<a href="{{ image_url(show.image, 1024, 768) }}" class="fancybox">{{ render_image(show.image, 200, 300) }}</a>{% endif %}
            </div>
            <div class="large-9 columns">
                <p>{% include 'ActsCamdramBundle:Performance:show.html.twig' with {'performances': show.performances } %}</p>
                <p>{{ show.description | camdram_markdown }}</p>
            </div>
            </div>
        {% else %}
            <p>{% include 'ActsCamdramBundle:Performance:show.html.twig' with {'performances': show.performances } %}</p>
            <p>{{ show.description | camdram_markdown }}</p>
        {% endif %}
    </div>
</div>
{% if show.hasVacancies() %}
<div class="vacancies-panel" class="row">
    <div class="large-12">
        <h5>Get involved with <em>{{ show.name }}</em>:</h5>
        {% if show.auditions | length > 0 %}
        <p>Auditions are being held at the times below - <a href="{{ path('get_auditions') }}#auditions-{{ show.id }}">more details</a></p>
            <ul>
                {% for a in show.auditions %}
                <li>{{ a.date|date('D d M') }}, {{ a.starttime|date('g:ia') }}-{{ a.endtime|date('g:ia') }}, {{ a.location }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if show.activeTechieAdvert is not null %}
            <p>We are looking for:
            {% for p in show.activeTechieAdvert.positions|split("\n") %}
                {%- if not loop.first and loop.last %} and {% elseif not loop.first %}, {% endif %}{{ p }}
            {%- endfor %}
            - <a href="{{ path('get_techie', {identifier: show.activeTechieAdvert.slug}) }}">more details</a></p>
        {% endif %}
        {% if show.activeApplication is not null %}
            <p>{{ show.activeApplication.text() }} -
            <a href="{{ path('get_applications') }}#application-{{ show.activeApplication.id }}">more details</a></p>
        {% endif %}
    </div>
</div>
{% endif %}
<div class="row">
    {% set display_band = (show.getRolesByType('band')|length > 0) or is_granted('EDIT', show) %}
    {% if display_band == true %}
        {% set num_cols = "large-4" %}
    {% else %}
        {% set num_cols = "large-6" %}
    {% endif %}
        <div class="{{ num_cols }} columns">
            <h3>Cast</h3>
            {% include 'ActsCamdramBundle:Show:showRoles.html.twig' with {show: show, type: 'cast', id: 'sortable-cast'} %}
        </div>
    {% if display_band == true %}
        <div class="large-4 columns">
            <h3>Band</h3>
            {% include 'ActsCamdramBundle:Show:showRoles.html.twig' with {show: show, type: 'band', id: 'sortable-band'} %}
        </div>
    {% endif %}
        <div class="{{ num_cols }} columns end">
            <h3>Production Team</h3>
            {% include 'ActsCamdramBundle:Show:showRoles.html.twig' with {show: show, type: 'prod', id: 'sortable-prod'} %}
        </div>
</div>
<br/>
{% if not is_granted('EDIT', show, true) and is_granted('EDIT', show, false) %}
<div class="row">
    <div class="large-12 columns">
        <p><a href="{{ path('get_show_roles', {identifier: show.slug}) }}"><i class="fa fa-key"></i> Log in again to edit roles on this show</a></p>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="large-12 columns">
        <p>If you're involved in the show you may want to use our
        <a href="{{ path('acts_camdram_signinsheet', { slug: show.slug }) }}">sign in sheet</a>.
        You can also download a version in <a href="{{ path('acts_camdram_signinsheet', { slug: show.slug, '_format': 'csv' }) }}">CSV format</a>.</p>
    </div>
</div>

{% if is_granted('EDIT', show) %}
<script>
    $("div[id|='sortable']").sortable({
        axis: "y",
        items: "> div",
        stop: function(event, ui) {
            jQuery.ajax({
                url: "{{ url('patch_roles_reorder') }}",
                type: 'PATCH',
                data: $(this).sortable('serialize')
            });
        }
    });
</script>
{% endif %}
{% endblock %}

