{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Show: {{ show.name }}{% endblock %}

{% block body %}

<div class="row">
    {% render url('acts_camdram_entity_toolbar', {id: show.id}) %}
    
    <div class="twelve columns panel">
    <div class="four columns">
    </div>
    
    <div class="six columns end">
        {% if show.society %}
            <p><a href="{{ path('get_society', {identifier: show.society.slug}) }}">{{ show.society.name }}</a> presents...</p>
        {% endif %}

        <h2>{{ show.name }}{% if show.author %} - <small>{{ show.author }}</small>{% endif %}</h2>

        {{ show.description | camdram_markdown }}
    </div>
    </div>
</div>
<div class="row">
    <div class="four columns">
        <h3>Cast</h3>
        {% for role in show.getRolesByType('cast') %}
            {{ role.role }} - <a href="{{ path('get_person', {identifier: role.person.slug}) }}">{{ role.person.name }}</a><br/>
        {% endfor %}
    </div>
    {% if show.getRolesByType('band')|length > 0 %}
        <div class="four columns">
            <h3>Band</h3>
            {% for role in show.getRolesByType('band') %}
                {{ role.role }} - <a href="{{ path('get_person', {identifier: role.person.slug}) }}">{{ role.person.name }}</a><br/>
            {% endfor %}
        </div>
    {% endif %}
    <div class="four columns end">
        <h3>Production Team</h3>
        {% for role in show.getRolesByType('prod') %}
            {{ role.role }} - <a href="{{ path('get_person', {identifier: role.person.slug}) }}">{{ role.person.name }}</a><br/>
        {% endfor %}
    </div>
</div>

{% endblock %}
