{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'shows' %}
{% block title %}Show: {{ show.name }}{% endblock %}

{# Facebook open graph markup #}
{% block opengraph %}
    <meta property="og:url" content="{{ url('get_show', {identifier: show.slug}) }}" />
    <meta property="og:title" content="{{ show.name }}" />
    <meta property="og:description" content="{{ show.description | strip_camdram_markdown | strip_new_lines | truncate(500) }}" />
    {% if show.image %}
        <meta property="og:image" content="{{ image_url(show.image, 1024, 768) }}" />
    {% else %}
        {# Maybe put a stock camdram image here? #}
    {% endif %}
{% endblock %}

{% block body %}

{% if is_granted('EDIT', show) %}
{{ render(controller('ActsCamdramBundle:Show:adminPanel', {show: show})) }}
{% endif %}

<div class="row">

    <div class="large-12 columns panel">
        <ul class="inline-list right">
            {% if show.hasFuturePerformances() %}
                {% if show.onlineBookingUrl %}
                    <li><a href="{{ show.onlineBookingUrl }}" target="_blank"><i class="fa fa-ticket"></i> Buy tickets
                        {% if show.prices %}({{ show.prices }}){% endif %}</a>
                    </li>
                {% elseif show.prices %}
                    <li>Tickets: {{ show.prices }}</li>
                {% endif %}
            {% endif %}

            {% if show.facebookId %}<li>
                <a href="{{ show.getFacebookUrl() }}" target="_blank">
                    <img src="{{ asset('/bundles/actscamdramsecurity/images/facebook.png') }}" alt=""/></a>
                </li>{% endif %}
            {% if show.twitterId %}<li>
                <a href="{{ show.getTwitterUrl() }}" target="_blank">
                    <img src="{{ asset('/bundles/actscamdramsecurity/images/twitter.png') }}" alt=""/></a>
                </li>{% endif %}
        </ul>

        {% if show.society %}
            <p class="show-society"><a href="{{ path('get_society', {identifier: show.society.slug}) }}">{{ show.society.name }}</a> presents...</p>
        {% elseif show.societyname is not empty %}
            <p class="show-society">{{ show.societyname }} presents...</p>
        {% endif %}
        <h2>{{ show.name }}{% if show.author %}<br/><small> By {{ show.author }}</small>{% endif %}</h2>
		
		{# Display show image #}
        {% if show.image %}
            <div class="row">
            <div class="large-3 columns text-center">
                <a href="{{ image_url(show.image, 1024, 768) }}" class="fancybox">{{ render_image(show.image, 200, 300) }}</a>
            </div>
            <div class="large-9 columns">
                {{ include('ActsCamdramBundle:Show:show-body.html.twig') }}
            </div>
            </div>
        {# Show prompt to upload image #}
        {% elseif is_granted('EDIT', show) %}
        	<div class="row">
            <div class="large-3 columns text-center">
            	<ul class="inline-list">
                	{{ include('@ActsCamdram/Navigation/nav-item.html.twig', {item: {id: 'edit_show', path: path('edit_show',{identifier: show.slug}), icon: 'pencil', text: 'Upload show image'} }) }}
            	</ul>
            </div>
            <div class="large-9 columns">
                {{ include('ActsCamdramBundle:Show:show-body.html.twig') }}
            </div>
            </div>
        {# Don't show image or prompt #}
        {% else %}
            {{ include('ActsCamdramBundle:Show:show-body.html.twig') }}
        {% endif %}


        {# show_contact : {path: path('get_show_contact',{identifier: show.slug}), icon: 'envelope-o', text: 'Contact show'}, #}
    </div>
</div>
{% if show.hasVacancies() %}
<div class="vacancies-panel" class="row">
    <div class="large-12">
        <h5>Get involved with <em>{{ show.name }}</em>:</h5>
        {% if show.getScheduledAuditions() | length > 0 %}
        <p>Auditions are being held at the times below - <a href="{{ path('get_audition', {identifier: show.slug}) }}">more details</a></p>
            <ul>
                {% for a in show.getScheduledAuditions() %}
                <li>{{ a.date|date('D d M') }}, {{ a.starttime|date('g:ia') }}-{{ a.endtime|date('g:ia') }}, {{ a.location }}</li>
                {% endfor %}
            </ul>
	{% endif %}
	{% if show.getNonScheduledAuditions() | length > 0 %}
	    {% for a in show.getNonScheduledAuditions() %}
	    <p>For auditions contact {{a.location}} by {{ a.starttime|date('g:ia') }} on {{ a.date|date('D d M') }} - <a href="{{ path('get_audition', {identifier: show.slug}) }}">more details</a></p>
	    {% endfor %}
        {% endif %}
        {% if show.activeTechieAdverts | length > 0 %}
            <p>We are looking for:
            {% for advert in show.activeTechieAdverts %}
                {% for p in advert.positions|split("\n") %}
                    {%- if not loop.first and loop.last %} and {% elseif not loop.first %}, {% endif %}
                    {{- p }}
                {%- endfor %}
                - <a href="{{ path('get_techie', {identifier: advert.slug}) }}">more details</a></p>
            {% endfor %}
        {% endif %}
        {% for advert in show.activeApplications %}
            <p>{{ advert.text() }} -
            <a href="{{ path('get_application', {identifier: advert.show.slug}) }}">more details</a></p>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="row">
    {% set display_band = (show.getRolesByType('band')|length > 0) or is_granted('EDIT', show) %}
    {% if display_band == true %}
        {% set num_cols = "large-4" %}
    {% else %}
        {% set num_cols = "large-6" %}
    {% endif %}
        <div class="{{ num_cols }} columns">
            <h3>Cast</h3>
            {% include 'ActsCamdramBundle:Show:showRoles.html.twig' with {show: show, type: 'cast', id: 'sortable-cast'} %}
        </div>
    {% if display_band == true %}
        <div class="large-4 columns">
            <h3>Band</h3>
            {% include 'ActsCamdramBundle:Show:showRoles.html.twig' with {show: show, type: 'band', id: 'sortable-band'} %}
        </div>
    {% endif %}
        <div class="{{ num_cols }} columns end">
            <h3>Production Team</h3>
            {% include 'ActsCamdramBundle:Show:showRoles.html.twig' with {show: show, type: 'prod', id: 'sortable-prod'} %}
        </div>
</div>
<br/>
{% if not is_granted('EDIT', show, true) and is_granted('EDIT', show, false) %}
<div class="row">
    <div class="large-12 columns">
        <p><a href="{{ path('get_show_roles', {identifier: show.slug}) }}"><i class="fa fa-key"></i> Log in again to edit roles on this show</a></p>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="column large-12">
        <ul class="inline-list">
            {{ include('@ActsCamdram/Navigation/nav-items.html.twig', {
                items: {
                    show_sign_in_sheet : {path: path('acts_camdram_signinsheet',{slug:show.slug}), icon: 'print', text: 'Print sign in sheet'},
                    show_sign_in_sheet_csv : {path: path('acts_camdram_signinsheet',{slug: show.slug, _format: 'csv'}), icon: 'table', text: 'Download sign in sheet (CSV)'}
                }
            }) }}

            {% if app.user and not is_granted('EDIT', show) %}
                {{ include('@ActsCamdram/Navigation/nav-item.html.twig',
                    {item: {id: 'show_request_admin', path: path('request_show_admin',{identifier: show.slug}), icon: 'unlock-alt', text: 'Request to be an admin'} }) }}
            {% endif %}
        </ul>
    </div>
</div>

{% if is_granted('EDIT', show) %}
<script>
    $("div[id|='sortable']").sortable({
        axis: "y",
        items: "> div",
        stop: function(event, ui) {
            jQuery.ajax({
                url: "{{ url('patch_roles_reorder') }}",
                type: 'PATCH',
                data: $(this).sortable('serialize')
            });
        }
    });
</script>
{% endif %}
{% endblock %}
