{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Issue - {{ issue.id}}{% endblock %}

{% block body %}

<div class="row" xmlns="http://www.w3.org/1999/html">

    <div class="twelve columns">

        <h4>Viewing issue {{ issue.id }}</h4>
        <p>State: {{ issue.state }}. 
        {% if issue.state == 'unassigned' -%}
            <a href="{{ url('get_issue',{identifier: issue.id, action : 'assign'}) }}">Assign this issue to me</a>
        {% elseif issue.state == 'assigned' -%}
            Assigned to 
            {% if issue.owner.id == app.user.id -%}
                me. <a href="{{ url('get_issue',{identifier: issue.id, action : 'rejectassign'}) }}">Reject assignment</a> or <a href="{{ url('get_issue',{identifier: issue.id, action : 'resolve'}) }}">close this issue</a>.
            {% else -%}
                {{ issue.owner }}. <a href="{{ url('get_issue',{identifier: issue.id, action : 'assign'}) }}">Reassign this issue to me</a>
            {% endif -%}
        {% elseif issue.state == 'closed' -%}
            <a href="{{ url('get_issue',{identifier: issue.id, action : 'reopen'}) }}">Reopen this issue</a>
        {% endif -%}
        </p>
        <h4>Latest email</h4>
        <h5>From: {{ issue.from|raw }}</h5>
        <h5>To: {{ issue.to|raw }}. CC: {{ issue.cc|raw }}</h5>
        <h5>Subject: {{ issue.subject }}. Received: {{ issue.datetime|date('d/m/Y, H:m') }}</h5>
        <p>{{ issue.body|nl2br }}</p>
        <h4>Previous Emails</h4>
        {# TODO modify the Support entity to contain a collection of the 
           previous emails.
        #}
        <a href="{{ path('get_issues') }}" class="button small"><i class="fa fa-arrow-left"></i> Back to issue list</a>
    </div>

</div>

{% endblock %}

