{% macro email(issue) %}
<div class="row">
    <div class="large-12 columns panel">
    <div class="large-6 columns"><strong>From:</strong> {{ issue.from|raw }}</div>
    <div class="large-6 columns"><strong>To:</strong> {{ issue.to|raw }}</div>
    {%- if issue.cc -%}<div class="large-12 columns"><strong>CC:</strong> {{ issue.cc|raw }}</div>{%- endif -%}
    <div class="large-6 columns"><strong>Subject:</strong> {{ issue.subject }}.</div>
    <div class="large-6 columns"><strong>Received:</strong> {{ issue.datetime|date('d/m/Y, H:m') }}</div>
    <div class="large-12 columns"><br/><p>{{ issue.body|nl2br }}</p></div>
</div>
</div>
{% endmacro %}
{% import _self as show_issue %}

{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Issue - {{ issue.id}}{% endblock %}

{% block body %}

<div class="row">
    <div class="large-12 columns">

        <h4>Viewing issue {{ issue.id }}</h4>
        <p>State: {{ issue.state }}. 
        {% if issue.state == 'unassigned' -%}
            <a href="{{ url('get_issue',{identifier: issue.id, action : 'assign'}) }}">Assign this issue to me</a>
        {% elseif issue.state == 'assigned' -%}
            Assigned to 
            {% if issue.owner.id == app.user.id -%}
                me. <a href="{{ url('get_issue',{identifier: issue.id, action : 'rejectassign'}) }}">Reject assignment</a> or <a href="{{ url('get_issue',{identifier: issue.id, action : 'resolve'}) }}">close this issue</a>.
            {% else -%}
                {{ issue.owner }}. <a href="{{ url('get_issue',{identifier: issue.id, action : 'assign'}) }}">Reassign this issue to me</a>
            {% endif -%}
        {% elseif issue.state == 'closed' -%}
            <a href="{{ url('get_issue',{identifier: issue.id, action : 'reopen'}) }}">Reopen this issue</a>
        {% endif -%}
        </p>
        <h4>Latest email</h4>
    </div>
</div>
        {{ show_issue.email(issue) }}
<div class="row">
    <div class="large-12 columns">
        <h4>Post reply to this issue</h4>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        
        {{ form_row(form.to, { 'attr' : {'multiple' : 'multiple'} }) }}
        {{ form_row(form.cc, { 'attr' : {'multiple' : 'multiple' } }) }}
        {{ form_row(form.bcc, { 'attr' : {'multiple' : 'multiple' } }) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body, { 'label' : 'Message' }) }}

        {{ form_row(form.send, { 'label' : 'Send' }) }}
        {{ form_end(form) }}
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h4>Previous Emails</h4>
        {%- if issue.children is empty -%}
            There are no previous emails associated with this issue.</div>
        {%- endif -%}
    </div>
</div>
    {% for child in issue.children %}
        {{ show_issue.email(child) }}
    {% endfor %}
<div class="row">
    <div class="large-12 columns">
        <a href="{{ path('get_issues') }}" class="button small"><i class="fa fa-arrow-left"></i> Back to issue list</a>
    </div>

</div>

{% endblock %}

