{%- macro entity_search_macro(route, text, hidden, other_allowed) -%}
    <div class="searchform" data-entitysearch-route="{{ route }}">
        {{- form_widget(text, { attr: { autocomplete: 'off' } }) -}}
        {{- hidden ? form_widget(hidden) : ('<input type="hidden">'|raw) -}}
        <div class="results hidden">
            <ul></ul>
            <div class="noresults">
                {{- other_allowed ? 'Use ' : 'No results found for ' -}}
                “<span class="query"></span>”</div>
            <div class="error">Search is not available at the moment</div>
        </div>
        <i class="fa fa-spinner fa-spin"></i>
    </div>
{%- endmacro -%}

{% block entity_search_widget %}
    {%- set text = attribute(form.children, text_id) -%}
    {%- set hidden = attribute(form.children, hidden_id) -%}
    {{- _self.entity_search_macro(route, text, hidden, other_allowed) -}}
{% endblock %}

{% block form_option_box %}
    {% if not compound %} {% set label_attr = {for: id} %}{% endif %}
    {% if not label %} {% set label = name|humanize %}{% endif %}
    <label{% for k,v in label_attr %} {{ k }}={{ v }}{% endfor %}>
        {{ form_widget(form) }}
        {{ label | trans({}, translation_domain) }}
        {{ form_errors(form) }}
    </label>
{% endblock %}

{% block choice_widget_expanded %}
<div {{ block('widget_container_attributes') }}>
{% for child in form %}
    <label for="{{ child.vars.id }}" class="form-checkbox-row">
        {{ form_widget(child) }}
        {{ child.vars.label }}
    </label>
{% endfor %}
</div>
{% endblock %}

{% block form_row %}
    <div class="form-large-row">
    {% if 'checkbox' in form.vars.block_prefixes %}
        <span></span>
        <div>
            {{ block('form_option_box') }}
        </div>
    {% else %}
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    {% endif %}
    </div>
{% endblock %}

{% block form_errors %}
    {% if errors %}
            {% for error in errors %}
            <small class="error">{% if error.getMessagePluralization() is null %}
                    {{ error.getMessageTemplate() | trans(error.getMessageParameters(), 'validators') }}
                {% else %}
                    {{ error.getMessageTemplate() | transchoice(error.getMessagePluralization(), error.getMessageParameters(), 'validators') }}
                {% endif %}
                </small>
            {% endfor %}
    {% endif %}
{% endblock %}

{% block form_widget_compound %}
    {% if not form.parent and errors is defined %}
        <div class="row">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div {{ block('widget_container_attributes') }}>
    {{ block('form_rows') }}
    {{ form_rest(form) }}
    </div>
{% endblock %}

{% block form_rows %}
    {% for child in form %}
        <div class="{% if child_class is defined %}{{ child_class }}{% endif %}">
         {{ form_row(child) }}
        </div>
    {% endfor %}
{% endblock %}

{% block theme_color_widget %}
    <div>
        <div class="color-swatch"></div>
        <p><small>{{ theme_color_message }} (If you pick a pale colour it will be darkened in some places for legibility.)</small></p>
        <div class="form-small-widget">
            <span>Code:</span>
            <input type="text" id="show_theme_color" name="{{ full_name }}"
                   pattern="#[0-9A-Fa-f]{6}" value="{{ value }}">
        </div>
        <div id="color-sliders">
            <label><span>Hue:</span><input type="range" id="h-slider" min="0" max="360" step="any"></label>
            <label><span>Saturation:</span><input type="range" id="s-slider" min="0" max="100" step="any"></label>
            <label><span>Lightness:</span><input type="range" id="l-slider" min="0" max="80" step="any"></label>
        </div>
    </div>
{% endblock %}
