{% if is_granted('EDIT', org) %}
<div class="admin-panel">
    <h6 class="split-header"><span>Venue Administration: <a href="{{ path('get_venue', {identifier: org.slug}) }}">{{ org.name }}</a></span><span>ID: {{org.id}}</span></h6>
    <ul role="menubar">
        {{ include('navigation/nav-item.html.twig', {item: {id: 'edit_venue', path: path('acts_camdram_venue_edit',{identifier:org.slug}), icon: 'pencil', text: 'Edit this venue'} }) }}
        {% if is_granted('DELETE', org) %}
            {{ include('navigation/form-item.html.twig', {item: {id: 'delete_venue',
                path: path('acts_camdram_venue_delete', {identifier:org.slug}), method: 'DELETE', text: 'Delete this venue', icon: 'eraser'},
                destructive: {title: "Are you sure you want to delete the venue “" ~ org.name ~ "”?", text: "This is a permanent action that cannot be undone" }
                }) }}
        {% endif %}
        
        {{ include('navigation/nav-item.html.twig',
        {item: {id: 'manage_adverts', path: path('acts_camdram_venue_adverts', {identifier: org.slug}), icon: 'list', text: 'Manage adverts'} }) }}
       

        {{ include('navigation/nav-item.html.twig',
            {item: {id: 'edit_admin', path: path('acts_camdram_venue_editadmin',{identifier:org.slug}), icon: 'pencil', text: "Edit the venue's admins"} }) }}
    </ul>
    <p>
    The following people can edit this venue:
    {% for admin in admins %}
        {%- if admin.person -%}
            <a href="{{ path('get_person', {identifier: admin.person.slug}) }}">{{ admin.name }}</a>
        {%- else -%}
            {{ admin.name }}
        {%- endif -%}
        {{- not loop.last ? ',' }}
    {% endfor %}
    </p>
    {% if pending_admins is not empty %}
    <p>
        The following people will be admins, pending creating an account:
        {% for pending in pending_admins %}
            {{ pending.email }}
            {{- not loop.last ? ',' }}
        {% endfor %}
    </p>
    {% endif %}
</div>
{% endif %}

