{% extends 'layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<h4>Register with Camdram</h4>
<p>Please enter your name and e-mail address to create a Camdram account.</p>
<p>
    You must read and agree to our <a href="{{ path('acts_camdram_userguidelines') }}">User Guidelines</a>.
    By continuing, you confirm that you will abide by the Guidelines and that, specifically, your account
    will be limited to a single individual and not shared between a group, society or organisation.
</p>
{{ form_start(form, {'action': path('hwi_oauth_connect_registration', {'key': key}), 'attr': {'class': 'hwi_oauth_registration_register'}}) }}
    {{ form_errors(form) }}
    {{ form_row(form.name, {value: userInformation.realName}) }}
    {{ form_row(form.email, {value: userInformation.email}) }}

    <div class="text-right">
        <input type="submit" value="Register" class="button"/>
    </div>
{{ form_end(form) }}

<h4>Already have an account?</h4>

<p>If you already have a Camdram account, please log in again using an authentication provider that you have used previously.
You can later connect your {{ userInformation.resourceOwner.name | capitalize }} account to your Camdram account in the account settings.</p>

<p>If you are having trouble logging in, please <a href="{{ path("acts_camdram_contact_us") }}">contact us</a> for further assistance.</p>

{{ include('@HWIOAuth/Connect/service-list.html.twig') }}

{% endblock %}
