<div class="admin-panel">

    <div class="split-header">
        <h3><a href="{{ path('get_user', {identifier: user.id}) }}">{{ user.name }}</a></h3>
        <div><a href="{{ path('get_users') }}" class="button small">Back to user list</a></div>
    </div>

    <ul role="menubar">
        {{ include('navigation/nav-item.html.twig', {
            item: {id: 'edit_user', path: path('edit_user',{identifier:user.id}), icon: 'pencil',
            text: 'Edit this user'} })
        }}
        {{ include('navigation/form-item.html.twig', {item: {id: 'delete_user',
                path: path('delete_user', {identifier:user.id}), method: 'DELETE', text: 'Delete this user', icon: 'eraser'},
                destructive: {title: "Are you sure you want to delete the user " ~ user.name ~ " (" ~ user.email ~ ")?",
                    text: "This is a permanent action that cannot be undone" }
                }) }}
        {% if not is_granted('IS_IMPERSONATOR') %}
            {{ include('navigation/nav-item.html.twig', {
                item: {id: 'impersonate_user', path: path('acts_camdram_homepage', {_switch_to_user: user.email}),
                icon: 'male', text: 'Impersonate this user'} })
            }}
        {% endif %}
        {{ include('navigation/nav-item.html.twig', {
            item: {id: 'user_merge', path: path('get_user_merge',{identifier:user.id}), icon: 'compress',
                text: 'Merge user'} })
        }}
    </ul>
</div>
