<p>{{ entity.show.name }}</p>
<p>{% include 'performance/show.html.twig' with {'disable_links': true, 'performances' : entity.show.performances} %}</p>
<p><strong>Looking for</strong></p>
<ul>
    {% for p in entity.positions|split("\n") %}
        <li>{{ p }}</li>
    {% endfor %}
</ul>
{% if entity.techextra %}
    <p>{{ entity.techextra|camdram_markdown }}</p>
{% endif %}
<p><strong>Contact:</strong> {{ entity.contact|detect_links }}</strong><br/>
    <strong>Deadline for applications:</strong> {{ entity.expiry|date('l jS F H:i')|replace({' 00:00': ''}) }}
</p>
