{% extends 'layout.html.twig' %}

{% block title %}Account Settings{% endblock %}

{% block body %}
<h3>Account Settings</h3>

<p><strong>Name:</strong> {{ app.user.name }}</p>

<div class="panel">
    {{ render(controller('ActsCamdramSecurityBundle:Account:linkedAccounts')) }}
</div>

<div class="panel" id="email">
    <h5>E-mail address</h5>
    {% if app.user.isEmailVerified %}
        <p>Your email address has been verified.</p>
    {% else %}
        <form action="{{ path('resend_account_verification') }}" method="POST">
            <p>Your email address has not been verified. <button class="text-button">Resend verification email</button>
        </form>
    {% endif %}
    {{ render(controller('ActsCamdramSecurityBundle:Account:changeEmail')) }}
</div>

<div class="panel">
    {{ include('account/authorizations.html.twig') }}
</div>

{% endblock %}
