{% if app.user %}
    {%- if is_granted('IS_IMPERSONATOR') -%}
        <li data-alert style="box-shadow: inset red 0 0 5px 5px">
            <a href="{{ path('acts_camdram_homepage', {_switch_to_user: '_exit'}) }}">You are impersonating this user: revert</a>
        </li>
    {%- endif -%}
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('account/toolbar_admin.html.twig') }}
    {% endif %}
    <li id="account-link" class="dropdown">
        {% if app.user.type =='external' and app.user.user is not null %}
            {% set main_user = app.user.user %}
        {% else %}
            {%  set main_user = app.user %}
        {% endif %}
        <a href="#!" tabindex="-1">
            {% if main_user.profilePictureUrl %}<img src="{{ main_user.profilePictureUrl }}" width="22" height="22"/>{% endif %}
            {{ main_user.displayName }}
        </a>
        <ul id="account-dropdown">
            {% if main_user.person %}<li><a href="{{ path('get_person', {identifier: main_user.person.slug }) }}"><i class="fa fa-user fa-fw"></i> My public profile</a></li>{% endif %}

            {% if main_user.type == 'native' %}
                <li><a href="{{ path('get_account') }}"><i class="fa fa-cogs fa-fw"></i> Account Settings</a></li>
            {% endif %}
            <li><a href="{{ path('_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Log out</a></li>
        </ul>
    </li>
{% else %}
    <li id="login-link">

        <a href="{{ path('hwi_oauth_connect') }}">Log in with </a>
            {%- for owner in hwi_oauth_resource_owners() -%}
               <a href="{{ hwi_oauth_login_url(owner) }}" class="icon-link">
                    <img src="{{ asset('images/service/' ~ owner ~ '.png') }}" srcset="{{ asset('images/service/' ~ owner ~ '.png') }}, {{ asset('images/service/' ~ owner ~ '-29.png') }} 1.5x, {{ asset('images/service/' ~ owner ~ '-38.png') }} 2x, {{ asset('images/service/' ~ owner ~ '-76.png') }} 4x" alt="{{ owner | capitalize }}" title="{{ owner | capitalize }}" width="19" height="19" />
               </a>
            {%- endfor -%}
    </li>
{% endif %}
