{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'events' %}
{% if event.themeColor %}
    {% set colors = wcag_colors(event.themeColor) %}
    {% set body_attribs_raw = ' style="--custom-color: '  ~ colors['raw'] ~
                                    '; --color-text: ' ~ colors['smalltext'] ~ ';"' ~
                              ' class="entity-has-theme-color"' %}
{% endif %}
{% block title %}{{ event.name }} – Camdram{% endblock %}

{# Facebook open graph markup #}
{% block opengraph %}
    <meta property="og:url" content="{{ url('get_event', {identifier: event.id}) }}" />
    <meta property="og:title" content="{{ event.name }}" />
    <meta property="og:description" content="{{ event.description | strip_camdram_markdown | strip_new_lines | truncate(500) }}" />
    {% if event.image %}
        <meta property="og:image" content="{{ event.image.filename | imagine_filter('preview') }}" />
    {% else %}
        {# Maybe put a stock camdram image here? #}
    {% endif %}
{% endblock %}

{% block body %}

{% if is_granted('EDIT', event) %}
{{ render(admin_panel(event)) }}
{% endif %}

<div class="row panel">
    <meta itemprop="name" content="{{ event.name }}"/>

    <h2 itemprop="name">{{ event.name }}</h2>

    {%- for soc in event.prettysocdata -%}
        {{- loop.first ? '<p style="font-weight: bold; color: #333">From ' | raw -}}
        <span itemprop="organizer" itemscope="" itemtype="http://schema.org/TheaterGroup">
        {%- if soc.id is defined -%}
            <a href="{{ path('get_society', {identifier: soc.slug}) }}" itemprop="url"><span itemprop="name">{{ soc.name }}</span></a>
        {%- else -%}
            <span itemprop="name" content="{{ soc.name }}">{{ soc.name }}</span>
        {%- endif -%}
        </span>
        {{- list_sep_verb(loop) -}}
        {{- loop.last ? '.</p>' | raw -}}
    {%- endfor -%}

    <ul class="event-dates-section">
    {%- for date in event.times -%}
        <li>{{ date[0]|date }}–{{ date[1]|date('H:i', false) }}
    {%- endfor -%}</ul>

    {# Display event image #}
    {%- if event.image -%}
        <div class="entity-image-container">
            <a itemprop="image" href="{{ event.image.filename | imagine_filter('preview') }}" data-fancybox><img src="{{ event.image.filename | imagine_filter('thumbnail') }}" /></a>
            {%- if is_granted('EDIT', event) and is_granted("IS_AUTHENTICATED_FULLY") -%}
                <ul class="inline-list">
                {{ include('navigation/form-item.html.twig', {item: {id: 'delete_event_image',
                    path: path('delete_event_image', {identifier:event.slug}), method: 'DELETE', text: 'Remove image', icon: 'eraser'},
                    destructive: {title: "Are you sure you want to delete the image for “" ~ event.name ~ "”?" }
                    }) }}
                </ul>
            {%- endif -%}
        </div>

        {# Show prompt to upload image #}
    {%- elseif is_granted('EDIT', event) and is_granted("IS_AUTHENTICATED_FULLY") -%}
        <div class="entity-image-container">
            <form action="{{ oneup_uploader_endpoint('images') }}" id="image_upload" class="dropzone">
                <input type="hidden" name="identifier" value="{{ event.slug }}"/>
                <input type="hidden" name="type" value="event"/>
            </form>
        </div>
    {%- endif -%}
    <div class="entity-body-text">
        {{ event.description | camdram_markdown }}
    </div>
</div>

{% endblock %}
