{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Person: {{ person.name }}{% endblock %}

{% block option_links %}
{% if is_granted('EDIT', person) %}
{% include 'ActsCamdramBundle:Navigation:nav-item.html.twig' with { item: {text: 'Edit "'~person.name~'"', path: path('edit_person', {identifier: person.slug})}} %}
{% endif %}
{% if is_granted('DELETE', person) %}
{% include 'ActsCamdramBundle:Navigation:nav-item.html.twig' with { item: {text: 'Delete "'~person.name~'"', path: path('remove_person', {identifier: person.slug})}} %}
{% endif %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="twelve columns">

    <div class="entity-panel">
        <h2>{{ person.name }}</h2>
        {% if person.description %}
        <p>{{ person.description }}</p>
        {% endif %}
    </div>

    {{ render(url('get_person_current_roles', {identifier: person.slug})) }}
    {{ render(url('get_person_upcoming_roles', {identifier: person.slug})) }}
    {{ render(url('get_person_past_roles', {identifier: person.slug})) }}

    </div>
</div>
{% endblock %}
