{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Person: {{ person.name }}{% endblock %}

{% block option_links %}
    {% render url('acts_camdram_entity_toolbar', {id: person.id}) %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="twelve columns">

    <h2>{{ person.name }}</h2>

    <ul>
    {% for role in person.roles %}
        {% if role.show %}
         <li><a href="{{ path('get_show', {identifier: role.show.slug}) }}">{{ role.show.name }}</a> - {{ role.role }}</li>
        {% endif %}
    {% endfor %}
    </ul>

{% endblock %}
