{% if is_granted('EDIT', show) %}
<div class="admin-panel">
    <h6>Show Administration: <a href="{{ path('get_show', {identifier: show.slug}) }}">{{ show.name }}</a></h6>
    <ul class="inline-list">
        {{ include('navigation/nav-item.html.twig', {item: {id: 'edit_show', path: path('edit_show',{identifier:show.slug}), icon: 'pencil', text: 'Edit this show'} }) }}
        {% if is_granted('DELETE', show) %}
            {{ include('navigation/delete-item.html.twig', {item: {id: 'delete_show', path: path('remove_show',{identifier:show.slug}), text: 'Delete this show', name: show.name, type: 'show'} }) }}
        {% endif %}
        {% if show.auditions | length == 0 %}
            {{ include('navigation/nav-item.html.twig',
            {item: {id: 'edit_auditions', path: path('edit_show_auditions',{identifier:show.slug}), icon: 'plus-circle', text: 'Add an audition'} }) }}
        {% else %}
            {{ include('navigation/nav-item.html.twig',
            {item: {id: 'edit_auditions', path: path('edit_show_auditions',{identifier:show.slug}), icon: 'pencil', text: 'Edit auditions'} }) }}
        {% endif %}
        {% if show.techieAdverts | length == 0 %}
            {{ include('navigation/nav-item.html.twig',
                {item: {id: 'new_techie_advert', path: path('new_show_techie_advert',{identifier:show.slug}), icon: 'plus-circle', text: 'Add technical team advert'} }) }}
        {% else %}
            {{ include('navigation/nav-item.html.twig',
                {item: {id: 'edit_techie_advert', path: path('edit_show_techie_advert',{identifier:show.slug}), icon: 'pencil', text: 'Edit/renew technical team advert'} }) }}
        {% endif %}
        {% if show.applications | length == 0 %}
            {{ include('navigation/nav-item.html.twig',
            {item: {id: 'new_application', path: path('new_show_application',{identifier:show.slug}), icon: 'plus-circle', text: 'Add director/producer advert'} }) }}
        {% else %}
            {{ include('navigation/nav-item.html.twig',
            {item: {id: 'edit_application', path: path('edit_show_application',{identifier:show.slug}), icon: 'pencil', text: 'Edit director/producer advert'} }) }}
        {% endif %}
        {{ include('navigation/nav-item.html.twig',
        {item: {id: 'edit_admin', path: path('edit_show_admin',{identifier:show.slug}), icon: 'pencil', text: "Edit the show's admins"} }) }}
        {{ include('navigation/nav-item.html.twig',
        {item: {id: 'show_add_many_roles', path: path('get_show_many_roles',{identifier:show.slug}), icon: 'users', text: "Add multiple roles"} }) }}
    </ul>

    <p>
    {% if admins is not empty %}
        The following people and/or groups can edit this show:
    {% endif %}
    {% for admin in admins %}
        {%- if admin.person is defined %}
            {%- if admin.person -%}
                <a href="{{ path('get_person', {identifier: admin.person.slug}) }}">{{ admin.name }}</a>
            {%- else -%}
                {{ admin.name }}
            {%- endif -%}
        {%- elseif admin.organisationType == 'society' %}
            <a href="{{ path('get_society', {identifier: admin.slug}) }}">{{ admin.name }}</a>
        {%- elseif admin.organisationType == 'venue' %}
            <a href="{{ path('get_venue', {identifier: admin.slug}) }}">{{ admin.name }}</a>
        {%- endif %}
        {{- not loop.last ? ',' }}
    {% endfor %}
    </p>
    {% if requested_admins is not empty %}
    <p>
        The following people have requested to be admins:
        {% for admin in requested_admins %}
            {%- if admin.person -%}
                <a href="{{ path('get_person', {identifier: admin.person.slug}) }}">{{ admin.name }}</a>
            {%- else -%}
                {{ admin.name }}
            {%- endif -%}
            {{- not loop.last ? ',' }}
        {% endfor %}
        </p>
    {% endif %}
{% if pending_admins is not empty %}
    <p>
        The following people will be admins, pending creating an account:
        {% for pending in pending_admins %}
            {{ pending.email }}
            {{- not loop.last ? ',' }}
        {% endfor %}
        </p>
    {% endif %}
</div>
{% endif %}
{% if not show.authorised %}
<div class="approve-panel row">
    {% if is_granted('APPROVE', show) %}
        <form action="{{ path('approve_show', {identifier: show.slug, _method: 'PATCH'}) }}" method="post">
            <em>This show is not yet visible to the public.</em>
            <button class="button right small"><i class="fa fa-check"></i> Approve this show</button>
        </form>
    {% else %}
        <p><em>This show is not yet visible to the public - it is awaiting approval from
                {% if show.society and show.venue %}someone on the <strong>{{ show.society.name }}</strong> committee or a representative of <strong>{{ show.venue.name }}</strong>
                {% elseif show.society %}someone on the <strong>{{ show.society.name }}</strong> committee
                {% elseif show.venue %}a representative of <strong>{{ show.venue.name }}</strong>
                {% else %}a Camdram administrator{% endif %}
            </em></p>
    {% endif %}
</div>
{% endif %}

