<div class="audition">
    <a href="#" class="remove_link right fa fa-times" title="Remove audition"></a>
    <div class="form-small-widget">
        {{ form_label(audition.date) }}
        {{ form_widget(audition.date) }}
        {{ form_errors(audition.date) }}
    </div>
    <div class="form-small-widget">
        {{ form_label(audition.start_time) }}
        {{ form_widget(audition.start_time) }}
        {{ form_errors(audition.start_time) }}
    </div>
    <div class="form-small-widget">
        {{ form_label(audition.end_time) }}
        {{ form_widget(audition.end_time) }}
        {{ form_errors(audition.end_time) }}
    </div>
    <div class="form-medium-widget">
        {{ form_label(audition.location) }}
        {{ form_widget(audition.location) }}
        {{ form_errors(audition.location) }}
    </div>

    {{ form_rest(audition) }}
</div>
