<div class="audition">
    <div class="form-medium-widget">
        {{ form_label(audition.location) }}
        {{ form_widget(audition.location) }}
    </div>

    <div class="form-small-widget">
        {{ form_label(audition.start_at.date, 'Advert expiry date') }}
        {{ form_widget(audition.start_at.date) }}
    </div>
    <div class="form-small-widget">
        {{ form_label(audition.start_at.time, 'Advert expiry time') }}
        {{ form_widget(audition.start_at.time) }}
    </div>

    <ul class="inline-list">
        <li> <a href="#" class="remove_link"><i class="fa fa-times"></i> Remove contact details</a></li>
    </ul>
    {{ form_rest(audition) }}
</div>
