<div class="audition">
    <a href="#" class="remove_link right fa fa-times" title="Remove audition"></a>
    <div class="form-small-widget">
        {{ form_label(audition.start_at.date) }}
        {{ form_widget(audition.start_at.date) }}
        {{ form_errors(audition.start_at.date) }}
    </div>
    <div class="form-small-widget">
        {{ form_label(audition.start_at.time, 'Start time') }}
        {{ form_widget(audition.start_at.time) }}
        {{ form_errors(audition.start_at.time) }}
    </div>
    <div class="form-small-widget">
        {{ form_label(audition.end_at, 'End time') }}
        {{ form_widget(audition.end_at) }}
        {{ form_errors(audition.end_at) }}
    </div>
    <div class="form-medium-widget">
        {{ form_label(audition.location) }}
        {{ form_widget(audition.location) }}
        {{ form_errors(audition.location) }}
    </div>

    {{ form_rest(audition) }}
</div>
