{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'vacancies' %}
{% block title %}Edit/Renew Auditions{% endblock %}

{% block body %}

{% set current_subnav_id = 'edit_auditions' %}
{{ render(controller('ActsCamdramBundle:Show:adminPanel', {show: form.vars.value})) }}

<h3>Add/Edit Auditions</h3>

<div class="panel">
    <p>
        Use the form below modify or add auditions for your show.
    </p>
    <p>
        You can add one or more audition sessions and/or leave contact details for people to get
        in touch about auditioning.
    </p>
    <p>
        The CUADC Actors' Reps aim to send out the Actors' mailing list with all the current
        auditions on Camdram twice a week during Full Term. For more information they can be
        contacted on <a href=mailto:actor@cuadc.org>actor@cuadc.org</a>.
    </p>
    <p>{{ include('markdown_notice.html.twig', { thing: 'audition information' }) }}</p>
    <p>
        Please ensure you have your team members' permission <em>before</em> adding their contact
        details to the advert!
    </p>
</div>

{{ form_start(form, {'action': path("put_show_auditions", {identifier: form.vars.value.slug} )}) }}
{{ form_row(form.aud_extra) }}

<div class="form-large-row">
    {{ form_label(form.scheduled_auditions) }}
    <div>
        <div class="scheduled_auditions entity_collection" data-prototype="{% filter escape('html') %}{% include 'show/auditions-form.html.twig' with {audition: form.scheduled_auditions.vars.prototype} %}{% endfilter %}">
            {% for audition in form.scheduled_auditions %}
                {% include 'show/auditions-form.html.twig' %}
            {% endfor %}
        </div>
        <ul class="inline-list">
            <li> <a href="#" class="add_link"><i class="fa fa-plus-circle"></i> Add an audition session</a></li>
        </ul>
    </div>
    {% do form.scheduled_auditions.setRendered() %}
</div>

<div class="form-large-row">
    {{ form_label(form.non_scheduled_auditions) }}
    <div>
        <div class="non_scheduled_auditions" data-prototype="{% filter escape('html') %}{% include 'show/auditions-non-scheduled-form.html.twig' with {audition: form.non_scheduled_auditions.vars.prototype} %}{% endfilter %}">
            {% for audition in form.non_scheduled_auditions %}
                {% include 'show/auditions-non-scheduled-form.html.twig' %}
            {% endfor %}
        </div>
        <ul class="inline-list">
            <li> <a href="#" class="add_link"><i class="fa fa-plus-circle"></i> Add contact details</a></li>
        </ul>
    </div>
    {% do form.non_scheduled_auditions.setRendered() %}
</div>

<div class="text-right">
    <input type="submit" value="Save" class="button"/>
</div>
{{ form_end(form) }}


<script>
    {#- begin-CSP-permitted-script -#}
    $('.scheduled_auditions').entityCollection({min_items: 0});
    $('.non_scheduled_auditions').entityCollection({min_items: 0, max_items: 1});
    {#- end-CSP-permitted-script -#}
</script>
{% endblock %}
