{{ form_errors(form) }}

{{ form_row(form.name) }}
{{ form_row(form.author) }}
{{ form_row(form.category) }}

<div class="form-large-row">
    {{ form_label(form.performances) }}
    <div>
        {{ form_widget(form.multi_venue) }}
        {{ form_errors(form.multi_venue) }}

        <div class="performances entity_collection" data-prototype="{% filter escape('html') %}{% include 'show/performance-form.html.twig' with {performance: form.performances.vars.prototype} %}{% endfilter %}">
            {% for performance in form.performances %}
                {% include 'show/performance-form.html.twig' %}
            {% endfor %}
        </div>
        <ul class="inline-list right performance-links">
           <li> <a href="#" class="add_link">Add date range</a></li>
        </ul>
    </div>
</div>


<div class="form-large-row main-venue-row">
    {{ form_label(form.venue) }}
    {{ form_widget(form.venue) }}
    {{ form_errors(form.venue) }}
</div>

<div class="form-large-row">
    {{ form_label(form.societies) }}
    <div>
        <p>Registered societies will appear in the search pop-up, but you can also add societies that aren't registered with Camdram. Adding a registered society allows its admins to approve and edit your show.
        {{ form_errors(form.societies) }}</p>
        <div class="linked-societies" data-prototype="{% filter escape('html') %}{% include 'show/society-form.html.twig' with {society: form.societies.vars.prototype} %}{% endfilter %}">
            {% for society in form.societies %}
		{% include 'show/society-form.html.twig' with {society: society} %}
            {% endfor %}
        </div>
        <ul class="inline-list right">
           <li> <a href="#" class="add_link">Add society</a></li>
        </ul>
    </div>
</div>

{{ form_row(form.description) }}

<div class="form-large-row">
    <span>Ticket sales</span>
    <div>
        <div class="form-small-widget">
            {{ form_label(form.online_booking_url) }}
            {{ form_widget(form.online_booking_url) }}
            {{ form_errors(form.online_booking_url) }}
        </div>
        <div class="form-small-widget">
            {{ form_label(form.prices) }}
            {{ form_widget(form.prices) }}
            {{ form_errors(form.prices) }}
        </div>
    </div>
</div>

<div class="form-large-row">
    <span>Social</span>
    <div>
        <div class="form-small-widget">
            {{ form_label(form.facebook_id) }}
            {{ form_widget(form.facebook_id) }}
            {{ form_errors(form.facebook_id) }}
        </div>
        <div class="form-small-widget">
            {{ form_label(form.twitter_id) }}
            {{ form_widget(form.twitter_id) }}
            {{ form_errors(form.twitter_id) }}
        </div>
    </div>
</div>

{{ form_rest(form) }}

<script>
$(function() {

    var update_date_fields = function() {
        var val = $('#show_multi_venue input:checked').val();
        switch (val) {
            case 'single':
                $('.performances .venue-row').hide();
                $('.main-venue-row').show();
                break;
            case 'multi':
                $('.performances .venue-row').show();
                $('.main-venue-row').hide();
                break;
        }
    };

    $('input[type=date]').live('change', function() {
        var $self = $(this);
        $self.parents('.performance').find('input[type=date]').each(function(key, input) {
            if (!$(input).val()) {
                $(input).val($self.val());
            }
        })
    })

    $('#show_multi_venue input').change(update_date_fields)
    $('.main-venue-row select').change(function() {
        $('.performances .venue-row select').val($(this).val());
    })

    update_date_fields();
    $('.performances').entityCollection({
        initialiseRow: update_date_fields
    });
    $('.linked-societies').entityCollection({
        initialiseRow: function(index, row) {
            var input = $(row).find("input");
            console.log(row);
            input.addClass("autocomplete_input");
            input.entitySearch({route: 'get_societies'});
        },
        min_items: 0
    });
});
</script>
