<div class="performance">
    <div class="row">
        <div class="right">
            <a href="#" class="remove_link"><i class="fa fa-times"></i></a>
        </div>
        <div class="form-small-widget">
            {{ form_label(performance.start_at.date, 'Start') -}}
            {{- form_widget(performance.start_at.date) }}
            {{ form_errors(performance.start_at.date) }}
        </div>
        <div class="end-date form-small-widget">
            {{ form_label(performance.repeat_until) -}}
            {{- form_widget(performance.repeat_until) }}
            {{ form_errors(performance.repeat_until) }}
        </div>
        <div class="form-small-widget">
            {{ form_label(performance.start_at.time) -}}
            {{- form_widget(performance.start_at.time) }}
            {{ form_errors(performance.start_at.time) }}
        </div>
        {{ form_errors(performance.start_at) }}
    </div>
    <div class="row venue-row">
        <div class="form-medium-widget">
            {{ form_label(performance.venue) -}}
            {{- form_widget(performance.venue) }}
            {{ form_errors(performance.venue) }}
        </div>
    </div>
{{ form_rest(performance) }}
</div>
