<div class="performance">
    <div class="row">
        <div class="right">
            <a href="#" class="remove_link"><i class="fa fa-times"></i></a>
        </div>
        <div class="form-small-widget">
            {{ form_label(performance.start_date) -}}
            {{- form_widget(performance.start_date) }}
            {{ form_errors(performance.start_date) }}
        </div>
        <div class="end-date form-small-widget">
            {{ form_label(performance.end_date) -}}
            {{- form_widget(performance.end_date) }}
            {{ form_errors(performance.end_date) }}
        </div>
        <div class="form-small-widget">
            {{ form_label(performance.time) -}}
            {{- form_widget(performance.time) }}
            {{ form_errors(performance.time) }}
        </div>
    </div>
    <div class="row venue-row">
        <div class="form-medium-widget">
            {{ form_label(performance.venue) -}}
            {{- form_widget(performance.venue) }}
            {{ form_errors(performance.venue) }}
        </div>
    </div>
{{ form_rest(performance) }}
</div>
