{{ form_start(form) }}
{{ form_errors(form) }}
<div class="show-new-role-fields">
{{ form_widget(form.role, {'attr': {'placeholder': 'Role: e.g. Antonio, Director'}}) }}
{{ form_widget(form.name, {'attr': {'placeholder': 'Name'}}) }}
<p>You must seek people's permission before you add their names to Camdram.</p>
</div>
{{ form_widget(form.send, { 'label' : 'Add role' }) }}
{{ form_end(form) }}
