{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'shows' %}
{% block title %}Show: {{ show.name }}{% endblock %}

{# Facebook open graph markup #}
{% block opengraph %}
    <meta property="og:url" content="{{ url('get_show', {identifier: show.slug}) }}" />
    <meta property="og:title" content="{{ show.name }}" />
    <meta property="og:description" content="{{ show.description | strip_camdram_markdown | strip_new_lines | truncate(500) }}" />
    {% if show.image %}
        <meta property="og:image" content="{{ show.image.filename | imagine_filter('preview') }}" />
    {% else %}
        {# Maybe put a stock camdram image here? #}
    {% endif %}
{% endblock %}

{% block body %}

{% if is_granted('EDIT', show) %}
{{ render(controller('ActsCamdramBundle:Show:adminPanel', {show: show})) }}
{% endif %}

{% if not is_granted('IS_AUTHENTICATED_FULLY') and is_granted('EDIT', show) %}
<div class="row text-center">
    <p><a href="{{ path('edit_show_inline', {identifier: show.slug})
              }}"><i class="fa fa-key"></i> Log in to edit show details</a></p>
</div>
{% endif %}

<div class="row panel" itemscope="" itemtype="http://schema.org/TheaterEvent">
    <meta itemprop="name" content="{{ show.name }}"/>
    <ul class="inline-list right">
        {%- if show.hasFuturePerformances() -%}
            {%- if show.onlineBookingUrl -%}
                <li><a href="{{ show.onlineBookingUrl }}" target="_blank"><i class="fa fa-ticket"></i> Buy tickets
                    {% if show.prices %}({{ show.prices }}){% endif %}</a>
                </li>
            {%- elseif show.prices -%}
                <li>Tickets: {{ show.prices }}</li>
            {%- endif -%}
        {%- endif -%}

        {%- if show.facebookId -%}<li>
            <a href="{{ show.getFacebookUrl() }}" target="_blank" class="icon-link">
                <img src="{{ asset('images/service/facebook.png') }}" srcset="{{ asset('images/service/facebook.png') }}, {{ asset('images/service/facebook-29.png') }} 1.5x, {{ asset('images/service/facebook-38.png') }} 2x, {{ asset('images/service/facebook-76.png') }} 4x" alt="This show's Facebook page" /></a>
        </li>{%- endif -%}
        {%- if show.twitterId -%}<li>
            <a href="{{ show.getTwitterUrl() }}" target="_blank" class="icon-link">
                <img src="{{ asset('images/service/twitter.png') }}" srcset="{{ asset('images/service/twitter.png') }}, {{ asset('images/service/twitter-29.png') }} 1.5x, {{ asset('images/service/twitter-38.png') }} 2x, {{ asset('images/service/twitter-76.png') }} 4x" alt="This show's Twitter page"/></a>
        </li>{%- endif -%}
    </ul>

    {%- if show.society -%}
        <p class="show-society" itemprop="organizer" itemscope="" itemtype="http://schema.org/TheaterGroup">
                <a href="{{ path('get_society', {identifier: show.society.slug}) }}" itemprop="url"><span itemprop="name">{{ show.society.name }}</span></a> presents...
        </p>
    {% elseif show.societyname is not empty %}
        <p class="show-society" itemprop="organizer" itemscope="" itemtype="http://schema.org/TheaterGroup">
            <span itemprop="name" content="{{ show.societyname }}">{{ show.societyname }}</span> presents...
        </p>
    {% endif %}

    <h2 itemprop="workPerformed" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span itemprop="name">{{ show.name }}</span>
        {%- if show.author -%}
            <br/><small itemprop="creator" itemscope="" itemtype="http://schema.org/Person"> By <span itemprop="name">{{ show.author }}</span></small>
        {%- endif -%}
    </h2>

    {# Display show image #}
    {%- if show.image -%}
        <div class="entity-image-container">
            <a itemprop="image" href="{{ show.image.filename | imagine_filter('preview') }}" data-fancybox><img src="{{ show.image.filename | imagine_filter('thumbnail') }}" /></a>
            {%- if is_granted('EDIT', show) and is_granted("IS_AUTHENTICATED_FULLY") -%}
                <ul class="inline-list">
                {{ include('navigation/delete-item.html.twig', {item:
                        {id: 'delete_show',
                         path: path('remove_show_image', {identifier:show.slug}),
                         text: 'Remove image', name: show.name, type: 'image'} }) }}
                </ul>
            {%- endif -%}
        </div>

        {# Show prompt to upload image #}
    {%- elseif is_granted('EDIT', show) and is_granted("IS_AUTHENTICATED_FULLY") -%}
        <div class="entity-image-container">
            <form action="{{ oneup_uploader_endpoint('images') }}" id="image_upload" class="dropzone">
                <input type="hidden" name="identifier" value="{{ show.slug }}"/>
                <input type="hidden" name="type" value="show"/>
            </form>
        </div>
    {%- endif -%}
    <div class="entity-body-text">
        {{ include('show/show-body.html.twig') }}
    </div>
</div>

{%- if show.hasVacancies() -%}
<div class="vacancies-panel" class="row">
    <h5>Get involved with <em>{{ show.name }}</em>:</h5>
    {% if show.getScheduledAuditions() | length > 0 %}
    <p>Auditions are being held at the times below – <a href="{{ path('get_audition', {identifier: show.slug}) }}">more details</a></p>
        <ul>
            {% for a in show.getScheduledAuditions() %}
            <li>{{ a.date|date('D d M') }}, {{ a.starttime|date('g:ia') }}-{{ a.endtime|date('g:ia') }}, {{ a.location }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if show.getNonScheduledAuditions() | length > 0 %}
        {% for a in show.getNonScheduledAuditions() %}
        <p>For auditions contact {{a.location}} by {{ a.starttime|date('g:ia') }} on {{ a.date|date('D d M') }} – <a href="{{ path('get_audition', {identifier: show.slug}) }}">more details</a></p>
        {% endfor %}
    {% endif %}
    {% if show.activeTechieAdvert %}
        <p>We are looking for:
            {% for p in show.activeTechieAdvert.positions|split("\n") -%}
                {%- if not loop.first and loop.last %} and {% elseif not loop.first %}, {% endif -%}
                {{- p | trim -}}
            {%- endfor %}
        – <a href="{{ path('get_techie', {identifier: show.activeTechieAdvert.slug}) }}">more details</a></p>
    {% endif %}
    {% if show.activeApplication %}
        <p>{{ show.activeApplication.text() }} –
        <a href="{{ path('get_application', {identifier: show.activeApplication.show.slug}) }}">more details</a></p>
    {% endif %}
</div>
{%- endif -%}

<div class="row show-roles-container">
    {% set display_band = (show.getRolesByType('band')|length > 0) or is_granted('EDIT', show) %}
    <div>
        <h3>Cast</h3>
        {% include 'show/showRoles.html.twig' with {show: show, type: 'cast', id: 'sortable-cast'} %}
    </div>
    {% if display_band == true %}
        <div>
            <h3>Band</h3>
            {% include 'show/showRoles.html.twig' with {show: show, type: 'band', id: 'sortable-band'} %}
        </div>
    {% endif %}
    <div>
        <h3>Production Team</h3>
        {% include 'show/showRoles.html.twig' with {show: show, type: 'prod', id: 'sortable-prod'} %}
    </div>
</div>

<div class="row">
    <ul class="inline-list">
        {{ include('navigation/nav-items.html.twig', {
            items: {
                show_sign_in_sheet : {path: path('acts_camdram_signinsheet',{slug:show.slug}), icon: 'print', text: 'Print sign in sheet'},
                show_sign_in_sheet_csv : {path: path('acts_camdram_signinsheet',{slug: show.slug, _format: 'csv'}), icon: 'table', text: 'Download sign in sheet (CSV)'}
            }
        }) }}

        {% if app.user and not is_granted('EDIT', show) %}
            {{ include('navigation/nav-item.html.twig',
                {item: {id: 'show_request_admin', path: path('request_show_admin',{identifier: show.slug}), icon: 'unlock-alt', text: 'Request to be an admin'} }) }}
        {% endif %}
    </ul>
</div>

{% if is_granted('EDIT', show) and is_granted('IS_AUTHENTICATED_FULLY') %}
<script>
    $("div[id|='sortable']").sortable({
        axis: "y",
        items: "> div",
        stop: function(event, ui) {
            jQuery.ajax({
                url: "{{ url('patch_roles_reorder') }}",
                type: 'PATCH',
                data: $(this).sortable('serialize')
            });
        }
    });
</script>
{# Putting this here rather than in the site-wide CSS as it's a bit specific and
   it may be removed if the role-adding gets a rework. #}
<style>
div[id|='sortable'] .ui-sortable-handle {
  cursor: grab;
}
div[id|='sortable'] .ui-sortable-handle.ui-sortable-helper {
  cursor: grabbing;
}
</style>
{% endif %}
{% endblock %}
