{% apply spaceless %}
{% set roles = show.getRolesByType(type) %}
{% set editable = is_granted('EDIT', show) and is_granted("IS_AUTHENTICATED_FULLY") %}
{% set current_role = null %}
<div id="{{ id }}">
{%- for role in roles -%}
    {%- if editable or  (role.role != current_role) or (role.role == null) %}
        {{ not loop.first ? '</div>' }}
        <div {% if editable %}id="role_{{ role.id }}"{% endif %} style="clear: both">
        {%- if editable -%}
        <div class="right">
            <i class="fa fa-arrows-v"></i>&nbsp;
            <form action="{{ path('delete_show_role', {identifier: show.slug, 'role': role.id}) }}"
                    class="delete-form inline-block" method="post" id="role-delete-form-{{ role.id }}">
                <input type="hidden" name="_method" value="DELETE"/>
                <input type="hidden" name="_token" value="{{ csrf_token('delete_show_role') }}"/>
                <button class="fa fa-trash-o text-button" title="Delete role"></button>
            </form>
        </div>
        {%- endif -%}

        {# Pretify name-less roles held by people. #}
        {%- if role.role -%}
            {%- if type == 'cast' -%}
                <span itemprop="character" itemscope="" itemtype="http://schema.org/Person"><span itemprop="name">{{ role.role }}</span></span> -
            {%- else -%}
                {{ role.role }} -
            {%- endif -%}
            {%- set current_role = role.role -%}
        {%- endif -%}
    {%- else -%}
        ,
    {% endif %}
    <span itemprop="
    {%- if type == 'cast' or type == 'band' -%}
        performer
    {%- else -%}
        contributor
    {%- endif -%}
    " itemscope="" itemtype="http://schema.org/Person">
        <a itemprop="url" href="{{ path('get_person', {identifier: role.person.slug}) }}"><span itemprop="name">{{ role.person.name }}</span></a>
    </span>
    {{- loop.last ? '</div>' }}
{%- endfor -%}
</div>
{% if editable %}
    {{ render(controller('Acts\\CamdramBundle\\Controller\\Show\\RoleController::newRole', {identifier: show.slug, type: type})) }}
{% endif %}
{% endapply %}
