{{ form_row(form.positions) }}
{{ form_row(form.contact) }}
<div id="deadline-fields" class="form-large-row">
    <span>Deadline</span>
    <div>
        <label for="{{ form.deadline.vars.id }}" class="form-checkbox-row">
          {{ form_widget(form.deadline) }}
          {{ form.deadline.vars.label }}
        </label>
        {{ form_errors(form.deadline) }}
        <div class="form-small-widget">
          {{ form_label(form.expiry.date) }}
          {{ form_widget(form.expiry.date) }}
        </div>
        <div class="form-small-widget">
          {{ form_label(form.expiry.time) }}
          {{ form_widget(form.expiry.time) }}
        </div>
        {{ form_errors(form.expiry) }}
    </div>
</div>
{{ form_rest(form) }}

<script>
    {#- begin-CSP-permitted-script -#}
    $(function() {
        var $has_deadline = $('#techie_advert_deadline');
        var $deadline_fields = $('#deadline-fields .form-small-widget');

        $has_deadline.change(function() {
            if ($(this).is(':checked')) {
                $deadline_fields.slideDown(200);
            }
            else {
                $deadline_fields.slideUp(200);
            }
        })

        if (!$has_deadline.is(':checked')) {
            $deadline_fields.hide();
        }
    })
    {#- end-CSP-permitted-script -#}
</script>
