{{ form_row(form.positions) }}
{{ form_row(form.contact) }}
{{ form_row(form.deadline) }}
<div id="deadline-fields">
    {{ form_errors(form) }}
    {{ form_row(form.expiry) }}
    {{ form_row(form.deadline_time) }}
</div>
{{ form_rest(form) }}

<script>
    $(function() {
        var $has_deadline = $('#techie_advert_deadline');
        var $deadline_fields = $('#deadline-fields');

        $has_deadline.change(function() {
            if ($(this).is(':checked')) {
                $deadline_fields.slideDown(200);
            }
            else {
                $deadline_fields.slideUp(200);
            }
        })

        if (!$has_deadline.is(':checked')) {
            $deadline_fields.hide();
        }
    })
</script>
