{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'home' %}
{% block title %}Home{% endblock %}

{% block body %}
<h3>Welcome to Camdram&emsp;<small>The portal website for student theatre in Cambridge</small></h3>

{% if shutdown_notice %}
<div class="row" style="border: 1px solid black; padding: 1em; margin-bottom: 1em;">
    {{ shutdown_notice | camdram_markdown }}
</div>
{% else %}
<div id="home-diary-container">
   <div id="home-diary-nav">
       <ul>
           <li class="diary-expand">
               <a title="Expand diary"><i class="fa fa-expand"></i></a>
           </li>
           {%- for week in weeks -%}
               {%- if term is not defined or term != week.name|split(' May Week')[0]|split(' Week')[0] -%}
               <li class="diary-term-name">
                   {%- if loop.first -%}
                   <a href="{{ url('acts_camdram_diary') }}" class="diary-link">View more in diary</a>
                   {%- endif -%}
                   {%- set term = week.name|split(' May Week')[0]|split(' Week')[0] -%}
                   {{ term }}
               </li>
               {%- endif -%}
               <li data-week-start="{{ week.startAt | date('Y-m-d') }}" class="week-link
                   {%- if week == current_week %} current{% endif -%}
                   {%- if week.startAt < current_week.startAt %} past{% endif -%}">
                   <a>
                       {%- set shortname = week.name|split(term)|join|trim -%}
                       {%- if shortname is not empty -%}<span style="white-space: nowrap;">{{shortname}}</span>{%- endif -%}
                       <span>
                           {%- if week == current_week -%}
                               <strong>This week</strong>
                           {%- elseif week.startAt == current_week.endAt -%}
                               Next week
                           {%- else -%}
                               {{ week.startAt|date('j&\\nb\\sp;M')|raw }}–<wbr>
                               {{- week.endAt|date_modify("-1 day")|date('j&\\nb\\sp;M')|raw }}
                           {%- endif -%}
                       </span>
                   </a>
               </li>
           {% endfor %}
       </ul>
   </div>
   <div class="home-diary">
       {{ render(url('acts_camdram_diary_single_week', {fragment: true, date: current_week.startAt | date('Y-m-d')}) , { 'strategy': 'esi'}) }}
   </div>
</div>
{% endif %}

<div class="row" id="home_news_container">
    <div class="newsfeed-left-aside">
        {% if not shutdown_notice %}
        <div id="home_statistics">
            {{ render(controller('Acts\\CamdramBundle\\Controller\\DefaultController::statisticsAction'), {'strategy': 'esi'}) }}
        </div>
        <hr />
        {% endif %}

        <div id="home_vacancies">
            {{ render(controller('Acts\\CamdramBundle\\Controller\\DefaultController::vacanciesAction'), {'strategy': 'esi'}) }}
        </div>
        <hr />

        <div id="home_wiki">
            {{ render(controller('Acts\\CamdramBundle\\Controller\\DefaultController::wikiAction'), {'strategy': 'esi'}) }}
        </div>
        <hr />

        <div id="home_historic">
            {{ render(controller('Acts\\CamdramBundle\\Controller\\DefaultController::historicDataAction'), {'strategy': 'esi'}) }}
        </div>
        <hr />
    </div>

    <h4>News</h4>
    {% for item in news %}
        {% include 'news/item.html.twig' %}
    {% endfor %}
</div>


{% endblock %}
