{% extends 'layout.html.twig' %}

{% block title %}Merge Person: {{ person.name }}{% endblock %}

{% block body %}

{% if is_granted('EDIT', person) %}
    {{ include('person/admin-panel.html.twig') }}
{% endif %}

<div id="entity-header">
    <h2><a href="{{ path('get_person', {identifier: person.slug}) }}">{{ person.name }}</a></h2>

    <h4>Merge {{ person.name }} (<em>{{ person.slug }}</em>) with</h4>
</div>


<form action="{{ path("merge_person", {identifier: person.slug}) }}" method="post">
    <p>Please either search for the other person, or enter the slug/URL for the other person:</p>
    {{ form_errors(form) }}

    {{ form_row(form.search_by) }}
    <div class="panel" id="name_fields">
        {{ form_row(form.person) }}
        <p>Selected profile: <span id="name_link"></span></p>
    </div>
    <div class="panel" id="slug_fields">
        {{ form_row(form.slug) }}
        <p>Selected profile: <span id="slug_link"></span></p>
    </div>

    {{ form_row(form.keep_person) }}
    {{ form_rest(form) }}

    <div class="text-right">
        <input type="submit" value="Merge" class="button" />
    </div>

</form>

<script>
    {#- begin-CSP-permitted-script -#}
    $(function() {
        var nameFields = $('#name_fields');
        var slugFields = $('#slug_fields');
        var nameRadio = $('#form_search_by_0');
        var slugRadio = $('#form_search_by_1');

        var createLink = function(slug) {
            var url = Routing.generate('get_person', {identifier: slug}, true);
            return $('<a/>').attr('href', url).attr('target', '_blank').text(url);
        }

        $('#form_person_person_name').on('entitysearch:changed', function(event, datum) {
            $('#name_link').html(createLink(datum.slug));
        });
        $('#form_slug').keyup(function() {
            var slug = $(this).val();
            var matches = slug.match(/\/people\/([a-z\-]+)/i);
            if (matches) {
                slug = matches[1];
            }
            var slugRegex = /^[a-z\-]+$/i
            if (slugRegex.test(slug)) {
                $('#slug_link').html(createLink(slug));
            }
            else {
                $('#slug_link').html('');
            }
        });

        var updateMergeForm = function() {
            if (nameRadio.is(':checked')) {
                nameFields.show();
                slugFields.hide();
            }
            else {
                nameFields.hide();
                slugFields.show();
            }
        }
        updateMergeForm();
        nameRadio.change(updateMergeForm);
        slugRadio.change(updateMergeForm);
    })
    {#- end-CSP-permitted-script -#}
</script>

{% endblock %}
