{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block body %}
<h2>Find existing roles</h2>
    <form method="post" action="{{ path('camdram_security_setup_link_person') }}" xmlns="http://www.w3.org/1999/html">
        {% if people|length == 1 %}
            {% set person = people.0 %}

            <p>We have found someone called {{ person.name }} on camdram who has been involved with the following shows:</p>

            {% for role in person.roles %}
                {{ role.show.name }} ({{ role.role }}){% if not loop.last %},{% endif %}
            {% endfor %}

            <p>Do you recognise this person to be yourself?</p>
            <p>
                <button type="submit" name="link_people[{{ person.id }}]" value="1">Yes</button>
                <button type="submit">No</button>
            </p>

        {% elseif people|length > 1 %}

            <p>We have found some people on camdram that we think you might be relevant:</p>

            {% for person in people %}
                <p>
                    <input type="checkbox" id="link_people_{{ person.id }}" name="link_people[{{ person.id }}]" value="1"/>
                    <label for="link_people_{{ person.id }}">{{ person.name }}
                        <em>{% for role in person.roles %}
                                {{ role.show.name }} ({{ role.role }}){% if not loop.last %},{% endif %}
                            {% endfor %}</em></label>
                </p>
            {% endfor %}

            <p><button type="submit">Confirm</button></p>

        {% endif %}
    </form>
{% endblock %}