{% extends 'layout.html.twig' %}
{% set current_navigation_id = 'about' %}

{% block title %}About Camdram{% endblock %}

{% block body %}
<h2>About Camdram</h2>

<p>
    Camdram supports the amateur performing arts community in the historic city of Cambridge, England.
    We're here for students and staff from either University as well as other schools and colleges. We
    also welcome a selection of non-student drama productions too. Camdram has been 100% free and
    volunteer-run since the beginning in 2004.
</p>

<h3>What is Camdram?</h3>

<p>
    Camdram is a website for advertising vacancies in amateur drama productions and for maintaining a
    historic record of past shows, their cast, crew &amp; band members. All information comes from
    users like you, spanning drama, dance, comedy, musicals music and even a few radio &amp; TV shows!
</p>

<h3>How do I use Camdram?</h3>

<ul>
    <li>
        Our <a href="{{ path('acts_camdram_diary') }}">event diary</a> makes it easy to see what’s
        happening now, in the future, and for more than a decade past.
    </li>
    <li>
        You can easily <a href="{{ path('get_adverts') }}">get involved</a>, thanks to our listings
        of auditions, production team vacancies, and society funding opportunities.
    </li>
    <li>
        Search for any show, society, venue or person from the past, present or future. Get detailed
        information about you friend's show and find links to where to buy tickets, for example.
    </li>
    <li>
        View a list of the city's many theatrical <a href="{{ path('get_societies') }}">societies</a>
        and <a href="{{ path('get_venues') }}">performance spaces</a>.
    </li>
</ul>

<h3>Who runs Camdram?</h3>

<p>
    The site itself is maintained by volunteers in their spare time, most of which are former students
    of the University. If you have a question or problem, or if you’re interested in helping, please
    <a href="{{ path('acts_camdram_contact_us') }}">contact us</a>.
</p>

<p>
    Camdram is also an open-source software project. All the code that runs Camdram is openly accessible
    and freely licensed under permissive open-source software licenses. If this kind of thing interests
    you then please check out our <a href="{{ path('acts_camdram_development') }}">development page</a>.
</p>
{% endblock %}
