{% extends 'api/layout.html.twig' %}
{% set current_api_nav_id = 'apps' %}

{% block title %}API{% endblock %}

{% block api_body %}

    <h4>My Apps</h4>

    <a href="{{ path('new_app') }}" class="button small">Create new app</a>

    <h5>Apps owned by me</h5>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for ex_app in user_apps %}
            <tr>
                <td><a href="{{ path('get_app', {app_id: ex_app.randomId}) }}"><i class="fa fa-pencil"></i></a></td>
                <td><a href="{{ path('get_app', {app_id: ex_app.randomId}) }}">{{ ex_app.name }}</a></td>
                <td>{{ ex_app.appType | capitalize }}</td>
                <td>{{ ex_app.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
