{% extends 'api/layout.html.twig' %}
{% set current_api_nav_id = 'apps' %}

{% block title %}{{ ex_app.name }} - API{% endblock %}

{% block api_body %}

    <h4>My Apps</h4>
    <h5>{{ ex_app.name }}</h5>

    <p>
        <strong>App ID:</strong> {{ ex_app.publicId }}
    </p>
    <p>
        <strong>App secret:</strong> {{ ex_app.secret }}<br />
        <ul class="inline-list">
        {{ include('navigation/form-item.html.twig', {item: {id: 'regenerate_app_secret',
            path: path('regenerate_app_secret', {app_id:ex_app.randomId}), text: 'Regenerate secret', icon: 'refresh'},
            destructive: {title: "Are you sure you want to regenerate the secret for the app “" ~ ex_app.name ~ "”?",
                text: "This will invalid all existing access tokens" }
            }) }}
        </ul>
    </p>

    {{ form_start(form, {'action': path('put_app', {app_id: ex_app.randomId})}) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}

    <div class="row">
        <input type="submit" class="button right" value="Save"/>

        <ul class="inline-list">
        {{ include('navigation/form-item.html.twig', {item: {id: 'delete_app',
            path: path('delete_app', {app_id:ex_app.randomId}), method: 'DELETE', text: 'Delete app', icon: 'eraser'},
            destructive: {title: "Are you sure you want to delete the app “" ~ ex_app.name ~ "”?" }
            }) }}
        </ul>

        <p><a href="{{ path('get_apps') }}">Return to My Apps</a></p>
    </div>

    {{ form_end(form) }}

{% endblock %}
