{% if is_granted('EDIT', show) %}
<div class="admin-panel">
    <h6 class="split-header">
        <span>Show Administration: {{ link_entity(show) }}</span>
        <span>ID: {{ show.id}}</span></h6>
    <ul role="menubar">
        {{ include('navigation/nav-item.html.twig', {item: {id: 'edit_show', path: path('acts_camdram_show_edit',{identifier:show.slug}), icon: 'pencil', text: 'Edit this show'} }) }}
        {% if is_granted('DELETE', show) %}
            {{ include('navigation/form-item.html.twig', {item: {id: 'delete_show',
                path: path('acts_camdram_show_delete', {identifier:show.slug}), method: 'DELETE', text: 'Delete this show', icon: 'eraser'},
                destructive: {title: "Are you sure you want to delete the show “" ~ show.name ~ "”?", text: "This is a permanent action that cannot be undone" }
                }) }}
        {% endif %}
        {% if show.authorised and is_granted('APPROVE', show) %}
            {{ include('navigation/form-item.html.twig', {item: {id: 'unapprove_show', path: path('unapprove_show',{identifier:show.slug}), icon: 'lock', text: 'Deauthorize this show' },
               destructive: {title: "Are you sure you want to de-authorize this show?", text: "The show “" ~ show.name ~ "” will be hidden from public view, and returned to the awaiting-approval stage." }}) }}
        {% endif %}
        {% if show.auditions | length == 0 %}
            {{ include('navigation/nav-item.html.twig',
            {item: {id: 'edit_auditions', path: path('edit_show_auditions',{identifier:show.slug}), icon: 'plus-circle', text: 'Add an audition'} }) }}
        {% else %}
            {{ include('navigation/nav-item.html.twig',
            {item: {id: 'edit_auditions', path: path('edit_show_auditions',{identifier:show.slug}), icon: 'pencil', text: 'Edit auditions'} }) }}
        {% endif %}
        {% if show.techieAdverts | length == 0 %}
            {{ include('navigation/nav-item.html.twig',
                {item: {id: 'new_techie_advert', path: path('new_show_techie_advert',{identifier:show.slug}), icon: 'plus-circle', text: 'Add technical team advert'} }) }}
        {% else %}
            {{ include('navigation/nav-item.html.twig',
                {item: {id: 'edit_techie_advert', path: path('edit_show_techie_advert',{identifier:show.slug}), icon: 'pencil', text: 'Edit/renew technical team advert'} }) }}
        {% endif %}
        {% if show.applications | length == 0 %}
            {{ include('navigation/nav-item.html.twig',
            {item: {id: 'new_application', path: path('new_show_application',{identifier:show.slug}), icon: 'plus-circle', text: 'Add director/​producer advert'} }) }}
        {% else %}
            {{ include('navigation/nav-item.html.twig',
            {item: {id: 'edit_application', path: path('edit_show_application',{identifier:show.slug}), icon: 'pencil', text: 'Edit director/​producer advert'} }) }}
        {% endif %}
        {{ include('navigation/nav-item.html.twig',
        {item: {id: 'edit_admin', path: path('edit_show_admin',{identifier:show.slug}), icon: 'pencil', text: "Edit the show's admins"} }) }}
        {{ include('navigation/nav-item.html.twig',
        {item: {id: 'show_edit_roles', path: path('get_show_edit_roles',{identifier:show.slug}), icon: 'users', text: "Edit roles"} }) }}
    </ul>

    <p>
    {% if admins is not empty %}
        The following people and/or groups can edit this show:
    {% endif %}
    {% for admin in admins %}
        {%- if admin.person is defined %}
            {%- if admin.person -%}
                <a href="{{ path('get_person', {identifier: admin.person.slug}) }}">{{ admin.name }}</a>
            {%- else -%}
                {{ admin.name }}
            {%- endif -%}
        {%- elseif admin.organisationType == 'society' %}
            <a href="{{ path('get_society', {identifier: admin.slug}) }}">{{ admin.name }}</a>
        {%- elseif admin.organisationType == 'venue' %}
            <a href="{{ path('get_venue', {identifier: admin.slug}) }}">{{ admin.name }}</a>
        {%- endif %}
        {{- not loop.last ? ',' }}
    {% endfor %}
    </p>
    {% if requested_admins is not empty %}
    <p>
        The following people have requested to be admins:
        {% for admin in requested_admins %}
            {%- if admin.person -%}
                <a href="{{ path('get_person', {identifier: admin.person.slug}) }}">{{ admin.name }}</a>
            {%- else -%}
                {{ admin.name }}
            {%- endif -%}
            {{- not loop.last ? ',' }}
        {% endfor %}
        </p>
    {% endif %}
{% if pending_admins is not empty %}
    <p>
        The following people will be admins, pending creating an account:
        {% for pending in pending_admins %}
            {{ pending.email }}
            {{- not loop.last ? ',' }}
        {% endfor %}
        </p>
    {% endif %}
</div>
{% endif %}
{% if not show.authorised %}
    {% if is_granted('APPROVE', show) %}
        <form action="{{ path('approve_show', {identifier: show.slug}) }}" method="post" class="panel text-center" style="display: flex">
            <input type="hidden" name="_method" value="PATCH"/>
            <input type="hidden" name="_token" value="{{ csrf_token('approve_show') }}"/>
            <p style="margin: auto; padding: 0.4em">This show is not yet visible to the public.</p>
            <button class="button right small"><i class="fa fa-check"></i> Approve this show</button>
        </form>
    {% else %}
        <div class="panel text-center">
            <p>This show is not yet visible to the public – it is awaiting approval
            from a society/venue owner or a Camdram administrator.
            <p>If this show is funded by a society or is at a venue that you haven't yet added, please <strong><a href="{{ path('acts_camdram_show_edit',{identifier:show.slug}) }}">click here to add them</a></strong> so they can approve your show.
        </div>
    {% endif %}
{% endif %}
{%- if errors -%}
<div class="error_panel">
<h3 class="text-center" aria-label="Warning"><i class="fa fa-info-circle"></i></h3>
<p>{{ errors|length == 1 ? 'A problem was' : 'Problems were' }}
found in this show's listing. This may be a result of your show or another show; if you think another show is at fault, you should attempt to contact them to rectify it. These problems don't necessarily prevent your show from appearing, and are only shown to admins.

<ul class="prose-list">
{%- for err in errors -%}
  <li>
  {%- if err[0] == 'clashwithother' -%}
     Clash (at {{ err[1].venuename }}) between this show's performance at {{ err[1].datestring }} and<ul>
     {%- for perf in err[2:] -%}
        <li>{{ link_entity(perf.show) }}
            <em>(ID={{ perf.show.id ~ (perf.show.authorised ? '' : ', not authorized') }})</em>: {{ perf.datestring }}</li>
     {%- endfor -%}</ul>
  {%- elseif err[0] == 'noperformances' -%}
     This show has no performances attached; please edit it and add the dates, time, and venue!
  {%- else -%}
     {{ err[0] }}
  {%- endif -%}</li>
{%- endfor -%}
</ul></div>
{%- endif -%}
