{# A common template for displaying information of about a show in any kind
 of advert i.e. auditions, production team vancancies, and applications to
 direct or produce.
   Uses url() so it's safe to include in emails. #}
<h5><a href="{{ url('get_show',
    {identifier: show.slug}) }}">{{ show.name }}</a>
    {% for society in show.prettysocdata %}
        {{- loop.index == 1 ? " – " -}}
        {%- if society.id is defined -%}
            <a href="{{ url('get_society', {identifier: society.slug}) }}">{{ society.shortname ?: society.name }}</a>
        {%- else -%}
            {{ society.name }}
        {%- endif -%}
        {%- if loop.revindex > 2 -%}
            ,
        {% elseif loop.revindex == 2 %}
            and
        {% endif -%}
    {% endfor %}
</h5>
{% include 'performance/show.html.twig' with { 'performances' : show.performances } %}
{% if show.weeks is not empty %}
<em>{{ show.weeks }}</em>
{% endif %}

