{%- from 'form/fields.html.twig' import entity_search_macro -%}

{{ form_errors(form) }}

{{ form_row(form.name) }}
{{ form_row(form.author) }}
{{ form_row(form.category) }}

<div class="form-large-row" id="show_form_performances">
    {{ form_label(form.performances) }}
    <div>
        {{ form_widget(form.multi_venue) }}
        {{ form_errors(form.multi_venue) }}

        <div class="performances entity_collection" data-prototype="{% apply escape('html') %}{% include 'show/performance-form.html.twig' with {performance: form.performances.vars.prototype} %}{% endapply %}" data-entitycollection-init="{}">
            {% for performance in form.performances %}
                {% include 'show/performance-form.html.twig' %}
            {% endfor %}
        </div>
        <ul class="inline-list right performance-links">
           <li> <a href="#" class="add_link">Add date range</a></li>
        </ul>
    </div>
</div>


<div class="form-large-row main-venue-row">
    {{ form_label(form.venue) }}
    {{- entity_search_macro('get_venues', form.venue, null, true) -}}
    {{ form_errors(form.venue) }}
</div>

<div class="form-large-row">
    {{ form_label(form.societies) }}
    <div>
        <p class="help-text">
            Registered societies will appear in the search pop-up,
            but you can also add societies that aren't registered with Camdram.
            Adding a registered society allows its admins to approve and edit
            your show. &nbsp;
            <a href="{{ path('acts_camdram_faq') }}#newsociety">How do societies
            become registered with Camdram?</a></p>
        {{ form_errors(form.societies) }}
        <div class="linked-societies" data-prototype="{% apply escape('html') %}{% include 'show/society-form.html.twig' with {society: form.societies.vars.prototype} %}{% endapply %}" data-entitycollection-init="{&quot;min_items&quot;: 0}">
            {% for society in form.societies %}
        {% include 'show/society-form.html.twig' with {society: society} %}
            {% endfor %}
        </div>
        <ul class="inline-list right">
           <li> <a href="#" class="add_link">Add society</a></li>
        </ul>
    </div>
    {% do form.societies.setRendered %}
</div>

<div class="form-large-row">
    {{ form_label(form.description) }}
    <div>
        <p class="help-text">{{ include('markdown_notice.html.twig', { thing: 'show descriptions' }) }}</p>

        <p class="help-text">Write this with the general public in mind – what is this show and why
            should somebody come to see it? Don't mention auditions or production
            team vacancies: you'll add them later.</p>
         {{ form_widget(form.description) }}
         {{ form_errors(form.description) }}
    </div>
</div>

<div class="form-large-row">
    <span>Ticket sales</span>
    <div>
        <div class="form-small-widget">
            {{ form_label(form.online_booking_url) }}
            {{ form_widget(form.online_booking_url) }}
            {{ form_errors(form.online_booking_url) }}
        </div>
        <div class="form-small-widget">
            {{ form_label(form.prices) }}
            {{ form_widget(form.prices) }}
            {{ form_errors(form.prices) }}
        </div>
    </div>
</div>

<div class="form-large-row">
    {{ form_label(form.content_warning) }}
    <div>
        <p class="help-text">Content warnings – guidance on what to put here is available from the <a href="https://www.adctheatre.com/media/4273/adc-theatre-content-warning-guide.pdf">ADC Theatre</a>.</p>
        <p class="help-text">Please do not include "CW", slashes, dotted lines or similar padding, as all notices will be formatted appropriately for the locations they appear in.</p>
         {{ form_widget(form.content_warning) }}
         {{ form_errors(form.content_warning) }}
    </div>
</div>

<div class="form-large-row">
    <span>Social</span>
    <div>
        <div class="form-small-widget">
            {{ form_label(form.facebook_id) }}
            {{ form_widget(form.facebook_id) }}
            {{ form_errors(form.facebook_id) }}
        </div>
        <div class="form-small-widget">
            {{ form_label(form.twitter_id) }}
            {{ form_widget(form.twitter_id) }}
            {{ form_errors(form.twitter_id) }}
        </div>
    </div>
</div>

{{ form_row(form.theme_color) }}

{% if not is_granted('APPROVE', form.vars.data) %}
    <p class="panel">After you click 'Create', this show will not be public
    until moderators (normally the society and venue adminstrators) approve it.
    Please be patient: this may take a few days. You can make changes while waiting
    for approval.
    Camdram's volunteer site admins moderate shows without a registered society
    or venue.
    </p>
{% endif %}

{{ form_rest(form) }}
