{%- for soc in entity.prettysocdata -%}
    {%- if soc.id is defined -%}
        <a href="{{ path('get_society', {identifier: soc.slug}) }}">{{ soc.name }}</a>
    {%- else -%}
        {{ soc.name }}
    {%- endif -%}
    {{- list_sep_verb(loop, 'present...', 'presents...') -}}
{% endfor %}
<h2>{{ entity.name }}{% if entity.author %}<br/><small> by {{ entity.author }}</small>{% endif %}</h2>
<p>{% include 'performance/show.html.twig' with {performances: entity.performances, full_urls: true} %}</p>
{{ entity.description | camdram_markdown }}
