{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'shows' %}
{% if show.themeColor %}
    {% set colors = wcag_colors(show.themeColor) %}
    {% set body_attribs_raw = ' style="--custom-color: '  ~ colors['raw'] ~
                                    '; --color-text: ' ~ colors['smalltext'] ~ ';"' ~
                              ' class="entity-has-theme-color"' %}
{% endif %}
{% set section_attribs_raw = ' itemscope="" itemtype="http://schema.org/TheaterEvent"' %}
{% block title %}Show: {{ show.name }}{% endblock %}

{# Facebook open graph markup #}
{% block opengraph %}
    <meta property="og:url" content="{{ url('get_show', {identifier: show.slug}) }}" />
    <meta property="og:title" content="{{ show.name }}" />
    <meta property="og:description" content="{{ show.description | strip_camdram_markdown | strip_new_lines | truncate(500) }}" />
    {% if show.image %}
        <meta property="og:image" content="{{ show.image.filename | imagine_filter('preview') }}" />
    {% else %}
        {# Maybe put a stock camdram image here? #}
    {% endif %}
{% endblock %}

{% block body %}

{% if is_granted('EDIT', show) %}
{{ render(admin_panel(show)) }}
{% endif %}

{% if not is_granted('IS_AUTHENTICATED_FULLY') and is_granted('EDIT', show) %}
<div class="row text-center">
    <p><a href="{{ path('edit_show_inline', {identifier: show.slug})
              }}"><i class="fa fa-key"></i> Log in to edit show details</a></p>
</div>
{% endif %}

<div class="row panel">
    <meta itemprop="name" content="{{ show.name }}"/>
    <ul class="inline-list right">
        {%- if show.hasFuturePerformances() -%}
            {%- if show.onlineBookingUrl -%}
                <li><a href="{{ show.onlineBookingUrl }}" target="_blank"><i class="fa fa-ticket"></i> Buy tickets
                    {% if show.prices %}({{ show.prices }}){% endif %}</a>
                </li>
            {%- elseif show.prices -%}
                <li>Tickets: {{ show.prices }}</li>
            {%- endif -%}
        {%- endif -%}

        {%- if show.facebookId -%}<li>
            <a href="{{ show.getFacebookUrl() }}" target="_blank" class="icon-link">
                <img src="{{ asset('images/service/facebook.png') }}" srcset="{{ asset('images/service/facebook.png') }}, {{ asset('images/service/facebook-29.png') }} 1.5x, {{ asset('images/service/facebook-38.png') }} 2x, {{ asset('images/service/facebook-76.png') }} 4x" alt="This show's Facebook page" /></a>
        </li>{%- endif -%}
        {%- if show.twitterId -%}<li>
            <a href="{{ show.getTwitterUrl() }}" target="_blank" class="icon-link">
                <img src="{{ asset('images/service/twitter.png') }}" srcset="{{ asset('images/service/twitter.png') }}, {{ asset('images/service/twitter-29.png') }} 1.5x, {{ asset('images/service/twitter-38.png') }} 2x, {{ asset('images/service/twitter-76.png') }} 4x" alt="This show's Twitter page"/></a>
        </li>{%- endif -%}
    </ul>

    {%- for soc in show.prettysocdata -%}
        <span itemprop="organizer" itemscope="" itemtype="http://schema.org/TheaterGroup">
        {%- if soc.id is defined -%}
            <a href="{{ path('get_society', {identifier: soc.slug}) }}" itemprop="url"><span itemprop="name">{{ soc.name }}</span></a>
        {%- else -%}
            <span itemprop="name" content="{{ soc.name }}">{{ soc.name }}</span>
        {%- endif -%}
        </span>
        {{- list_sep_verb(loop, 'present...', 'presents...') -}}
    {% endfor %}

    <h2 itemprop="workPerformed" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span itemprop="name">{{ show.name }}</span>
        {%- if show.author -%}
            <br/><small itemprop="creator" itemscope="" itemtype="http://schema.org/Person"> By <span itemprop="name">{{ show.author }}</span></small>
        {%- endif -%}
    </h2>

    {# Display show image #}
    {%- if show.image -%}
        <div class="entity-image-container">
            <a itemprop="image" href="{{ show.image.filename | imagine_filter('preview') }}" class="show-image-modal"><img src="{{ show.image.filename | imagine_filter('thumbnail') }}" /></a>
            {%- if is_granted('EDIT', show) and is_granted("IS_AUTHENTICATED_FULLY") -%}
                <ul class="inline-list">
                {{ include('navigation/form-item.html.twig', {item: {id: 'delete_show_image',
                    path: path('delete_show_image', {identifier:show.slug}), method: 'DELETE', text: 'Remove image', icon: 'eraser'},
                    destructive: {title: "Are you sure you want to delete the image for “" ~ show.name ~ "”?" }
                    }) }}
                </ul>
            {%- endif -%}
        </div>

        {# Show prompt to upload image #}
    {%- elseif is_granted('EDIT', show) and is_granted("IS_AUTHENTICATED_FULLY") -%}
        <div class="entity-image-container">
            <form action="{{ oneup_uploader_endpoint('images') }}" id="image_upload" class="dropzone">
                <input type="hidden" name="identifier" value="{{ show.slug }}"/>
                <input type="hidden" name="type" value="show"/>
            </form>
        </div>
    {%- endif -%}
    <div class="entity-body-text">
        {{ include('show/show-body.html.twig') }}
    </div>
</div>

{%- if show.hasActiveAdverts() -%}
<h5>Get involved with <em>{{ show.name }}</em>:</h5>
    {% for advert in show.activeAdverts %}
        <div class="vacancies-panel">
            <h5>{{ link_entity(advert) }}</h5>
            <p>{{ advert.summary | annotate_positions(advert.positions) }}</p>
            <ul class="prose-list">
            {%- for audition in advert.auditions -%}
                <li>{{ audition.dateString }}, {{ audition.location }}</li>
            {%- endfor -%}
            </ul>
            <p>Contact {{ advert.contactDetails | detect_links }} before {{advert.expiresAt | date('jS M Y H:i')}} for more details.</p>
        </div>
    {% endfor %}
{%- endif -%}

{% if is_granted('EDIT', show) %}
<div class="text-center">
    <a href="{{ path('get_show_edit_roles',{identifier:show.slug}) }}"><i class="fa fa-pencil"></i> Edit roles...</a>
</div>
{% endif %}

<div class="row show-roles-container">
    {% set display_band = (show.getRolesByType('band')|length > 0) %}
    <div>
        <h3>Cast</h3>
        {% include 'show/showRoles.html.twig' with {show: show, type: 'cast', id: 'sortable-cast'} %}
    </div>
    {% if display_band == true %}
        <div>
            <h3>Band</h3>
            {% include 'show/showRoles.html.twig' with {show: show, type: 'band', id: 'sortable-band'} %}
        </div>
    {% endif %}
    <div>
        <h3>Production Team</h3>
        {% include 'show/showRoles.html.twig' with {show: show, type: 'prod', id: 'sortable-prod'} %}
    </div>
</div>

<div class="row">
    <ul class="inline-list">
        {{ include('navigation/nav-items.html.twig', {
            items: {
                show_sign_in_sheet : {path: path('acts_camdram_signinsheet',{slug:show.slug}), icon: 'print', text: 'Print sign in sheet'},
                show_sign_in_sheet_csv : {path: path('acts_camdram_signinsheet',{slug: show.slug, _format: 'csv'}), icon: 'table', text: 'Download sign in sheet (CSV)'}
            }
        }) }}

        {% if app.user and not is_granted('EDIT', show) %}
            {{ include('navigation/form-item.html.twig', {item: {id: 'show_request_admin',
                path: path('request_show_admin', {identifier: show.slug}), method: 'POST',
                class: 'text-button',
                icon: 'unlock-alt', text: 'Request to be an admin'} }) }}
        {% endif %}
    </ul>
</div>

{% endblock %}
