<!doctype html>
<html class="no-js" lang="">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37770738-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		
		gtag('config', 'UA-37770738-2');
	</script>
	
	<meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />

        <meta name="keywords" content="camdram,cambridge,theatre,drama,comedy,musicals,shows,society,societies,ACTS,association" />
        <meta name="description" content="Camdram is an information hub for the student performing arts community in Cambridge, England." />

        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
        <link rel="manifest" href="/manifest.json">
        
        {# Opengraph properties for facebook posts #}
        <meta property="og:type" content="website" />
		<meta property="og:locale" content="en_GB" />
		<meta property="og:site_name" content="Camdram" />
		<meta property="fb:app_id" content="464689303574287" />
        {% block opengraph %}{% endblock %}
        
        <link rel='icon' href='/favicon.png' type='image/png' />

        <title>{% block title %}{% endblock %} - Camdram</title>

        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet"/>
        <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-lightness/jquery-ui.css" rel="stylesheet"/>

        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/vendor.js') }}"></script>
        <script src="{{ asset('build/app.js') }}"></script>
        <link href="{{ asset('build/app.css') }}" rel="stylesheet" />


        {% block stylesheets %}{% endblock %}

       
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script type="text/javascript">
        // <![CDATA[
        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                         "background": "#fe5c1f",
                         "text": "#ffffff"
                    },
                    "button": {
                          "background": "#fff0c8"
                    }
                },
                "content": {
                    "href": "{{ path('acts_camdram_privacy') }}#cookies"
                }
            });
        });
        // ]]>
    </script>
    <!-- End Cookie Consent plugin -->
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div id="wrapper">
            {% if development_warning %}{% include 'dev-warning.html.twig' %}{% endif %}
            {% if show_site_notice %}{% include 'site-notice.html.twig' %}{% endif %}
            {% block main %}{% endblock %}
        </div>

        <footer>
            {% block footer %}{% endblock %}
            <div id="copyright" class="row">
                <p>&copy; Association of Cambridge Theatre Societies and contributing groups 2004 &#8212; {{ "now"|date('Y') }}.
                    Comments &amp; queries to <a href="mailto:websupport@camdram.net">websupport@camdram.net</a>
                </p>
            </div>
        </footer>
    </body>
</html>

