{#- Arguments:
    page_num        current page number, 1-based
    page_urlprefix  url to which target page numbers are appended
-#}
{%- set total_count = paginator.count -%}
{%- set count = paginator.iterator.count -%}
{%- if total_count != count -%}
{%- set limit = paginator.query.maxresults -%}
{%- set offset = paginator.query.firstresult -%}
{%- set lastpage = (total_count / limit)|round(0, 'ceil') -%}
<div style="display: flex">
    <ul class="inline-list" style="flex: 25%">
        {%- if page_num > 1 %}<li><a href="{{ page_urlprefix ~ 1 }}"
            ><span class="show-for-small">⇤</span><span class="hide-for-small">First Page</span></a></li>{% endif -%}
        {%- if page_num > 2 %}<li><a href="{{ page_urlprefix ~ (page_num - 1) }}"
            ><span class="show-for-small">←</span><span class="hide-for-small">Previous Page</span></a></li>{% endif -%}
    </ul>
    <div style="margin: 0 auto;">
        <span><span class="hide-for-small">Results </span>
        {{- (page_num-1) * limit + 1}}&ndash;
        {{- (page_num-1) * limit + count }}
        of {{ total_count }}</span>
    </div>
    <ul class="inline-list text-right" style="flex: 25%">
        {%- if lastpage - page_num > 1 %}<li><a href="{{ page_urlprefix ~ (page_num + 1) }}"
             ><span class="show-for-small">→</span><span class="hide-for-small">Next Page</span></a></li>{% endif -%}
        {%- if lastpage != page_num  %}<li><a href="{{ page_urlprefix ~ lastpage }}"
             ><span class="show-for-small">⇥</span><span class="hide-for-small">Last Page</span></a></li>{% endif -%}
    </ul>
</div>
{%- endif -%}
