{%- if result.count != result.total_count -%}
{%- if url_suffix is not defined %}{% set url_suffix = '' %}{% endif -%}
<div style="display: flex">
    <ul class="inline-list" style="flex: 25%">
        {%- if result.urls.start is defined %}<li><a href="{{ result.urls.start ~ url_suffix }}"
            ><span class="show-for-small">⇤</span><span class="hide-for-small">First Page</span></a></li>{% endif -%}
        {%- if result.urls.previous is defined %}<li><a href="{{ result.urls.previous ~ url_suffix }}"
            ><span class="show-for-small">←</span><span class="hide-for-small">Previous Page</span></a></li>{% endif -%}
    </ul>
    <div style="margin: 0 auto;">
        <span><span class="hide-for-small">Results </span>
        {{- (result.query.page-1) * result.query.limit + 1}}&ndash;
        {{- (result.query.page-1) * result.query.limit + result.count }}
        of {{ result.total_count }}</span>
    </div>
    <ul class="inline-list text-right" style="flex: 25%">
        {%- if result.urls.next is defined %}<li><a href="{{ result.urls.next ~ url_suffix }}"
             ><span class="show-for-small">→</span><span class="hide-for-small">Next Page</span></a></li>{% endif -%}
        {%- if result.urls.end is defined %}<li><a href="{{ result.urls.end ~ url_suffix }}"
             ><span class="show-for-small">⇥</span><span class="hide-for-small">Last Page</span></a></li>{% endif -%}
    </ul>
</div>
{%- endif -%}
