{% extends 'layout.html.twig' %}

{% block title %}Log Viewer{% endblock %}

{% block stylesheets %}
<style>
.logfile {
    height:500px;
    overflow:scroll;
    white-space: pre;
    font-family:monospace;
}
</style>
{% endblock %}

{% block body %}
<h3>Log Viewer</h3>

<div id="logTabs" class="tabbed-content">
        <a class="title active" href="{{ path('acts_camdram_logs_get', {file: 'action.log'}) }}">Camdram action log</a>
        <div class="content">
            <p>This log file is generated directly by the Camdram code in response to
                user actions.</p>
            <div class="logfile">

            </div>
        </div>

        <a class="title" href="{{ path('acts_camdram_logs_get', {file: 'mailer.log'}) }}">Mailer log</a>
        <div class="content">
            <p>All e-mails sent by this Camdram instances.</p>
            <div class="logfile">

            </div>
        </div>

        <a class="title" href="{{ path('acts_camdram_logs_get', {file: 'symfony.log'}) }}">Symfony log file</a>
        <div class="content">
            <p>This is Symfony's log file - it will contain errors that Symfony was able to catch. In these
                cases a Camdram-themed error page is served to the user.
            </p>
            <div class="logfile">

            </div>
        </div>

        <a class="title" href="{{ path('acts_camdram_logs_get', {file: 'error.log'}) }}">Server error log</a>
        <div class="content">
            <p>This is Apache's error log - if the error was not caught by Symfony then it falls
            back to Apache, and an unthemed error page is served to the user.</p>
            <div class="logfile">

            </div>
        </div>

        <a class="title" href="{{ path('acts_camdram_logs_get', {file: 'access.log'}) }}">Server access log</a>
        <div class="content">
            <p>This is Apache's access log - it contains every single HTTP request made to the site.</p>
            <div class="logfile">

            </div>
        </div>
</div>
<script>
    {#- begin-CSP-permitted-script -#}
    function onTabClick(tab) {
        Camdram.get(tab.href, response => {
            var div = tab.nextElementSibling.querySelector('.logfile');
            div.innerText = response;
            div.scrollTop = div.scrollHeight;
        })
    }
    document.querySelectorAll('#logTabs a.title').forEach(
        a => a.addEventListener('click' , e => {
            e.preventDefault();
            onTabClick(e.target);
        }));
    onTabClick(document.querySelector('#logTabs a.title.active'));
    {#- end-CSP-permitted-script -#}
</script>
{% endblock %}
