{% extends 'layout.html.twig' %}

{% block title %}Mailout{% endblock %}

{% block body %}
<h3><a href="{{ path('acts_camdram_audit') }}">Send Mailout</a></h3>

<p>The message below has been sent to the following users</p>
<div class="panel" style="max-height: 300px; overflow-y:auto;">
<ul>
{% for user in output.sent %}
<li>{{ user.name }} ({{ user.email }})</li>
{% endfor %}
</ul>
</div>

{% if output.not_verified | length > 0 %}
<p>The message was not sent to the following users because their e-mail address is not verified</p> 
<div class="panel" style="max-height: 200px; overflow-y:auto;">
<ul>
{% for user in output.not_verified %}
<li>{{ user.name }} ({{ user.email }})</li>
{% endfor %}
</ul>
</div>
{% endif %}

{% if output.not_active | length > 0 %}
<p>The message was not sent to the following users because they have not logged in recently.</p> 
<div class="panel" style="max-height: 200px; overflow-y:auto;">
<ul>
{% for user in output.not_active %}
<li>{{ user.name }} ({{ user.email }})</li>
{% endfor %}
</ul>
</div>
{% endif %}

<div>
<strong>{{ data.subject }}</strong>
<p>
{{ data.message | nl2br }}
</p>
</div>
{% endblock %}
