{% extends 'ActsCamdramApiBundle::layout.html.twig' %}

{% block title %}Authorise{% endblock %}

{% block body %}
<div class="row">
    <div class="large-12 columns text-center">
        <h3>Log in with Camdram</h3>
        <p>The app <strong>{{ client.name }}</strong> (<a href="{{ client.website }}" target="_blank">{{ client.website }}</a>)
            would like to access your details on Camdram.</p>
        <p>Click 'Allow' if you trust this app and would like to allow {{ client.name }} to read data
            from Camdram on your behalf. Otherwise, click 'Deny' and you will taken back to where you came from.</p>
        {% if form.vars.value.scope %}
            <div class="panel text-left">
                <h5>Additional permissions:</h5>
                <p>{{ client.name }} would also like to</p>
                <ul>
                {% for scope in form.vars.value.scope | split(' ') %}
                    <li>
                        {% if scope == 'api_write' %}
                            Act on your behalf to create new data or edit existing data on Camdram
                        {% elseif scope == 'api_write_org' %}
                            Act on the behalf of societies or venues you are an admin for to create
                            new data or edit existing data on Camdram
                        {% elseif scope == 'api_email' %}
                            Read and store your e-mail address
                        {% else %}
                            Use the privilege &quot;{{ scope }}&quot;
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        <form action="{{ path('fos_oauth_server_authorize') }}" method="POST" class="fos_oauth_server_authorize" {{ form_enctype(form) }}>
            <input type="submit" name="accepted" value="Allow" class="button" />
            <input type="submit" name="rejected" value="Deny" class="button alert" />

            {{ form_row(form.client_id) }}
            {{ form_row(form.response_type) }}
            {{ form_row(form.redirect_uri) }}
            {{ form_row(form.state) }}
            {{ form_row(form.scope) }}
            {{ form_rest(form) }}
        </form>
    </div>
</div>
{% endblock %}
