{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'venues' %}
{% block title %}Venue: {{ venue.name }}{% endblock %}

{% block body %}

    {% if is_granted('EDIT', venue) %}
        {{ render(controller('ActsCamdramBundle:Venue:adminPanel', {org: venue})) }}
    {% endif %}

      <div class="row">
          <div class="large-12 columns panel" itemscope="" itemtype="http://schema.org/PerformingArtsTheater">
              <h2 itemprop="name">{{ venue.name }}</h2>
              <h5 itemprop="address">{% if venue.address %}{{ venue.address }}{% endif %}</h5>

              {% if venue.college %}<p>College: {{ venue.college }}</p>{% endif %}
              <div class="row">
                  <div class="large-4 columns">
                      {% if venue.latitude %}
                          <p><div class="map-small">{{ render(url('acts_camdram_venues_map', {identifier: venue.slug})) }}</div></p>
                          <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                            <meta itemprop="latitude" content="{{ venue.latitude }}"/>
                            <meta itemprop="longitude" content="{{ venue.longitude }}"/>
                          </div>
                      {% endif %}
                      {% if venue.image %}
                            <p>
                                <a href="{{ venue.image.filename | imagine_filter('preview') }}" data-fancybox>
                                    <img src="{{ venue.image.filename | imagine_filter('thumbnail') }}" />
                                </a>
                                <ul class="inline-list">    	
                                {% if is_granted('EDIT', venue) and is_granted("IS_AUTHENTICATED_FULLY") %}
                                    {{ include('navigation/delete-item.html.twig', 
                                        {item: {id: 'delete_venue_image', path: path('remove_venue_image',{identifier:venue.slug}), text: 'Remove image', name: venue.name, type: 'image'} }) }}
                                {% endif %}
                                </ul>
                            </p>
                       {% elseif is_granted('EDIT', venue) and is_granted("IS_AUTHENTICATED_FULLY") %}
                            <form action="{{ oneup_uploader_endpoint('images') }}" id="image_upload" class="dropzone">
                                <input type="hidden" name="identifier" value="{{ venue.slug }}"/>
                                <input type="hidden" name="type" value="venue"/>
                            </form>
            		        {% endif %}
                  </div>
                  <div class="large-8 columns">

                      <p itemprop="description">{{ venue.description | camdram_markdown }}</p>
                      {% if can_contact %}
                        <p><a href="{{ path('contact_entity', {type: 'venue', identifier: venue.slug}) }}"><i class="fa fa-envelope-o"></i> Contact {{ venue.name }}</a></p>
                      {% endif %}
                  </div>
              </div>
          </div>
        </div>

    <div class="row">
        <div class="large-{% if venue.hasSocialId %}6{% else %}12{% endif %} columns">
          {{ render(controller('ActsCamdramBundle:Venue:getVacancies', {identifier: venue.slug}), {'strategy': 'esi'}) }}
        </div>
        {% if venue.hasSocialId %}
        <div class="large-6 columns">
            <ul class="inline-list right">
                {% if venue.facebookId %}<li>
                    <a href="{{ venue.getFacebookUrl() }}" target="_blank" class="icon-link">
                        <img src="{{ asset('images/service/facebook.png') }}" srcset="{{ asset('images/service/facebook.png') }}, {{ asset('images/service/facebook-29.png') }} 1.5x, {{ asset('images/service/facebook-38.png') }} 2x, {{ asset('images/service/facebook-76.png') }} 4x" alt=""/> Facebook</a>
                    </li>{% endif %}
                {% if venue.twitterId %}<li>
                    <a href="{{ venue.getTwitterUrl() }}" target="_blank" class="icon-link">
                        <img src="{{ asset('images/service/twitter.png') }}" srcset="{{ asset('images/service/twitter.png') }}, {{ asset('images/service/twitter-29.png') }} 1.5x, {{ asset('images/service/twitter-38.png') }} 2x, {{ asset('images/service/twitter-76.png') }} 4x" alt=""/> Twitter</a>
                    </li>{% endif %}
            </ul>
            <h5>News</h5>
            {{ render(controller('ActsCamdramBundle:Venue:getNews', {identifier: venue.slug}), {'strategy': 'esi'}) }}
        </div>
        {% endif %}
    </div>

     <div class="row">
         <div class="large-12 columns">
             {{ render(url('get_venue_events', {identifier: venue.slug})) }}
         </div>
    </div>
{% endblock %}
