{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'venues' %}
{% block title %}Venue: {{ venue.name }}{% endblock %}

{% block body %}

    {% if is_granted('EDIT', venue) %}
        {{ render(controller('ActsCamdramBundle:Venue:adminPanel', {org: venue})) }}
    {% endif %}

    <div class="row panel" itemscope="" itemtype="http://schema.org/PerformingArtsTheater">
        <h2 itemprop="name">{{ venue.name }}</h2>
        <h5 itemprop="address">{% if venue.address %}{{ venue.address }}{% endif %}</h5>

        {%- if venue.college %}<p>College: {{ venue.college }}</p>{% endif -%}

        {%- if venue.latitude %}
            <div class="map-small left">{{ render(url('acts_camdram_venues_map', {identifier: venue.slug})) }}</div>
            <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="{{ venue.latitude }}"/>
                <meta itemprop="longitude" content="{{ venue.longitude }}"/>
        </div>
        {% endif -%}

        {%- if venue.image -%}
        <div class="entity-image-container">
            <a href="{{ venue.image.filename | imagine_filter('preview') }}" data-fancybox>
                <img src="{{ venue.image.filename | imagine_filter('thumbnail') }}" />
            </a>
            {% if is_granted('EDIT', venue) and is_granted("IS_AUTHENTICATED_FULLY") %}
            <ul class="inline-list">
                {{ include('navigation/delete-item.html.twig', {item:
                   {id: 'delete_venue_image', path: path('remove_venue_image',{identifier:venue.slug}),
                    text: 'Remove image', name: venue.name, type: 'image'} }) }}
            </ul>
            {% endif %}
        </div>
        {%- elseif is_granted('EDIT', venue) and is_granted("IS_AUTHENTICATED_FULLY") -%}
        <form action="{{ oneup_uploader_endpoint('images') }}" id="image_upload" class="dropzone entity-image-container">
             <input type="hidden" name="identifier" value="{{ venue.slug }}"/>
             <input type="hidden" name="type" value="venue"/>
        </form>
        {%- endif -%}

        <div class="entity-body-text">
            <p itemprop="description">{{ venue.description | camdram_markdown }}</p>
            {% if can_contact %}
            <p><a href="{{ path('contact_entity', {type: 'venue', identifier: venue.slug}) }}"><i class="fa fa-envelope-o"></i> Contact {{ venue.name }}</a></p>
            {% endif %}
        </div>
    </div>

    <div class="row organisation-social">
        {%- if venue.hasSocialId -%}
        <div class="organisation-vacancies-aside">
        {%- else -%}
        <div>
        {%- endif -%}
          {{ render(controller('ActsCamdramBundle:Venue:getVacancies', {identifier: venue.slug}), {'strategy': 'esi'}) }}
        </div>
        {% if venue.hasSocialId %}
        <div class="split-header">
            <h5>News</h5>
            <ul>
                {% if venue.facebookId %}<li>
                    <a href="{{ venue.getFacebookUrl() }}" target="_blank" class="icon-link">
                        <img src="{{ asset('images/service/facebook.png') }}" srcset="{{ asset('images/service/facebook.png') }}, {{ asset('images/service/facebook-29.png') }} 1.5x, {{ asset('images/service/facebook-38.png') }} 2x, {{ asset('images/service/facebook-76.png') }} 4x" alt=""/> Facebook</a>
                    </li>{% endif %}
                {% if venue.twitterId %}<li>
                    <a href="{{ venue.getTwitterUrl() }}" target="_blank" class="icon-link">
                        <img src="{{ asset('images/service/twitter.png') }}" srcset="{{ asset('images/service/twitter.png') }}, {{ asset('images/service/twitter-29.png') }} 1.5x, {{ asset('images/service/twitter-38.png') }} 2x, {{ asset('images/service/twitter-76.png') }} 4x" alt=""/> Twitter</a>
                    </li>{% endif %}
            </ul>
        </div>
        {{ render(controller('ActsCamdramBundle:Venue:getNews', {identifier: venue.slug}), {'strategy': 'esi'}) }}
        {% endif %}
    </div>

    <div class="row">
        {{ render(url('get_venue_events', {identifier: venue.slug})) }}
    </div>
{% endblock %}
