<div class="diary-nav">
    <div>
        <h3>Diary</h3>
        <a href="{{ url('acts_camdram_diary', {_format: 'ics'}) }}"><i class="fa fa-calendar"></i> iCal</a>
    </div>

    <div>
        <div>
            <a class="button small" role="button" id="load_today" href="{{ url('acts_camdram_diary') }}">This week</a>
            <button class="small" id="load_previous">Previous week</button>
        </div>
        <form action="{{ url('acts_camdram_diary') }}" method="get" id="diary_jump_form">
            <span>&nbsp;Jump to&nbsp;</span>
            <select id="years" name="year">
                {%- for year in years -%}
                    <option value="{{ year }}"{% if current_year == year %} selected{% endif %}>{{ year }}</option>
                {%- endfor -%}
            </select>

            <select id="periods" name="period">
                {%- for period in periods -%}
                    <option value="{{ period.slug }}"{% if current_period == period %} selected{% endif %}>{{ period.name }}</option>
                {%- endfor -%}
            </select>
        </form>
    </div>
</div>
