{% extends 'layout.html.twig' %}

{% block title %}Audit Log{% endblock %}

{% block body %}

<form action="{{ path('acts_camdram_audit') }}" method="GET">
    <div class="split-header">
        <h3><a href="{{ path('acts_camdram_audit') }}">Audit Log</a></h3>
        <span><input type="submit" value="Search" class="button small"></span></div>
    {% for i in queryParams %}
    <div class="form-large-row">
        <label for="search_{{i}}">{{ i | humanize}}</label>
        <input name="{{ i }}" id="search_{{i}}" value="{{ app.request.query.get(i) }}"
        {% if i starts with 'search' %}placeholder="SQL wildcard syntax"
        {%- elseif i starts with 'time' %}placeholder="YYYY-MM-DD HH:MM:SS"{% endif %}>
    </div>
    {% endfor %}
</form>

{% set class_url_map = {
    'Acts\\CamdramBundle\\Entity\\Person': '/people/by-id/',
    'Acts\\CamdramBundle\\Entity\\Show': '/shows/by-id/',
    'Acts\\CamdramBundle\\Entity\\Society': '/societies/by-id/',
    'Acts\\CamdramBundle\\Entity\\Venue': '/venues/by-id/',
} %}

{% include 'paginator.html.twig' %}
<div style="overflow-x: auto; width: 100%">
<table>
    <thead>
        <tr>
            <th>Date/Time</th>
            <th>Class</th>
            <th>ID</th>
            <th>Version</th>
            <th>Action</th>
            <th>User</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
    {%- for result in paginator -%}
        <tr>
            <td>{{ result.loggedAt | date('Y-m-d H:i:s') }}</td>
            <td>
                <a href="{{ path('acts_camdram_audit', {class: result.objectClass}) }}">
                    {{ result.objectClass }}
                </a>
            </td>
            <td>
                <a href="{{ path('acts_camdram_audit', {class: result.objectClass, id: result.objectId}) }}">
                    {{- result.objectId -}}
                </a>
                {%- if class_url_map[result.objectClass] is defined -%}
                    ;<br>
                    <a href="{{ class_url_map[result.objectClass] }}{{ result.objectId }}">(view)</a>
                {%- endif -%}
            </td>
            <td>{{ result.version }}</td>
            <td>{{ result.action }}</td>
            <td>{{ result.username }}</td>
            <td>
                <small>
                {% for key, item in result.data %}
                    <strong>{{ key }}:</strong>
                    {% if item.timestamp is defined %}{{ item | date('r') }}
                    {% elseif item is iterable %}{{ item | json_encode }}
                    {% else %}{{ item }}
                    {% endif %}<br />
                {% endfor %}
                </small>
            </td>
        </tr>
    {%- else -%}
        <tr><td colspan="7" class="text-center">
        No matching results in log; <a href="{{ path('acts_camdram_audit') }}">reset?</a>
        </td></tr>
    {%- endfor -%}
    </tbody>
</table>
</div>
{% include 'paginator.html.twig' %}
{% endblock %}
