{% extends 'layout.html.twig' %}
{% block title %}Edit Admins{% endblock %}

{% block body %}

{{ render(admin_panel(entity)) }}

<p>
{% if entity.entityType == 'show' %}
    Admins are able to edit the details of a show, create adverts for production
    team vacancies, and edit the people listed who are involved in the show. These
    list show the current admins and the list of people who will be able to edit
    the show after they create an account on Camdram.
{% elseif entity.entityType == 'society' %}
    Society admins are able to edit the information listed on Camdram, authorise shows involving the society, and to open applications for new shows.
{% elseif entity.entityType == 'venue' %}
    Venue admins are able to edit the information listed on Camdram, authorise shows involving the venue, and to open applications for new shows.
{% endif %}
</p>

{% if requested_admins is not null %}
<h4>Admin Requests</h4>
{% if requested_admins is empty %}
<p>There are no requests to be an admin for this {{ entity.entityType }}.</p>
{% endif %}
{% for admin in requested_admins %}
    <div id="admin_{{ admin.id }}">
    <form action="{{ path('approve_show_admin', {identifier: entity.slug, uid: admin.id}) }}" method="post" class="inline-block">
        <input type="hidden" name="_method" value="PATCH" />
        <input type="hidden" name="_token" value="{{ csrf_token('approve_show_admin') }}" />
        <button title="Approve request." class="fa fa-fw fa-check-circle text-button"></button>
    </form>&ensp;
    <form action="{{ path('delete_entity_admin', {type: entity.entityType|plural(2), identifier: entity.slug, uid: admin.id}) }}" method="post" id="revoke_admin_form_{{ admin.id }}" class="inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="hidden" name="_token" value="{{ csrf_token('delete_admin') }}" />
        <button title="Deny request." class="fa fa-fw fa-times-circle text-button"></button>
    </form>&ensp;
    {%- if admin.person is defined -%}
        {%- if admin.person -%}
            <a href="{{ path('get_person', {identifier: admin.person.slug}) }}">{{ admin.name }}</a>
        {%- else -%}
            {{ admin.name }}
        {%- endif -%}
    {%- endif -%}
    </div>
{% endfor %}
{% endif %}

<h4>Existing Admins</h4>
{% if admins is empty %}
<p>There are no admins specifically for this {{ entity.entityType }}.</p>
{% endif %}
{% for admin in admins %}
    <div id="admin_{{ admin.id }}">
        <form action="{{ path('delete_entity_admin', {type: entity.entityType|plural(2), identifier: entity.slug, uid: admin.id}) }}" method="post" id="revoke_admin_form_{{ admin.id }}" class="inline-block">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="hidden" name="_token" value="{{ csrf_token('delete_admin') }}" />
            <button title="Revoke this admin." class="fa fa-fw fa-trash-o text-button"></button>
        </form>
    {% if admin.person is defined -%}
        {%- if admin.person -%}
            <a href="{{ path('get_person', {identifier: admin.person.slug}) }}">{{ admin.name }}</a>
        {%- else -%}
            {{ admin.name }}
        {%- endif -%}
    {%- endif -%}
    </div>
{% endfor %}

<h4>Pending Admins</h4>
{% if pending_admins is empty %}
<p>There are no pending admins for this {{ entity.entityType }}.</p>
{% endif %}
{% for pending in pending_admins %}
    <div id="pending_{{ pending.id }}">
    <form action="{{ path('delete_pending_admin', {type: entity.entityType|plural(2), identifier: entity.slug, uid: pending.id}) }}" method="post" id="revoke_pending_admin_form_{{ pending.id }}" class="inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="hidden" name="_token" value="{{ csrf_token('delete_pending_admin') }}" />
        <button title="Revoke this pending admin." class="fa fa-fw fa-trash-o text-button"></button>
    </form>

    {{ pending.email }}
    </div>
{% endfor %}
<br/>
<p>Add a new administrator.</p>
{{ form(form) }}
{% endblock %}

