{% if is_granted('EDIT', org) %}
<div class="admin-panel">
    <h6>Venue Administration: <a href="{{ path('get_venue', {identifier: org.slug}) }}">{{ org.name }}</a></h6>
    <ul class="inline-list">
        {{ include('@ActsCamdram/Navigation/nav-item.html.twig', {item: {id: 'edit_venue', path: path('edit_venue',{identifier:org.slug}), icon: 'pencil', text: 'Edit this venue'} }) }}
        {% if is_granted('DELETE', org) %}
            {{ include('@ActsCamdram/Navigation/nav-item.html.twig', {item: {id: 'delete_venue', path: path('remove_venue',{identifier:org.slug}), icon: 'eraser', text: 'Delete this venue'} }) }}
        {% endif %}
        <li>
            {% if org.applications | length == 0 %}
                {{ include('@ActsCamdram/Navigation/nav-item.html.twig',
                {item: {id: 'new_application', path: path('new_venue_application',{identifier:org.slug}), icon: 'plus-circle', text: 'Show applications'} }) }}
            {% else %}
                {{ include('@ActsCamdram/Navigation/nav-item.html.twig',
                {item: {id: 'edit_application', path: path('edit_venue_application',{identifier:org.slug}), icon: 'pencil', text: 'Show applications'} }) }}
            {% endif %}
        </li>
        <li>
            {{ include('@ActsCamdram/Navigation/nav-item.html.twig',
            {item: {id: 'edit_admin', path: path('edit_venue_admin',{identifier:org.slug}), icon: 'pencil', text: "Edit the venue's admins"} }) }}
        </li>
    </ul>
    <p>
    The following people can edit this venue:
    {% for admin in admins %}
        {%- if admin.person -%}
            <a href="{{ path('get_person', {identifier: admin.person.slug}) }}">{{ admin.name }}</a>
        {%- else -%}
            {{ admin.name }}
        {%- endif -%}
        {{- not loop.last ? ',' }}
    {% endfor %}
    </p>
    {% if pending_admins is not empty %}
    <p>
        The following people will be admins, pending creating an account:
        {% for pending in pending_admins %}
            {{ pending.email }}
            {{- not loop.last ? ',' }}
        {% endfor %}
    </p>
    {% endif %}
</div>
{% endif %}

