{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'venues' %}
{% block title %}Venues{% endblock %}

{% block body %}

<div class="row">
    <div class="large-12 columns">
        <h3>Venues</h3>
        <div class="map-large">
            {% render url('acts_camdram_venues_map') %}
        </div>
    </div>
</div>

<ul class="large-block-grid-2" id="venues_list">
{% for venue in venues %}
   <li id="venue-{{ venue.slug }}">
       <div class="row">
           <div class="small-2 columns marker_column">

           </div>
           <div class="small-10 columns">
               <h5><a href="{{ path('get_venue', {identifier: venue.slug}) }}">{{ venue.name }}</a></h5>
               {% if venue.college %}<h6>{{ venue.college }} College, Cambridge</h6>
               {% elseif venue.address %}<h6>{{ venue.address }}</h6>{% endif %}
               <p>{{ venue.description | strip_camdram_markdown | truncate(200) }}
                   {% if venue.description|length > 200 %}
                       ...<br>[<a href="{{ path('get_venue', {identifier: venue.slug}) }}">Read More</a>]
                   {% endif %}
               </p>
           </div>
       </div>
   </li>
{% endfor %}
</ul>

{% endblock %}

{% block javascripts %}
<script>
    $(function() { $('#venues_list').addMarkers(venue_info_boxes); });
</script>
{% endblock %}
