{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'venues' %}
{% block title %}Venues{% endblock %}

{% block option_links %}
{% render url('acts_camdram_entity_toolbar', {type: 'venue'}) %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="twelve columns">
        <h3>Venues</h3>
        <div class="large_map">
            {% render url('acts_camdram_venues_map') %}
        </div>
    </div>
</div>

<div class="row">
    <ul class="block-grid two-up mobile" id="venues_list">
    {% for venue in venues %}
       <li id="venue-{{ venue.slug }}">
           <div class="row">
               <div class="two columns mobile-one marker_column">

               </div>
               <div class="ten columns mobile-three">
                   <h5><a href="{{ path('get_venue', {identifier: venue.slug}) }}">{{ venue.name }}</a></h5>
                   {% if venue.college %}<h6>{{ venue.college }} College, Cambridge</h6>
                   {% elseif venue.address %}<h6>{{ venue.address }}</h6>{% endif %}
                   <p>{{ venue.description | slice(0, 200) | strip_new_lines | camdram_markdown }}
                       {% if venue.description|length > 200 %}
                           ...<br>[<a href="{{ path('get_venue', {identifier: venue.slug}) }}">Read More</a>]
                       {% endif %}
                   </p>
               </div>
           </div>
       </li>
   {% endfor %}
    </ul>
</div>

{% endblock %}

{% block javascripts %}
<script>
    $(function() { $('#venues_list').addMarkers(venue_info_boxes); });
</script>
{% endblock %}

