{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'venues' %}
{% block title %}Venue: {{ venue.name }}{% endblock %}

{% block option_links %}
{% include 'ActsCamdramBundle:Navigation:nav-item.html.twig' with { item: {text: 'Edit "'~venue.name~'"', path: path('edit_venue', {identifier: venue.slug})}} %}

{% if has_role('ROLE_EDITOR') %}
    {% include 'ActsCamdramBundle:Navigation:nav-item.html.twig' with { item: {text: 'Delete "'~venue.name~'"', path: path('remove_venue', {identifier: venue.slug})}} %}
{% endif %}
{% endblock %}


{% block body %}
  <div class="row">
    <div class="twelve columns">
      <h2>{{ venue.name }}</h2>
        <h5>{% if venue.address %}{{ venue.address }}{% endif %}</h5>
        {% if venue.college %}<p>College: {{ venue.college }}</p>{% endif %}
     </div>
     <div class="row">
         {% if venue.latitude and venue.longitude %}
         <div class="four columns">
             {% if venue.image %}<a href="{{ image_url(venue.image, 1024, 768) }}" class="fancybox">{{ render_image(venue.image, 205, 200) }}</a>{% endif %}
            <div class="small_map">{% if venue.latitude %}{% render url('acts_camdram_venues_map', {identifier: venue.slug}) %}{% endif %}</div>
         </div>
         <div class="eight columns">
         {% else %}
         <div class="twelve columns">
         {% endif %}
             <p>{{ venue.description | camdram_markdown }}</p>
         </div>
     </div>

     <div class="row">
         <div class="eight columns">
             <h5>Shows</h5>
             {% render url('get_venue_shows', {identifier: venue.slug}) %}
         </div>

         <div class="four columns" id="news_container">
             <h5>
                 Latest News
                 <ul class="link-list right news_social_links">
                     {% if venue.getFacebookId() %}<li><a href="{{ venue.getFacebookUrl() }}" rel="ext" target="_blank">Facebook</a></li>{% endif %}
                     {% if venue.getTwitterId() %}<li><a href="{{ venue.getTwitterUrl() }}" rel="ext" target="_blank">Twitter</a></li>{% endif %}
                 </ul>
             </h5>
             <div id="entity_news">
             {% for item in venue.news %}
                 {% include 'ActsCamdramBundle:News:item.html.twig' %}
             {% endfor %}
             </div>
         </div>
     </div>
</div>
{% endblock %}

