{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'venues' %}
{% block title %}Venue: {{ venue.name }}{% endblock %}

{# Facebook open graph markup #}
{% block opengraph %}
    <meta property="og:url" content="{{ url('get_venue', {identifier: venue.slug}) }}" />
    <meta property="og:title" content="{{ venue.name }}" />
    <meta property="og:description" content="{{ venue.description | strip_camdram_markdown | strip_new_lines | truncate(500) }}" />
    {% if venue.image %}
        <meta property="og:image" content="{{ image_url(venue.image, 1024, 768) }}" />
    {% else %}
        {# Maybe put a stock camdram image here? #}
    {% endif %}
{% endblock %}

{% block body %}

    {% if is_granted('EDIT', venue) %}
        {{ render(controller('ActsCamdramBundle:Venue:adminPanel', {org: venue})) }}
    {% endif %}

      <div class="row">
          <div class="large-12 columns panel" itemscope="" itemtype="http://schema.org/PerformingArtsTheater">
              <h2 itemprop="name">{{ venue.name }}</h2>
              <h5 itemprop="address">{% if venue.address %}{{ venue.address }}{% endif %}</h5>

              {% if venue.college %}<p>College: {{ venue.college }}</p>{% endif %}
              <div class="row">
                  <div class="large-4 columns">
                      {% if venue.latitude %}
                          <p><div class="map-small">{{ render(url('acts_camdram_venues_map', {identifier: venue.slug})) }}</div></p>
                          <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                            <meta itemprop="latitude" content="{{ venue.latitude }}"/>
                            <meta itemprop="longitude" content="{{ venue.longitude }}"/>
                          </div>
                      {% endif %}
                      {% if venue.image %}<p><a href="{{ image_url(venue.image, 1024, 768) }}" class="fancybox">{{ render_image(venue.image, 270, 270) }}</a></p>{% endif %}
                  </div>
                  <div class="large-8 columns">

                      <p itemprop="description">{{ venue.description | camdram_markdown }}</p>
                      {% if has_owners(venue) %}
                        <p><a href="{{ path('get_venue_contact', {identifier: venue.slug}) }}"><i class="fa fa-envelope-o"></i> Contact {{ venue.name }}</a></p>
                      {% endif %}
                  </div>
              </div>
          </div>
        </div>

    <div class="row">
        <div class="large-{% if venue.hasSocialId %}6{% else %}12{% endif %} columns">
          {{ render(controller('ActsCamdramBundle:Venue:getVacancies', {identifier: venue.slug}), {'strategy': 'esi'}) }}
        </div>
        {% if venue.hasSocialId %}
        <div class="large-6 columns">
            <ul class="inline-list right">
                {% if venue.facebookId %}<li>
                    <a href="{{ venue.getFacebookUrl() }}" target="_blank">
                        <img src="{{ asset('/bundles/actscamdramsecurity/images/facebook.png') }}" alt=""/> Facebook</a>
                    </li>{% endif %}
                {% if venue.twitterId %}<li>
                    <a href="{{ venue.getTwitterUrl() }}" target="_blank">
                        <img src="{{ asset('/bundles/actscamdramsecurity/images/twitter.png') }}" alt=""/> Twitter</a>
                    </li>{% endif %}
            </ul>
            <h5>News</h5>
            {{ render(controller('ActsCamdramBundle:Venue:getNews', {identifier: venue.slug}), {'strategy': 'esi'}) }}
        </div>
        {% endif %}
    </div>

     <div class="row">
         <div class="large-12 columns">
             {{ render(url('get_venue_events', {identifier: venue.slug})) }}
         </div>
    </div>
{% endblock %}
