<form method="post" action="{{ path('acts_camdram_security_login_check') }}">

    <div class="form-medium-widget">
        <label class="{% if error %} error{% endif %}" for="form_email">Email</label>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <p>{{ last_email }}</p>
        <input type="hidden" name="email" value="{{ last_email }}">
        {% else %}
        <input type="text" id="form_email" name="email" required="required" value="{{ last_email }}"{% if error %} class="error"{% endif %} />
        {% endif %}
    </div>

    <div class="form-medium-widget">
        <label class="required{% if error %} error{% endif %}" for="form_password">Password</label>
        <input type="password" id="form_password" name="password" required="required"{% if error %} class="error"{% endif %} />
    </div>

    <input type="hidden" name="_target_path" value="{{ path('get_account') }}" />

    <div class="row">
        <p class="left"><a href="{{ path('acts_camdram_security_forgotten_password') }}">Forgotten password?</a></p>
        <input type="submit" value="Log in" id="login_button" class="button right"/>
    </div>
</form>
