{% if app.user %}
    {%- if is_granted('ROLE_PREVIOUS_ADMIN') -%}
        <li data-alert class="alert-box alert">
            <strong>You are impersonating this user.</strong><a href="{{ path('acts_camdram_homepage', {_switch_to_user: '_exit'}) }}">Revert</a>
        </li>
    {%- endif -%}
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('account/toolbar_admin.html.twig') }}
    {% endif %}
    <li id="account-link" class="dropdown-link">
        {% if app.user.type =='external' and app.user.user is not null %}
            {% set main_user = app.user.user %}
        {% else %}
            {%  set main_user = app.user %}
        {% endif %}
        <a href="{% if main_user.person %}{{ path('get_person', {identifier: main_user.person.slug }) }}{% else %}#{% endif %}">
            {% if main_user.profilePictureUrl %}<img src="{{ main_user.profilePictureUrl }}" width="22" height="22"/>{% endif %}
            {{ main_user.displayName }}
        </a>
        <ul id="account-dropdown" class="topbar-dropdown">
            {% if main_user.person %}<li><a href="{{ path('get_person', {identifier: main_user.person.slug }) }}"><i class="fa fa-user fa-fw"></i> My profile</a></li>{% endif %}

            {% if main_user.type == 'native' %}
                {% for service in ['facebook'] %}
                    {% if not main_user.getExternalUserByService(service) %}
                    <li><a href="{{ hwi_oauth_login_url(service) }}" class="icon-link">
                        <img src="{{ asset('/bundles/actscamdramsecurity/images/' ~ service ~ '.png') }}" alt="{{ service | capitalize }}" title="{{ service | capitalize }}" width="19" height="19" />
                        Link account to {{ service | capitalize }}
                    </a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="{{ path('get_account') }}"><i class="fa fa-cogs fa-fw"></i> Account Settings</a></li>
            {% endif %}
            <li><a href="{{ path('_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Log out</a></li>
        </ul>
    </li>
{% else %}
    <li id="login-link">

        <a href="{{ path('acts_camdram_security_login') }}">Log in </a>
            {% for owner in hwi_oauth_resource_owners() %}
               <a href="{{ hwi_oauth_login_url(owner) }}" class="icon-link">
                    <img src="{{ asset('/bundles/actscamdramsecurity/images/' ~ owner ~ '.png') }}" alt="{{ owner | capitalize }}" title="{{ owner | capitalize }}" width="19" height="19" />
               </a>
            {% endfor %}
    </li>
{% endif %}
