{% extends 'api/layout.html.twig' %}
{% set current_api_nav_id = 'console' %}

{% block title %}API{% endblock %}

{% block api_body %}

    <h4>Test Console</h4>

    <form id="test_console_form">
         <input type="text" id="url"/>
         <div>
             <select id="method">
                 <option value="GET">GET</option>
                 <option value="POST">POST</option>
                 <option value="PUT">PUT</option>
                 <option value="DELETE">DELETE</option>
             </select>
             <input type="submit" class="button small" value="Submit"/>
         </div>
    </form>
    <div>
        <h5>Example queries:</h5>
        <ul id="example_queries">
            <li>
                <a href="{{ url('search_entity', {mode: '.json', q: 'Fitzwilliam'}) }}">
                    Search for the term &quot;Fitzwilliam&quot; (JSON)</a>
            </li>
            <li>
                <a href="{{ url('get_show', {_format: 'json', identifier: '2007-return-to-the-forbidden-planet'}) }}">
                    Fetch details about the show &quot;Return to the Forbidden Planet&quot; (JSON)</a>
            </li>
            <li>
                <a href="{{ url('get_show', {_format: 'xml', identifier: '2007-return-to-the-forbidden-planet'}) }}">
                    Fetch details about the show &quot;Return to the Forbidden Planet&quot; (XML)</a>
            </li>
            <li>
                <a href="{{ url('get_venue', {_format: 'json', identifier: 'adc-theatre'}) }}">
                    Fetch details about the venue &quot;ADC Theatre&quot; (JSON)</a>
            </li>
            <li>
                <a  href="{{ url('get_venue', {_format: 'xml', identifier: 'adc-theatre'}) }}">
                    Fetch details about the venue &quot;ADC Theatre&quot; (XML)</a>
            </li>
        </ul>
    </div>
    <div id="results">

    </div>

<script>
{#- begin-CSP-permitted-script -#}
const q = document.querySelector.bind(document);
const makeRequest = function() {
    const method = q('#method').value;
    const url = q('#url').value;

    const parts = url.split('?');
    const isJSON = parts[0].substr(-4) == 'json';
    q('#results').innerHTML = '<i class="fa fa-spinner fa-spin"></i>';

    const xhr = new XMLHttpRequest();
    xhr.addEventListener("load", function() {
        if (this.status >= 200 && this.status < 300) {
            q('#results').innerHTML = '<pre><code></code></pre>';
            let text = this.responseText;
            if (isJSON) text = JSON.stringify(JSON.parse(text), null, 4);
            q('#results code').innerText = text;
        } else {
            q('#results').innerHTML = '<p class="error"></p>';
            q('#results p').innerText = 'HTTP error ' + this.status;
        }
    });
    xhr.addEventListener("error", function (e) {
        q('#results').innerHTML = '<p class="error">Request failed</p>';
    });
    xhr.open(method, url);
    xhr.send();
}
q('#test_console_form').addEventListener('submit', e => {
    e.preventDefault();
    makeRequest();
})
for (const el of document.querySelectorAll('#example_queries a')) {
    el.addEventListener('click', function(e) {
        e.preventDefault();
        q('#method').value = 'GET';
        q('#url').value = e.target.href;
        makeRequest();
    });
}
{#- end-CSP-permitted-script -#}
</script>

{% endblock %}

{% block stylesheets %}
<style>
    #test_console_form {
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
    }
    #test_console_form input, #test_console_form select {
        margin: 0.5em;
    }
    #test_console_form input[type="text"] {
        flex: 1 25em;
    }
    #results {
        overflow:scroll;
        line-height:1em;
        padding:10px;
        height:450px;
        font-size:0.8em;
        color:#000;
        background:#f7f7f7;
        border:1px solid #888;
    }
    #results i {
        font-size:2em;
    }
    #results p.error {
        color:red;
    }
</style>
{% endblock %}
