{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <div class="row">
        <h3>Manage Users</h3>

        <form action="{{ path('get_users') }}" method="get">
            <div class="row">
                <div class="large-3 columns">
                    <label for="user_search_box" class="right inline">Search</label>
                </div>
                <div class="large-3 columns">
                    <input id="user_search_box"  type="text" name="q"/>
                </div>
                <div class="large-6 columns">
                    <input type="submit" class="button small"/>
                </div>
            </div>
        </form>

        {% include 'ActsCamdramBundle::paginator.html.twig' %}
        <table>
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Date joined</th>
                <th>Last login</th>
            </tr>
            </thead>
        <tbody>
        {% for user in result.data %}
        <tr>
            <td><a href="{{ path('get_user', {identifier: user.id}) }}">View</a></td>
            <td><a href="{{ path('edit_user', {identifier: user.id}) }}">Edit</a></td>
            <td><a href="{{ path('remove_user', {identifier: user.id}) }}">Delete</a></td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{% if user.registered > date('0000-00-00') %}{{ user.registered | date('Y-m-d') }}{% endif %}</td>
            <td>{% if user.login > date('0000-00-00') %}{{ user.login | date('Y-m-d') }}{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% include 'ActsCamdramBundle::paginator.html.twig' %}

    </div>

{% endblock %}

{% block javascripts %}
<script>
    $(function() {
        $('#user_search_box').camdramAutocomplete({
            route: 'get_users',
            select: function(item) { document.location = Routing.generate('get_user', {identifier: item.id}) }
        });
    })
</script>
{% endblock %}