{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Society: {{ society.name }}{% endblock %}

{% block body %}
  <div class="row">
    <div class="twelve columns">
      <h2>{{ society.name }} <small>- {{ society.shortname }}</small></h2>

        {{ society.description | nl2br }}

        {% for show in society.shows %}
        <li><a href="{{ path('get_show', {slug: show.slug}) }}">{{ show.name }}</a></li>
        {% endfor %}
    </div>
  </div>

{% endblock %}
