{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'societies' %}
{% block title %}Society: {{ society.name }}{% endblock %}


{% block option_links %}
    {% if is_granted('EDIT', society) %}
    {% include 'ActsCamdramBundle:Navigation:nav-item.html.twig' with { item: {text: 'Edit "'~society.name~'"', path: path('edit_society', {identifier: society.slug})}} %}
    {% endif %}

    {% if has_role('ROLE_EDITOR') %}
    {% include 'ActsCamdramBundle:Navigation:nav-item.html.twig' with { item: {text: 'Delete "'~society.name~'"', path: path('remove_society', {identifier: society.slug})}} %}
    {% endif %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="twelve columns panel">
        <h2>{{ society.name }} <small>- {{ society.shortname }}</small></h2>
        {% if society.image %}
            <a href="{{ image_url(society.image, 1024, 768) }}" class="fancybox">{{ render_image(society.image, 205, 200) }}</a>
        {% else %}
            <p>{{ society.description | camdram_markdown }}</p>
        {% endif %}

        <ul>
            {% for item in society.news %}
                <li>
                    {% include 'ActsCamdramBundle:News:item.html.twig' %}
                </li>
            {% endfor %}
        </ul>
    </div><!-- twelve columns panel -->
</div><!-- row -->
<div class="row">
    <h3>Shows</h3>
    {% render url('get_society_shows', {identifier: society.slug}) %}
</div><!-- row -->
<br/>

{% endblock %}

