<h3>Issues currently being worked on</h3>
<ul>
    {% for issue in inprogress %}
    <li><a href="{{ issue.html_url }}" target="_blank" rel="ext">{{ issue.title }}</a></li>
    {% endfor %}
</ul>

<h3>Issues recently fixed</h3>
<ul>
    {% for issue in fixed %}
        <li><a href="{{ issue.html_url }}" target="_blank" rel="ext">{{ issue.title }}</a></li>
    {% endfor %}
</ul>

<h3>Issues recently created</h3>
<ul>
    {% for issue in recent %}
        <li><a href="{{ issue.html_url }}" target="_blank" rel="ext">{{ issue.title }}</a></li>
    {% endfor %}
</ul>