<div class="vacancies-panel">
    <h5>{% block vacancies_panel_title %}Get involved:{% endblock %}</h5>
    <ul>
    {% for audition in auditions %}
        <li><a href="{{ path('get_show', {identifier: audition.show.slug}) }}">{{ audition.show.name }}</a> is holding auditions:
            in {{ audition.location }} from {{ audition.startAt | date('H:i') }} to {{ audition.startAt | date('H:i') }} on {{ audition.startAt | date('D jS M') }}
            - <a href="{{ path('get_audition', {identifier: audition.show.slug}) }}">more details</a>
        </li>
    {% endfor %}
    {% for audition in nonscheduled_auditions %}
	<li><a href="{{path('get_show', {identifier: audition.show.slug}) }}">{{audition.show.name }}</a> is holding auditions, contact {{audition.location}} - <a href="{{ path('get_auditions') }}#auditions-{{ audition.show.id }}">more details</a>
        </li>
    {% endfor %}
    {% for ad in techie_ads %}
        <li><a href="{{ path('get_show', {identifier: ad.show.slug}) }}">{{ ad.show.name }}</a> is looking for:
            {{ ad.getPositionsOneLine() }}
            - <a href="{{ path('get_techie', {identifier: ad.slug}) }}">more details</a>
        </li>
    {% endfor %}
    {% for ad in app_ads %}
        <li>
            {% if ad.show %}
                <a href="{{ path('get_show', {identifier: ad.show.slug}) }}">{{ ad.show.name }}</a> has announced:
                {{ ad.text() }} -
                <a href="{{ path('get_application', {identifier: ad.show.slug}) }}">more details</a>
            {% elseif ad.society %}
                <a href="{{ path('get_society', {identifier: ad.society.slug}) }}">{{ ad.society.name }}</a> has announced:
                {{ ad.text() }} -
                <a href="{{ path('get_application', {identifier: ad.society.slug}) }}">more details</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% if auditions | length == 0 and techie_ads | length == 0 and app_ads | length == 0 %}
    <p>No opportunities are currently being advertised - why not check out the <a href="{{ path('get_auditions') }}">main vacancies page</a>?</p>
    {% endif %}
</div>
