<h5>Linked Accounts</h5>
{% for u in app.user.externalUsers %}
    <p>
    <img src="{{ asset('/bundles/actscamdramsecurity/images/' ~ u.service ~ '.png') }}" alt="{{ u.service | capitalize }}" title="{{ u.service | capitalize }}" width="19" height="19" />
    Your Camdram account is linked to the {{ u.service | capitalize }} account {{ u.username }}
    <a href="{{ path('acts_camdram_security_unlink_account', {service: u.service}) }}">(unlink)</a>
    </p>
{% endfor %}

{% for service in services %}
    {% if app.user.getExternalUserByService(service.name) is null %}
      <p><a href="{{ path('acts_external_login_entry', {service: service.name}) }}" class="icon-link">
              <img src="{{ asset('/bundles/actscamdramsecurity/images/' ~ service.name ~ '.png') }}" alt="{{ service.name | capitalize }}" title="{{ service.name | capitalize }}" width="19" height="19" />
              Link your Camdram account to your {{ service.name | capitalize }} account
          </a></p>
    {% endif %}
{% endfor %}