{% extends 'layout.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    {%- if query is empty -%}
        <div class="error_panel">No search string given! Use the search bar above, or
            <span><a href="{{ path('search_entity', {'mode': '/advanced', 'q': query}) }}">» advanced search</a></span>.
        </div>
    {%- else -%}
        <div class="split-header">
            <h3>{{ resultset.totalhits }} {{ 'result'|plural(resultset.totalhits) }} for “{{ query }}”.</h3>
            <span><a href="{{ path('search_entity', {'mode': '/advanced', 'q': query}) }}">» Advanced search</a></span>
        </div>
    {%- endif -%}

    {%- if resultset.data.error is defined -%}
        <div class="error_panel">
            An error occured. {{ resultset.data.error }}
        </div>
    {%- elseif resultset.data is empty -%}
        <div class="panel">No results.</div>
    {%- else -%}
        {%- for result in resultset.data -%}
            {%- if result.entity_type == 'show' -%}
                {{ render(controller('Acts\\CamdramBundle\\Controller\\ShowController::searchResultPanelAction', {slug : result.slug})) }}
            {%- else -%}
            <div class="panel">
                <h5>{{ result.entity_type | capitalize }}<br>
                    <a href="{%- if result.entity_type == 'person' %}{{ path('get_person', {identifier: result.slug}) }}
        {%- elseif result.entity_type == 'society' %}{{ path('get_society', {identifier: result.slug}) }}
        {%- elseif result.entity_type == 'venue' %}{{ path('get_venue', {identifier: result.slug}) }}
        {%- endif %}">{{ result.name }}</a>
                </h5>
            </div>
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}

    {%- include 'paginator.html.twig' -%}
{% endblock %}
