{% extends 'vacancies.html.twig' %}

{% set current_vacancies_id = 'applications' %}
{% block title %}Applications{% endblock %}

{% block vacancies_header %}
   <h3>Producer/director roles and show applications</h3>
   <ul role="navigation">
        <li><i class="fa fa-list"></i> List View</li>
        <li><a href="applications.rss"><i class="fa fa-rss"></i> RSS Feed</a></li>
        <li><a href="applications.txt"><i class="fa fa-file-text-o"></i> Plain Text</a></li>
    </ul>
{% endblock %}

{% block vacancies_body %}
    {%- set current = null -%}
    {%- for a in applications -%}
        {%- set entity = a.society ?? a.show ?? a.venue -%}
        {%- if entity.name != current-%}
            {%- if current != null -%}
                </div>
            {%- endif -%}
            {%- set current = entity.name -%}
            <div>
        {%- endif -%}
        <hr>
        <div id="{{ entity.slug -}}">
        {%- if a.show -%}
            {%- include 'show/advert_header.html.twig' with {'show': a.show} -%}
        {%- else -%}
            <h4><a href="{{ path('get_' ~ entity.organisationtype, {identifier: entity.slug}) }}">{{ current }}</a></h4>
        {%- endif -%}
        <h5>{{ a.text }}</h5>
        {%- if a.furtherinfo -%}
            <p>{{ a.furtherinfo|camdram_markdown }}</p>
        {%- endif -%}
        <p><strong>Deadline:</strong> {{ a.deadlinedate|date('l jS F') -}}
        {%- if a.deadlinetime -%}
            {{- a.deadlinetime|date(' H:i', 'UTC') -}}
        {%- endif -%}
        </p>
        </div>

    {%- else -%}
        <p>There are currently no vacancies or show applications listed - please check again later.</p>
    {%- endfor -%}

{% endblock %}
