{% for week in diary.weeks %}

    {% if week.periodLabel %}<h4 class="diary-period-label" data-start="{{ week.periodLabel.startAt | date('Y-m-d') }}" data-end="{{ week.periodLabel.endAt | date('Y-m-d') }}">
        {{ week.periodLabel.text }}
        </h4>{% endif %}

    <div class="diary-week" data-start="{{ week.startAt | date('Y-m-d') }}" data-end="{{ week.endAt | date('Y-m-d') }}">
    {% if week.label %}<h5 class="diary-week-label">{{ week.label.text }}</h5>{% endif %}

    <ul class="diary-header">
    {% for date in week.headerDates %}
    	{% if date|date("d/m/Y") == "now"|date("d/m/Y") %}
    		<li class="diary-today">{{ date | date('D j M') }}</li>
    	{% else %} 
    		<li>{{ date | date('D j M') }}</li>
    	{% endif %}
    {% endfor %}
    </ul>
    <div class="diary-content" >
    {% for row in week.rows %}
        <div class="diary-row">
        {% set last_index = -1 %}
        {% for item in row.items %}
        <div class="diary-item diary-{{ item.numberOfDays }}-days{% if item.startIndex != last_index + 1 %} diary-skip-left-{{ item.startIndex - last_index - 1 }}{% endif %}" itemscope="" itemtype="http://schema.org/TheaterEvent">
            {# Jump through hoops here to get the start date of the event itself by treating the offset as seconds in a unix timestamp and 
               then rendering it to appear as a number of days to modify the date by. #}
            <meta itemprop="startDate" content="{{ week.startAt|date_modify(item.startIndex|date('+s \\d\\a\\y\\s'))|date('Y-m-d') }}"/>
            <span class="diary-time">{{ item.startAt | date('g:ia') }}{% if item.endAt %}-{{ item.endAt | date('g:ia') }}<br/>{% endif %}</span>
            {% if item.event.link %}<a itemprop="name" href="{{ item.event.link }}">{{ item.event.name }}</a>
            {% else %}{{ item.event.name }}{% endif %}
            {% if item.event.venue %}<span class="diary-venue" itemprop="location" itemscope="" itemtype="http://schema.org/PerformingArtsTheater">
                <meta itemprop="address" content="Cambridge, UK"/>{# Mandatory field, good enough for almost all cases. #}
                <span itemprop="name">
                {%- if item.event.venueLink %}<a itemprop="url" href="{{ item.event.venueLink }}">{{ item.event.venue }}</a>
                {%- else %}{{ item.event.venue }}
                {% endif %}
                </span>
            </span>{% endif %}
        </div>
         {% set last_index = item.endIndex %}
        {% endfor %}
        </div>
    {% endfor %}
    </div>
    </div>
{% endfor %}
