{# A template for displaying the performance details for a show #}
{% if performances|length > 0  %}
    <meta itemprop="startDate" content="{{ performances[0].startAt|date('Y-m-d') }}"/>
    <span itemprop="location" itemscope="" itemtype="http://schema.org/PerformingArtsTheater">
        <meta itemprop="name" content="
        {%- if performances[0].venue -%}
            {{- performances[0].venue.name -}}
        {%- elseif performances[0].venuename is not empty -%}
            {{- performances[0].venuename -}}
        {%- else -%}
            TBC
        {%- endif -%}
        "/><meta itemprop="address" content="United Kingdom"/>
    </span>
    {% for p in performances %}
        {%- if (diary_links is defined) and (disable_links is not defined) -%}
            <a href="/diary/{{- p.startAt|date('Y-m-d') -}}#diary-item-{{p.id}}" title="View in diary">
		<i class="fa fa-calendar fa-fw" style="width: 2em"></i></a>
        {% endif -%}
        {{- p.startAt|date('g:ia, D jS F Y') -}}
        {%- if p.repeating -%}
            {#- Show the duration -#}
             &ndash;{{ p.repeatUntil|date('D jS F Y') }},
        {% endif %}
        {% if p.venue %}
            at {% if disable_links is defined -%}
                {{ p.venue.name }}
            {%- elseif full_urls is defined -%}
                <a href="{{ url('get_venue', {identifier:p.venue.slug}) }}">{{ p.venue.name }}</a>
            {%- else -%}
                <a href="{{ path('get_venue', {identifier:p.venue.slug}) }}">{{ p.venue.name }}</a>
            {%- endif %}
        {% elseif p.venuename is not empty %}
             at {{ p.venuename }}
        {% else %}
            Venue to be confirmed
        {% endif %}
        <br/>
    {% endfor %}
{% else %}
    Dates and venues to be confirmed.<br/>
{% endif %}

{# Make sure the last row is complete  #}

