{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <div class="row">
    <h3>Search camdram.net</h3>

    {% include 'ActsCamdramBundle::paginator.html.twig' %}
    <hr/>
    {% if result.data|length == 0 %}
        <div class="panel">
            <h5>No results found.</h5>
        </div>
    {% endif %}
    {% for entity in result.data %}
        {% if entity.entity_type == 'show' %}
            {{ render(controller('ActsCamdramBundle:Show:searchResultPanel', {slug : entity.slug})) }}
        {% else %}
        <div class="panel">
            <h5> <div class="entity_type entity_{{ entity.entity_type }}">{{ entity.entity_type | capitalize }}</div>
                <a href="{%- if entity.entity_type == 'person' %}{{ path('get_person', {identifier: entity.slug}) }}
    {%- elseif entity.entity_type == 'society' %}{{ path('get_society', {identifier: entity.slug}) }}
    {%- elseif entity.entity_type == 'venue' %}{{ path('get_venue', {identifier: entity.slug}) }}
    {%- endif %}">{{ entity.name }}</a>

            </h5>
            <p>{{ entity.description | striptags | strip_new_lines | camdram_markdown }}</p>
        </div>
        {% endif %}
    {% endfor %}
    <hr/>
    {% include 'ActsCamdramBundle::paginator.html.twig' %}

    </div>

{% endblock %}
