{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <div class="row">
    <h3>Search camdram.net</h3>

    {% include 'ActsCamdramBundle::paginator.html.twig' %}
    <hr/>
    {% for entity in result.data %}
        <div class="panel">
            <h5> <div class="entity_type entity_{{ entity.type }}">{{ entity.type }}</div>
                <a href="{% if entity.type == 'show' %}{{ path('get_show', {identifier: entity.slug}) }}
    {%- elseif entity.type == 'person' %}{{ path('get_person', {identifier: entity.slug}) }}
    {%- elseif entity.type == 'society' %}{{ path('get_society', {identifier: entity.slug}) }}
    {%- elseif entity.type == 'venue' %}{{ path('get_venue', {identifier: entity.slug}) }}
    {%- endif %}">{{ entity.name }}</a>

            </h5>
            {{ entity.description | striptags | strip_new_lines | camdram_markdown }}
        </div>
    {% endfor %}
    <hr/>
    {% include 'ActsCamdramBundle::paginator.html.twig' %}

    </div>

{% endblock %}

