{% if data | length > 0 %}
<h5>This time...</h5>

<div class="tabbed-content">
    {% for years,shows in data %}
        <a class="title {{ loop.first ? 'active' }}" href="#panel{{ years }}">
            {{- years == 1 ? "last year" : years ~ " years ago"}}</a>
        <div class="content">
            <ul>
                {% for show in shows %}
                    <li>
                        <h6><a href="{{ path('get_show', {identifier: show.slug}) }}">{{ show.name }}</a></h6>
                        <div class="show_info">{{ show.venuenames|join(', ')|truncate(50) }}</div>
                        {{ show.description | truncate(100) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
{% endif %}
