<h5>Get Involved</h5>
<ul>
{% for audition in auditions %}
    <li>{{ link_entity(audition.show) }} is holding auditions:
        in {{ audition.location }} from {{ audition.startAt | date('H:i') }} to {{ audition.endAt | date('H:i') }} on {{ audition.startAt | date('D jS M') }}
        - <a href="{{ path('get_audition', {identifier: audition.show.slug}) }}">more details</a>
    </li>
{% endfor %}
{% for ad in techie_ads %}
    <li>{{ link_entity(ad.show) }} is looking for:
        {{ ad.getPositionsOneLine() }}
        - <a href="{{ path('get_techie', {identifier: ad.slug}) }}">more details</a>
    </li>
{% endfor %}
{% for ad in app_ads %}
    <li>
        {% if ad.show %}
            {{ link_entity(ad.show) }} has announced:
            {{ ad.text() }} -
            <a href="{{ path('get_application', {identifier: ad.show.slug}) }}">more details</a>
        {% elseif ad.society %}
            {{ link_entity(ad.society) }} has announced:
            {{ ad.text() }} -
            <a href="{{ path('get_application', {identifier: ad.society.slug}) }}">more details</a>
        {% endif %}

    </li>
{% endfor %}
</ul>
