{% extends 'layout.html.twig' %}
{% block title %}Edit Admins{% endblock %}

{% block body %}

{% if entity.entityType == 'show' %}
    {{ render(controller('ActsCamdramBundle:Show:adminPanel', {show: entity})) }}
{% elseif entity.entityType == 'society' %}
    {{ render(controller('ActsCamdramBundle:Society:adminPanel', {org: entity})) }}
{% elseif entity.entityType == 'venue' %}
    {{ render(controller('ActsCamdramBundle:Venue:adminPanel', {org: entity})) }}
{% endif %}

<div class="row">
    <div class="large-12 column">
        <p>
        {% if entity.entityType == 'show' %}
            {% set revoke_admin_route = 'revoke_show_admin' %}
            {% set revoke_pending_admin_route = 'revoke_show_pending_admin' %}
            Admins are able to edit the details of a show, create adverts for production
            team vacancies, and edit the people listed who are involved in the show. These
            list show the current admins and the list of people who will be able to edit
            the show after they create an account on Camdram.
        {% elseif entity.entityType == 'society' %}
            {% set revoke_admin_route = 'revoke_society_admin' %}
            {% set revoke_pending_admin_route = 'revoke_society_pending_admin' %}
            Society admins are able to edit the information listed on Camdram, authorise shows involving the society, and to open applications for new shows.
         {% elseif entity.entityType == 'venue' %}
            {% set revoke_admin_route = 'revoke_venue_admin' %}
            {% set revoke_pending_admin_route = 'revoke_venue_pending_admin' %}
            Venue admins are able to edit the information listed on Camdram, authorise shows involving the venue, and to open applications for new shows.
        {% endif %}
        </p>
    <div class="row">
    <div class="large-6 column">
        <h4>Admin Requests</h4>
        {% if requested_admins is defined %}
        {% if requested_admins is empty %}
        <p>There are no requests to be an admin for this {{ entity.entityType }}.</p>
        {% endif %}
        {% for admin in requested_admins %}
            {{ not loop.first ? '</div></div>' }}
            <div class="row" id="admin_{{ admin.id }}">
            <div class="small-10 columns">
            {%- if admin.person is defined -%}
                {%- if admin.person -%}
                    <a href="{{ path('get_person', {identifier: admin.person.slug}) }}">{{ admin.name }}</a>
                {%- else -%}
                    {{ admin.name }}
                {%- endif -%}
            {%- endif -%}
            </div>
            <div class="small-1 columns"><span data-tooltip class="has-tip" title="Approve request."><a href="{{ path('approve_show_admin', {identifier: entity.slug, 'uid': admin.id}) }}"><i class="fa fa-check-circle"></i></a></span></div>
            <div class="small-1 columns"><span data-tooltip class="has-tip" title="Deny request."><a href="{{ path((revoke_admin_route), {identifier: entity.slug, 'uid': admin.id}) }}"><i class="fa fa-times-circle"></i></a></span>
            {{ loop.last ? '</div></div>' }}
        {% endfor %}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="large-6 column">
        <h4>Existing Admins</h4>
        {% if admins is empty %}
        <p>There are no admins specifically for this {{ entity.entityType }}.</p>
        {% endif %}
        {% for admin in admins %}
            {{ not loop.first ? '</div></div>' }}
            <div class="row" id="admin_{{ admin.id }}">
            <div class="small-11 columns">
            {%- if admin.person is defined -%}
                {%- if admin.person -%}
                    <a href="{{ path('get_person', {identifier: admin.person.slug}) }}">{{ admin.name }}</a>
                {%- else -%}
                    {{ admin.name }}
                {%- endif -%}
            {%- endif -%}
            </div><div class="small-1 columns"><span data-tooltip class="has-tip" title="Revoke this admin."><a href="{{ path((revoke_admin_route), {identifier: entity.slug, 'uid': admin.id}) }}"><i class="fa fa-trash-o"></i></a></span>
            {{ loop.last ? '</div></div>' }}
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="large-6 column">
        <h4>Pending Admins</h4>
        {% if admins is empty %}
        <p>There are no pending admins for this {{ entity.entityType }}.</p>
        {% endif %}
        {% for pending in pending_admins %}
            {{ not loop.first ? '</div></div>' }}
            <div class="row" id="pending_{{ pending.id }}">
            <div class="small-11 columns">
            {{ pending.email }}
            </div><div class="small-1 columns"><span data-tooltip class="has-tip" title="Revoke this pending admin."><a href="{{ path((revoke_pending_admin_route), {identifier: entity.slug, 'pending_admin': pending.id}) }}"><i class="fa fa-trash-o"></i></a></span>
            {{ loop.last ? '</div></div>' }}
        {% endfor %}
        <br/>
        <p>Add a new administrator.</p>
        {{ form(form) }}
    </div>
</div>
{% endblock %}

