{% extends 'layout.html.twig' %}
{% block title %}Edit Admins{% endblock %}

{% block body %}

{% if entity.entityType == 'show' %}
    {{ render(controller('ActsCamdramBundle:Show:adminPanel', {show: entity})) }}
{% elseif entity.entityType == 'society' %}
    {{ render(controller('ActsCamdramBundle:Society:adminPanel', {org: entity})) }}
{% elseif entity.entityType == 'venue' %}
    {{ render(controller('ActsCamdramBundle:Venue:adminPanel', {org: entity})) }}
{% endif %}

<p>
{% if entity.entityType == 'show' %}
    {% set revoke_admin_route = 'delete_show_admin' %}
    {% set revoke_pending_admin_route = 'delete_show_pending_admin' %}
    Admins are able to edit the details of a show, create adverts for production
    team vacancies, and edit the people listed who are involved in the show. These
    list show the current admins and the list of people who will be able to edit
    the show after they create an account on Camdram.
{% elseif entity.entityType == 'society' %}
    {% set revoke_admin_route = 'delete_society_admin' %}
    {% set revoke_pending_admin_route = 'delete_society_pending_admin' %}
    Society admins are able to edit the information listed on Camdram, authorise shows involving the society, and to open applications for new shows.
{% elseif entity.entityType == 'venue' %}
    {% set revoke_admin_route = 'delete_venue_admin' %}
    {% set revoke_pending_admin_route = 'delete_venue_pending_admin' %}
    Venue admins are able to edit the information listed on Camdram, authorise shows involving the venue, and to open applications for new shows.
{% endif %}
</p>

<h4>Admin Requests</h4>
{% if requested_admins is defined %}
{% if requested_admins is empty %}
<p>There are no requests to be an admin for this {{ entity.entityType }}.</p>
{% endif %}
{% for admin in requested_admins %}
    <div id="admin_{{ admin.id }}">
    <span data-tooltip class="has-tip" title="Approve request."><a href="{{ path('approve_show_admin', {identifier: entity.slug, 'uid': admin.id}) }}" class="fa fa-check-circle"></a></span>&ensp;
    <span data-tooltip class="has-tip" title="Deny request."><a href="{{ path((revoke_admin_route), {identifier: entity.slug, 'uid': admin.id}) }}" class="fa fa-times-circle"></a></span>&ensp;
    {%- if admin.person is defined -%}
        {%- if admin.person -%}
            <a href="{{ path('get_person', {identifier: admin.person.slug}) }}">{{ admin.name }}</a>
        {%- else -%}
            {{ admin.name }}
        {%- endif -%}
    {%- endif -%}
    </div>
{% endfor %}
{% endif %}

<h4>Existing Admins</h4>
{% if admins is empty %}
<p>There are no admins specifically for this {{ entity.entityType }}.</p>
{% endif %}
{% for admin in admins %}
    <div id="admin_{{ admin.id }}">
        <form action="{{ path(revoke_admin_route, {identifier: entity.slug, uid: admin.id}) }}" method="post" id="revoke_admin_form_{{ admin.id }}" class="inline-block">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="hidden" name="_token" value="{{ csrf_token('delete_admin') }}" />
            <button title="Revoke this admin." class="fa fa-fw fa-trash-o text-button"></button>
        </form>
    {% if admin.person is defined -%}
        {%- if admin.person -%}
            <a href="{{ path('get_person', {identifier: admin.person.slug}) }}">{{ admin.name }}</a>
        {%- else -%}
            {{ admin.name }}
        {%- endif -%}
    {%- endif -%}
    </div>
{% endfor %}

<h4>Pending Admins</h4>
{% if pending_admins is empty %}
<p>There are no pending admins for this {{ entity.entityType }}.</p>
{% endif %}
{% for pending in pending_admins %}
    <div id="pending_{{ pending.id }}">
    <form action="{{ path(revoke_pending_admin_route, {identifier: entity.slug, uid: pending.id}) }}" method="post" id="revoke_pending_admin_form_{{ pending.id }}" class="inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="hidden" name="_token" value="{{ csrf_token('delete_pending_admin') }}" />
        <button title="Revoke this pending admin." class="fa fa-fw fa-trash-o text-button"></button>
    </form>

    {{ pending.email }}
    </div>
{% endfor %}
<br/>
<p>Add a new administrator.</p>
{{ form(form) }}
{% endblock %}

