{% extends '::base.html.twig' %}
{% if current_navigation_id is not defined %}{% set current_navigation_id = '' %}{% endif %}
{% block main %}
  <nav id="header-bar">
      <section>
      <ul class="left hide-for-small">
          {% include 'ActsCamdramBundle:Navigation:nav-items.html.twig'  with {items: {
              'about': {'text': 'About', 'path': path('acts_camdram_about')},
              'development': {'text': 'Development', 'path': path('acts_camdram_development')},
              'api': {'text': 'API', 'path': path('acts_camdram_api_homepage')},
              'faq': {'text': 'FAQ', 'path': path('acts_camdram_faq')},
              'contact-us': {'text': 'Contact Us', 'path': path('acts_camdram_contact_us')},
          }, current_id: current_navigation_id} %}
      </ul>

      <ul class="right">
        {{ render(controller('ActsCamdramSecurityBundle:Default:toolbar')) }}
      </ul>
      </section>
  </nav>

  <!-- End Navigation -->

  <header>
    <div class="row">
      <div class="large-3 columns logo">
        <h1><a href="{{ path('acts_camdram_homepage') }}"><img src="{{ asset('bundles/actscamdram/images/logo.png') }}" alt="camdram" title="camdram"/></a></h1>
      </div>
      <div class="large-9 columns search">
          <form action="{{ path('search_entity') }}" class="searchform" method="GET" id="search_form">
              <i class="fa fa-search"></i>
              <input type="text" name="q" id="searchfield" autocomplete="off" placeholder="Search for a person, venue, show or society..." />
              <div class="results">
                  <ul></ul>
                  <div class="noresults">No results found for &quot;<span class="query"></span>&quot;</div>
                  <div class="error">Search is not availble at the moment</div>
              </div>
              <i class="fa fa-spinner fa-spin"></i>
              <input type="submit" value="Search"/>
          </form>
      </div>
    </div>
  </header>

  <nav class="top-bar">
      <ul class="title-area">
          <li class="name"></li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
      <ul class="left">
          {% include 'ActsCamdramBundle:Navigation:nav-items.html.twig'  with {items: {
          'home': {'text': 'Home', 'path': path('acts_camdram_homepage')},
          'diary': {'text': 'Diary', 'path': path('acts_camdram_diary')},
          'vacancies': {'text': 'Vacancies', 'path': path('get_auditions')},
          'societies': {'text': 'Societies', 'path': path('get_societies')},
          'venues': {'text': 'Venues', 'path': path('get_venues')}
          }, current_id: current_navigation_id} %}
        </ul>
          <ul class="right">
            <li class="has-dropdown">
              <a href="#" id="nav-edit-link"><i class="fa fa-edit"></i></a>
              <ul class="dropdown">
                  {% block option_links %}
                  {% endblock %}
                  {% include 'ActsCamdramBundle:Navigation:nav-items.html.twig' with {items: {
                    'show_admin' : {text: 'Show Admin', path: path('acts_camdram_show_admin'), icon: 'ticket'},
                    'add_show': {text: 'Add a show', path: path('new_show'), icon: 'plus-circle'}
                  }} %}
                  {% if app.user and is_granted('ROLE_EDITOR') %}
                  {% include 'ActsCamdramBundle:Navigation:nav-items.html.twig' with { items: {
                    'add_venue': {text: 'Add a venue', path: path('new_venue'), icon: 'plus-circle'},
                    'add_society': {text: 'Add a society', path: path('new_society'), icon: 'plus-circle'}
                  }} %}
                  {% endif %}
              </ul>
              </li>
          </ul>
      </section>
 </nav>
  <section id="content">
{% block body %}
{% endblock %}
  </section>
{% endblock %}

{% block footer %}

    <div id="sitemap" class="row">
        <div class="large-4 columns">
            <h5>Site Map</h5>
            <a href="{{ path('acts_camdram_homepage') }}">Home</a><br/>
            <a href="{{ path('acts_camdram_diary') }}">Diary</a><br/>
            <a href="{{ path('get_auditions') }}">Vacancies</a><br/>
            <a href="{{ path('get_societies') }}">Societies</a><br/>
            <a href="{{ path('get_venues') }}">Venues</a><br/>
        </div>
        <div class="large-4 columns">
            <h5>Vacant Positions</h5>
            <a href="{{ path('get_techies') }}">Technical</a><br/>
            <a href="{{ path('get_auditions') }}">Actors</a><br/>
            <a href="{{ path('get_applications') }}">Directors/Producers</a><br/>
        </div>
        <div class="large-4 columns">
            <h5>About</h5>
            <a href="{{ path('acts_camdram_about') }}">About Camdram</a><br/>
            <a href="{{ path('acts_camdram_development') }}">Development</a><br/>
            <a href="{{ path('acts_camdram_privacy') }}">Privacy & Cookies</a><br/>
            <a href="{{ path('acts_camdram_faq') }}">FAQ</a><br/>
            <a href="{{ path('acts_camdram_contact_us') }}">Contact Us</a><br/>
        </div>
    </div>

{% endblock %}

