{% if current_navigation_id is not defined %}{% set current_navigation_id = '' %}{% endif %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="keywords" content="cambridge,theatre,drama,comedy,shows,society,societies,ACTS,association" />
  <meta name="description" content="ACTS: Association of Cambridge Theatre Societies. Our website contains details of forthcoming shows and miscellaneous information on Cambridge Drama." /> 

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  <link rel='icon' href='/favicon.png' type='image/png' />

  <title>{% block title %}{% endblock %} - Camdram</title>
  
  <!-- Included CSS Files -->
  <!-- H5BP stylesheets -->
{% stylesheets output='css/main.css'
    'bundles/actscamdram/stylesheets/app/app.scss'
    'bundles/actsdiary/css/diary.css'
    'bundles/actscamdram/stylesheets/jquery/*.css'
    'bundles/hoyesimagemanager/css/fancybox.css'%}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
  <!-- Foundation stylesheets -->

{% block stylesheets %}{% endblock %}


    <!-- Initialize JS Plugins -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    {% javascripts output='js/deps.js'
    '@ActsCamdramBundle/Resources/public/javascripts/jquery/jquery-ui.touchpunch.js'
    '@ActsCamdramBundle/Resources/public/javascripts/foundation/custom.modernizr.js'
    '@ActsCamdramBundle/Resources/public/javascripts/foundation/foundation.min.js'
    '@ActsDiaryBundle/Resources/public/js/diary.js'
    '@FOSJsRoutingBundle/Resources/public/js/router.js'
    '@HoyesImageManagerBundle/Resources/public/js/jquery.uploadify.js'
    '@HoyesImageManagerBundle/Resources/public/js/jquery.fancybox.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts vars=['env'] output='js/main.{env}.js'
    'js/fos_js_routes.{env}.js'
    '@ActsCamdramBundle/Resources/public/javascripts/app/camdram.js'
    '@ActsCamdramBundle/Resources/public/javascripts/app/home.js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block javascripts %}{% endblock %}

</head>
<body>
<div id="wrapper">
  <nav id="header-bar">
      <section>
      <ul class="left hide-for-small">
          {% include 'ActsCamdramBundle:Navigation:nav-items.html.twig'  with {items: {
              'about-us': {'text': 'About Us'},
              'development': {'text': 'Development', 'path': path('acts_camdram_development')},
              'contact-us': {'text': 'Contact Us'},
          }, current_id: current_navigation_id} %}
      </ul>

      <ul class="right">
        {{ render(controller('ActsCamdramSecurityBundle:Default:toolbar')) }}
      </ul>
      </section>
  </nav>

  <!-- End Navigation -->

  <header>
    <div class="row">
      <div class="large-3 columns logo">
        <h1><a href="{{ path('acts_camdram_homepage') }}"><img src="{{ asset('bundles/actscamdram/images/logo.png') }}" alt="camdram" title="camdram"/></a></h1>
      </div>
      <div class="large-9 columns search">
          <form method="get" action="{{ path('get_entities') }}" id="search_form">
              <input type="search" name="q" id="main_search_box" placeholder="search for a show, person, society or venue" />
          </form>
      </div>
    </div>
  </header>

  <nav class="top-bar">
      <ul class="title-area">
          <li class="name"></li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
      <ul class="left">
          {% include 'ActsCamdramBundle:Navigation:nav-items.html.twig'  with {items: {
          'home': {'text': 'Home', 'path': path('acts_camdram_homepage')},
          'diary': {'text': 'Diary', 'path': path('acts_camdram_diary')},
          'vacancies': {'text': 'Vacancies', 'path': path('get_auditions')},
          'societies': {'text': 'Societies', 'path': path('get_societies')},
          'venues': {'text': 'Venues', 'path': path('get_venues')},
          }, current_id: current_navigation_id} %}
        </ul>
          <ul class="right">
            <li class="has-dropdown">
              <a href="#"><img src="{{ asset('/bundles/actscamdram/images/settings.png') }}"></a>
              <ul class="dropdown">
                  {% block option_links %}
                  {% endblock %}
                  {% include 'ActsCamdramBundle:Navigation:nav-items.html.twig' with {items: {
                    'add_show': {text: 'Create a new show', path: path('new_show')}
                  }} %}
                  {% if has_role('ROLE_EDITOR') %}
                  {% include 'ActsCamdramBundle:Navigation:nav-items.html.twig' with { items: {
                    'add_venue': {text: 'Create a new venue', path: path('new_venue')},
                    'add_society': {text: 'Create a new society', path: path('new_society')}
                  }} %}
                  {% endif %}
              </ul>
              </li>
          </ul>
      </section>
 </nav>

  <section id="content">

{% block body %}
{% endblock %}
  </section>

</div>

  <footer>

          <div id="sitemap" class="row">
              <div class="large-4 columns">
                  <h5>Site Map</h5>
                  <a href="{{ path('acts_camdram_homepage') }}">Home</a><br/>
                  <a href="{{ path('acts_camdram_diary') }}">Diary</a><br/>
                  <a href="{{ path('get_auditions') }}">Vacancies</a><br/>
                  <a href="{{ path('get_societies') }}">Societies</a><br/>
                  <a href="{{ path('get_venues') }}">Venues</a><br/>
              </div>
              <div class="large-4 columns">
                  <h5>Vacant Positions</h5>
                  <a href="{{ path('get_techies') }}">Technical</a><br/>
                  <a href="{{ path('get_auditions') }}">Actors</a><br/>
                  <a href="{{ path('get_applications') }}">Directors/Producers</a><br/>
              </div>
              <div class="large-4 columns">
                  <h5>About</h5>
                  <a href="#">Privacy policy</a><br/>
                  <a href="mailto:websupport@camdram.net">Contact Us</a><br/>
              </div>
          </div>
      <div id="copyright" class="row">
        <p>&copy; Association of Cambridge Theatre Societies and contributing groups 2004 &#8212; {{ "now"|date('Y') }}.
Comments &amp; queries to <a href="mailto:websupport@camdram.net">websupport@camdram.net</a>
        </p>
      </div>
  </footer>

  <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

</body>
</html>
