{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'vacancies' %}
{% block title %}Edit Show Applications{% endblock %}

{% block body %}

{% set current_subnav_id = 'edit_application' %}
{{ render(controller('ActsCamdramBundle:Society:adminPanel', {org: form.vars.value.society})) }}

<div class="split-header">
    <h3>Edit show applications advertisement</h3>
</div>

<div class="panel">
    <p>Use the form below to modify or extend your show applications advertisement. The advert will be displayed
    until the expiry date.</p>
    <p>{{ include('markdown_notice.html.twig', { thing: 'advertisement' }) }}</p>
</div>

{{ form_start(form, {'action': path("acts_camdram_society_putadvert", {identifier: org.slug, advertId: advert.id} )}) }}
{{ include('organisation/application-form.html.twig') }}

<div class="text-right">
    <input type="submit" value="Save" class="button"/>
</div>

{{ form_end(form) }}

{% endblock %}
