{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'societies' %}
{% if society.themeColor %}
    {% set colors = wcag_colors(society.themeColor) %}
    {% set body_attribs_raw = ' style="--custom-color: '  ~ colors['raw'] ~
                                    '; --color-text: ' ~ colors['smalltext'] ~ ';"' ~
                              ' class="entity-has-theme-color"' %}
{% endif %}
{% block title %}Society: {{ society.name }}{% endblock %}

{% block body %}

    {% if is_granted('EDIT', society) %}
        {{ render(admin_panel(society)) }}
    {% endif %}

<div class="row panel" itemscope="" itemtype="http://schema.org/TheaterGroup">
    <h2><span itemprop="name">{{ society.name }}</span>&emsp;<small itemprop="alternateName">{{ society.shortname }}</small></h2>

    {% if society.image %}
    <div class="entity-image-container" itemprop="image">
        <a href="{{ society.image.filename | imagine_filter('preview') }}" data-fancybox><img src="{{ society.image.filename | imagine_filter('thumbnail') }}" /></a>
        {% if is_granted('EDIT', society) and is_granted("IS_AUTHENTICATED_FULLY") %}
        <ul class="inline-list">
           {{ include('navigation/form-item.html.twig', {item: {id: 'delete_society_image',
                    path: path('delete_society_image', {identifier:society.slug}), method: 'DELETE', text: 'Remove image', icon: 'eraser'},
                    destructive: {title: "Are you sure you want to delete the image for “" ~ society.name ~ "”?" }
                    }) }}
        </ul>
        {% endif %}
    </div>
    {% elseif is_granted('EDIT', society) %}
    {# Display the prompt to upload image #}
    <div class="entity-image-container">
        <form action="{{ oneup_uploader_endpoint('images') }}" id="image_upload" class="dropzone">
            <input type="hidden" name="identifier" value="{{ society.slug }}"/>
            <input type="hidden" name="type" value="society"/>
        </form>
   </div>
   {% endif %}

   <div class="entity-body-text" itemprop="description">
       {{ society.description | camdram_markdown }}
       {% if can_contact %}
           <p><a href="{{ path('contact_entity', {type: 'society', identifier: society.slug}) }}"><i class="fa fa-envelope-o"></i> Contact {{ society.name }}</a></p>
       {% endif %}
    </div>
</div>

<div class="organisation-social row">
    {%- if society.hasSocialId -%}
    <div class="newsfeed-left-aside">
    {%- else -%}
    <div>
    {%- endif -%}
        {{ render(controller('ActsCamdramBundle:Society:getVacancies', {identifier: society.slug}), {'strategy': 'esi'}) }}
        <p>You can also see <a href="{{ path('acts_camdram_event_bysociety', {slug: society.slug}) }}">all events</a> that have been put on by this society.</p>
    </div>
    {%- if society.hasSocialId -%}
        <div class="split-header">
            <h5>News</h5>
            <ul>
                {% if society.facebookId %}<li>
                    <a href="{{ society.getFacebookUrl() }}" target="_blank" class="icon-link">
                        <img src="{{ asset('images/service/facebook.png') }}" srcset="{{ asset('images/service/facebook.png') }}, {{ asset('images/service/facebook-29.png') }} 1.5x, {{ asset('images/service/facebook-38.png') }} 2x, {{ asset('images/service/facebook-76.png') }} 4x" alt=""/> Facebook</a>
                    </li>{% endif %}
                {% if society.twitterId %}<li>
                    <a href="{{ society.getTwitterUrl() }}" target="_blank" class="icon-link">
                        <img src="{{ asset('images/service/twitter.png') }}" srcset="{{ asset('images/service/twitter.png') }}, {{ asset('images/service/twitter-29.png') }} 1.5x, {{ asset('images/service/twitter-38.png') }} 2x, {{ asset('images/service/twitter-76.png') }} 4x" alt=""/> Twitter</a>
                    </li>{% endif %}
            </ul>
        </div>

        {{ render(controller('ActsCamdramBundle:Society:getNews', {identifier: society.slug}), {'strategy': 'esi'}) }}
    {% endif %}
</div>

<div class="row">
    <div class="split-header">
        <h3>Shows</h3>
        <ul>
            <li>
                <a href="{{ path('acts_camdram_society_getdiary', {identifier: society.slug, _format: 'ics'}) }}">
                    <i class="fa fa-calendar"></i> iCal
                </a>
            </li>
        </ul>
    </div>
    {{ render(url('acts_camdram_society_getdiary', {identifier: society.slug})) }}

    <h4>Past shows</h4>
    <p>See all the shows this society has been previously involved in at <a href="{{ path('acts_camdram_society_gethistory', {identifier: society.slug}) }}">the society history page</a>.
</div>

{% endblock %}
