{% block map_location_widget %}
    {% spaceless %}
        <div id="{{ id }}_container" class="form_map_container">
            {{ form_widget(form) }}
            <small>Click to create a marker, drag/drop to move it</small>
            <div class="form_map">
                {{ google_map_container(location_map) }}
                {{ google_map_js(location_map) }}
                <script>$(function(){ $('#{{ id }}_container').formMap({{ location_map.getJavascriptVariable() }})});</script>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block image_upload_widget %}
    {% spaceless %}
       <div class="three columns">
            {{ form_label(form) }}
        </div>
        <div class="nine columns">
            <input type="hidden"{{ block('widget_attributes') }} value="{% if data %}{{ data.id }}{% endif %}"/>
            <div id="{{ id }}_uploadify_queue" class="uploadify-queue"></div>
            <div id="{{ id }}_{{ preview_div }}" class="uploadify-preview">{% if data %}{{ render_image(data, 250, 200) }}{% endif %}</div>
            <button class="button uploadify-remove" id="{{ id }}_remove"{% if not data %} style="display:none;"{% endif %}>Remove Image</button>
            <div class="uploadify">

            <div id="{{ id }}_uploadify"></div>
            <script type="text/javascript">
                $(function(){
                    $("#{{id}}_uploadify").uploadify({
                        swf  : '{{ asset('bundles/hoyesimagemanager/uploadify.swf') }}',
                        uploader    : '{{ path(post_route) }}',
                        cancelImg : '{{ asset('bundles/hoyesimagemanager/images/cancel.png') }}',
                        formData   : {
                            _uploadify : true,
                            _sessionid : '{{ session }}',
                            width: 250,
                            height: 200
                        },
                        height: 37,
                        fileTypeDesc: 'All Images',
                        fileTypeExts: '*.png;*.jpg;*.jpeg;*.gif',
                        buttonText: 'Select File',
                        multi: false,
                        auto      : true,
                        debug: false,
                        queueID: '{{ id }}_uploadify_queue',
                        onUploadSuccess  : function(file, data) {
                            response = $.parseJSON(data);
                            var img = $('<img/>').attr('src', response.url)
                                    .attr('width', response.width).attr('height', response.height);
                            var anchor = $('<a/>').attr('href', response.full_url).html(img);
                            $('#{{ id }}_{{ preview_div }}').html(anchor);
                            anchor.fancybox();
                            $('#{{ id }}').attr('value', response.id);
                            $('#{{ id }}_remove').show();
                        },
                        onUploadError: function(e, i, h, d) {
                            console.log(e, i, h, d);
                        }
                    });
                    $('#{{ id }}_remove').click(function(e) {
                        e.preventDefault();
                        $('#{{ id }}_{{ preview_div }}').html('');
                        $('#{{ id }}').attr('value', '');
                        $(this).hide();
                        return false;
                    })
                });
            </script>
            </div>
        </div>

    {% endspaceless %}
{% endblock %}

{% block entity_collection_widget %}
    <div  id="{{ id }}" class="entity_collection_container">
        <div class="row">
            <div class="six columns push-three">
                <ul class="entity_collection_list">
                {% for child in data %}
                    {% if child.name is defined %}
                    <li>
                        <span class="collection_name">{{ child.name }}</span> <a href="#" class="entity_collection_remove">Remove</a>
                        <input name="{{ full_name }}[]" type="hidden" class="collection_id" value="{{ child.id }}"/>
                    </li>
                    {% endif %}
                {% endfor %}
                    <li class="template">
                        <span class="collection_name"></span> <a href="#" class="entity_collection_remove">Remove</a>
                        <input name="{{ full_name }}[]" class="collection_id" type="hidden" value="" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="three columns">
                <label for="{{ full_name }}_new_entry" class="right inline">{{ new_label }}</label>
            </div>
            <div class="nine columns">
                <input type="text" id="{{ full_name }}_new_entry" class="autocomplete_input"/>
            </div>
        </div>
    </div>
    <script>$(function(){ $('#{{ id }}').entityCollection({ route: '{{ route }}' }); })</script>
{% endblock %}

{% block entity_search_widget %}
    {% spaceless %}
        {{ form_widget(form.children.name) }}
        {{ form_widget(form.children.id) }}
        <script>$(function(){ $('#{{ id }}_name').entitySearch({ route: '{{ route }}' }); })</script>
    {% endspaceless %}
{% endblock %}

{% block form_option_box %}
    {% if not compound %} {% set label_attr = {for: id} %}{% endif %}
    {% if not label %} {% set label = name|humanize %}{% endif %}
    <label{% for k,v in label_attr %} {{ k }}={{ v }}{% endfor %}>
        {{ form_widget(form) }}
        {{ label | trans({}, translation_domain) }}
        {{ form_errors(form) }}
    </label>
{% endblock %}

{% block form_row %}
    {% if 'checkbox' in form.vars.block_prefixes %}
        <div class="nine columns push-three">
            {{ block('form_option_box') }}
        </div>
    {% else %}
        <div class="three columns">
        {{ form_label(form) }}
        </div>
        <div class="nine columns">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        </div>
    {% endif %}
{% endblock %}

{% block form_errors %}
    {% if errors %}
            {% for error in errors %}
            <small class="error">{% if error.getMessagePluralization() is null %}
                    {{ error.getMessageTemplate() | trans(error.getMessageParameters(), 'validators') }},
                {% else %}
                    {{ error.getMessageTemplate() | transchoice(error.getMessagePluralization(), error.getMessageParameters(), 'validators') }},
                {% endif %}
                </small>
            {% endfor %}
    {% endif %}
{% endblock %}

{% block form_widget_compound %}
    {% if not form.parent and errors is defined %}
        <div class="row">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div class="row"{{ block('widget_container_attributes') }}>
    {{ block('form_rows') }}
    {{ form_rest(form) }}
    </div>
{% endblock %}

{% block form_rows %}
    {% for child in form %}
        <div class="{% if child_class is defined %}{{ child_class }}{% else %}row{% endif %}">
         {{ form_row(child) }}
        </div>
    {% endfor %}
{% endblock %}
