{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'home' %}
{% block title %}Home{% endblock %}

{% block body %}
<div class="row">
    <div class="large-12 columns">
      <h3>Welcome to Camdram <small> - the portal website for student theatre in Cambridge</small></h3>
    </div>
</div>

<div class="row">
    <div class="small-12 columns" id="home-diary-container">
        <div id="home-diary-nav">
            <div class="left-link"><a href="" class=""><i class="fa fa-caret-left"></i></a></div>
            <div class="right-link"><a href=""><i class="fa fa-caret-right"></i></a></div>
            <ul>
                <li class="diary-link"><a href="{{ url('acts_camdram_diary') }}">View more in diary</a></li>
                {%- for week in weeks -%}
                    <li data-week-start="{{ week.startAt | date('Y-m-d') }}" class="week-link{% if week == current_week %} current{% endif %}">
                        <a>
                            {{ week.name }}
                            <em>
                                {%- if week == current_week -%}
                                    <strong>This week</strong>
                                {%- elseif week.startAt == current_week.endAt -%}
                                    Next week
                                {%- else -%}
                                    {{ week.startAt | date('j M') }} - {{ week.endAt | date_modify("-1 day") | date('j M') }}
                                {%- endif -%}
                            </em>
                        </a>
                    </li>
                {% endfor %}
                <li class="diary-link"><a href="{{ url('acts_camdram_diary') }}">View more in diary</a></li>
            </ul>
        </div>
        <div class="overlay"><div class="spinner"><i class="fa fa-spinner fa-spin"></i></div></div>
        <div id="home-diary">
            {{ render(url('acts_camdram_diary_single_week', {fragment: true, date: current_week.startAt | date('Y-m-d')}) , { 'strategy': 'esi'}) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="large-5 columns">
        <div id="home_statistics">
            {{ render(controller('ActsCamdramBundle:Default:statistics'), {'strategy': 'esi'}) }}
        </div>

        <div id="home_vacancies">
            {{ render(controller('ActsCamdramBundle:Default:vacancies'), {'strategy': 'esi'}) }}
        </div>

        <div id="home_historic">
            {{ render(controller('ActsCamdramBundle:Default:historicData'), {'strategy': 'esi'}) }}
        </div>
    </div>
    <div class="large-7 columns">
        <h4>News</h4>
        <hr />
        {% for item in news %}
            {% include 'ActsCamdramBundle:News:item.html.twig' %}
        {% endfor %}
    </div>
</div>


{% endblock %}
