{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'home' %}
{% block title %}Home{% endblock %}

{% block body %}
<div class="row">
    <div class="large-12 columns">
      <h3>Welcome to Camdram <small> - the portal website for student theatre in Cambridge</small></h3>
    </div>
</div>

<div class="row">
    <div class="large-9 columns">
        <div class="section-container auto" data-section>
            {% for period in periods %}
            <section>
                <p class="title" data-section-title><a href="#panel{{ period.id }}">{% if loop.first %}{{ period.name }}
                        {% else %}{{ period.shortName }}
                        {% endif %}</a></p>
                <div class="content" data-section-content>
                    {{ render(url('acts_camdram_diary_period', {id: period.id}) , { 'strategy': 'esi'}) }}
                </div>
            </section>
            {% endfor %}
        </div>
    </div>

    <div class="large-3 columns hide-for-small" id="home_statistics">
        {{ render(controller('ActsCamdramBundle:Default:statistics'), {'strategy': 'esi'}) }}
    </div>
</div>
  
<div class="row">
    <div class="large-5 columns">
        <div id="home_vacancies">
            {{ render(controller('ActsCamdramBundle:Default:vacancies'), {'strategy': 'esi'}) }}
        </div>

        <div id="home_historic">
            {{ render(controller('ActsCamdramBundle:Default:historicData'), {'strategy': 'esi'}) }}
        </div>
    </div>
    <div class="large-7 columns">
        <h4>News</h4>
        <hr />
        {% for item in news %}
            {% include 'ActsCamdramBundle:News:item.html.twig' %}
        {% endfor %}
    </div>
</div>


{% endblock %}
