<h5>Get Involved</h5>
<ul>
{% for audition in auditions %}
    <li><a href="{{ path('get_show', {identifier: audition.show.slug}) }}">{{ audition.show.name }}</a> is holding auditions:
        in {{ audition.location }} from {{ audition.starttime | date('H:i') }} to {{ audition.endtime | date('H:i') }} on {{ audition.date | date('D jS M') }}
        - <a href="{{ path('get_auditions') }}#auditions-{{ audition.show.id }}">more details</a>
    </li>
{% endfor %}
{% for ad in techie_ads %}
    <li><a href="{{ path('get_show', {identifier: ad.show.slug}) }}">{{ ad.show.name }}</a> is looking for:
        {{ ad.getPositionsOneLine() }}
        - <a href="{{ path('get_techieadverts') }}#advert-{{ ad.id }}">more details</a>
    </li>
{% endfor %}
{% for ad in app_ads %}
    <li>
        {% if ad.show %}
            <a href="{{ path('get_show', {identifier: ad.show.slug}) }}">{{ ad.show.name }}</a> has announced:
        {% elseif ad.society %}
            <a href="{{ path('get_society', {identifier: ad.society.slug}) }}">{{ ad.society.name }}</a> has announced:
        {% endif %}
        {{ ad.text() }} -
        <a href="{{ path('get_applications') }}#application-{{ ad.id }}">more details</a>
    </li>
{% endfor %}
</ul>
