{# A template for displaying the performance details for a show #}
{% if performances|length > 0  %}
    {% for p in performances %}
        {{ p.time|date('g:ia') }}, {{ p.startdate|date('D jS F') }}
        {% if date(p.startdate) != date(p.enddate) %}
            {# Show the duration #}
             - {{ p.enddate|date('D jS F') }}, 
            {% if (date(p.excludedate) > date(p.startdate)) and (date(p.excludedate) < date(p.enddate)) %}
                (except {{ p.excludedate|date('jS') }}) 
            {% endif %}
        {% endif %}
        {% if p.venuename is not empty %}
             at {{ p.venuename }}
        {% elseif p.venue and (p.venue.name is not empty) %}
             at <a href="{{ path('get_venue', {identifier:p.venue.slug}) }}">{{ p.venue.name|e }}</a>
        {% else %}
            Venue to be confirmed
        {% endif %}
        <br/>
    {% endfor %}
{% else %}
    Dates and venues to be confirmed.<br/>
{% endif %}

{# Make sure the last row is complete  #}
