{% extends 'layout.html.twig' %}

{% block title %}Merge Person: {{ person.name }}{% endblock %}

{% block body %}

{% if is_granted('EDIT', person) %}
    {{ include('person/admin-panel.html.twig') }}
{% endif %}

<div id="entity-header">
    <h2><a href="{{ path('get_person', {identifier: person.slug}) }}">{{ person.name }}</a></h2>

    <h4>Merge {{ person.name }} (<em>{{ person.slug }}</em>) with</h4>
</div>


<form action="{{ path("merge_person", {identifier: person.slug}) }}" method="post">
    <p>Please either search for the other person, or enter the slug/URL for the other person:</p>
    {{ form_errors(form) }}

    {{ form_row(form.search_by) }}
    <div class="panel" id="name_fields">
        {{ form_row(form.person) }}
        <p>Selected profile: <a id="name_link" target="_blank"></a></p>
    </div>
    <div class="panel" id="slug_fields">
        {{ form_row(form.slug) }}
        <p>Selected profile: <a id="slug_link" target="_blank"></a></p>
    </div>

    {{ form_row(form.keep_person) }}
    {{ form_rest(form) }}

    <div class="text-right">
        <input type="submit" value="Merge" class="button" />
    </div>

</form>

<script>
{#- begin-CSP-permitted-script -#}
var q = document.querySelector.bind(document);
document.addEventListener('DOMContentLoaded', function() {
    var nameFields = q('#name_fields');
    var slugFields = q('#slug_fields');
    var nameRadio = q('#form_search_by_0');
    var slugRadio = q('#form_search_by_1');

    var setLink = (a, slug) => {
        if (slug != null) {
            var url = Routing.generate('get_person', {identifier: slug}, true);
            a.href = url;
            a.textContent = url;
            a.style.display = 'inline';
        } else {
            a.style.display = 'none';
        }
    }

    nameFields.addEventListener('entitysearch:changed', e => {
        setLink(q('#name_link'), e.detail.slug);
    });
    q('#form_slug').addEventListener('input', e => {
        var slug = e.target.value;
        var matches = slug.match(/\/people\/([a-z\-]+)/i);
        if (matches) {
            slug = matches[1];
        }
        var slugRegex = /^[a-z\-]+$/i
        if (!slugRegex.test(slug)) slug = null;

        setLink(q('#slug_link'), slug);
    });

    var updateMergeForm = () => {
        nameFields.style.display = nameRadio.checked ? null : 'none';
        slugFields.style.display = nameRadio.checked ? 'none' : null;
    }
    updateMergeForm();
    nameRadio.addEventListener('change', updateMergeForm);
    slugRadio.addEventListener('change', updateMergeForm);
})
{#- end-CSP-permitted-script -#}
</script>

{% endblock %}
