{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Applications{% endblock %}

{% block body %}
<div class="row">
    <div class="twelve columns">
    {% spaceless %}
    {% set current = null %}
    {% for a in applications %}
        {% set entity = a.society ? a.society : a.show %}
        {% if entity.name != current%}
            {% if current != null %}
                </div>
            {% endif %}
            {% set current = entity.name %}
            <div class="row">
        {% endif %}
        <h4><a href="{{ path((a.show ? 'get_show' : 'get_society'),
            {identifier: entity.slug}) }}">{{ current }}</a></h4>
        <h5>{{ a.text }}</h5>
        {% if a.furtherinfo %}
            <p>{{ a.furtherinfo|nl2br }}</p>
        {% endif %}
        <strong>Deadline:</strong> {{ a.deadlinedate|date('l jS F') }}
        {% if a.deadlinetime %}
            {{ a.deadlinetime|date('g:ia') }}
        {% endif %}
        <br>
        <hr>
    {% endfor %}
    {% endspaceless %}
    </div>
    </div>
</div>
{% endblock %}
