<p>{{ entity.show ? entity.show.name : entity.society.name }}</p>
{% if entity.show %}
    <p>{% include 'ActsCamdramBundle:Performance:show.html.twig' with {'disable_links': true, 'performances' : entity.show.performances} %}</p>
{% endif %}

<h3>{{ entity.text }}</h3>

{% if entity.furtherinfo %}
	<p>{{ entity.furtherinfo|nl2br|detect_links }}</p>
{% endif %}

<p><strong>Deadline:</strong> {{ entity.deadlinedate|date('l jS F') }}
{% if entity.deadlinetime %}
	{{ entity.deadlinetime|date('g:ia') }}
{% endif %}
</p>