<div class="admin-panel">

    <div class="right">
        <a href="{{ path('get_users') }}" class="button small">Back to user list</a>
    </div>

    <h3><a href="{{ path('get_user', {identifier: user.id}) }}">{{ user.name }}</a></h3>

    <ul class="inline-list">
        {{ include('ActsCamdramBundle:Navigation:nav-item.html.twig', {
            item: {id: 'edit_user', path: path('edit_user',{identifier:user.id}), icon: 'pencil',
            text: 'Edit this user'} })
        }}
        {{ include('ActsCamdramBundle:Navigation:nav-item.html.twig', {
            item: {id: 'remove_user', path: path('remove_user',{identifier:user.id}), icon: 'eraser',
            text: 'Delete this user'} })
        }}
        {{ include('ActsCamdramBundle:Navigation:nav-item.html.twig', {
            item: {id: 'reset_user_password', path: path('reset_user_password',{identifier:user.id}), icon: 'key',
            text: 'Reset password'} })
        }}
        {% if not has_role('ROLE_PREVIOUS_ADMIN') %}
            {{ include('ActsCamdramBundle:Navigation:nav-item.html.twig', {
                item: {id: 'impersonate_user', path: path('acts_camdram_homepage', {_switch_to_user: user.email}),
                icon: 'male', text: 'Impersonate this user'} })
            }}
        {% endif %}
    </ul>
</div>