{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}User - {{ user.name }}{% endblock %}

{% block body %}

<div class="row" xmlns="http://www.w3.org/1999/html">


    <div class="twelve columns">

        <h2>{{ user.name }}</h2>

        <p><a href="{{ path('edit_user', {identifier: user.id}) }}">Edit</a></p>

        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Registered:</strong> {% if user.registeredAt > date('0000-00-00') %}{{ user.registeredAt | date('Y-m-d') }}{% endif %}</td>
        <p><strong>Last login:</strong> {% if user.lastLoginAt > date('0000-00-00') %}{{ user.lastLoginAt | date('Y-m-d') }}{% endif %}</td>

        {% if user.person %}
            <p>Linked to person <a href="{{ path('get_person', {identifier: user.person.slug}) }}">{{ user.person.name }}</a></p>
        {% endif %}

        {% if user.roles | length > 0 %}
        <h4>Roles</h4>
        <ul>
        {% for role in user.roles %}
            <li>{{ role }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <a href="{{ path('get_users') }}" class="button small">Back to user list</a>
    </div>

</div>

{% endblock %}
