{% extends 'base.html.twig' %}
{% if current_navigation_id is not defined %}{% set current_navigation_id = '' %}{% endif %}
{% block main %}
  <nav class="navbar">
    <div>
      <ul>
        <li class="opt-dropdown">
          <a href="#!" tabindex="-1" aria-label="About us dropdown"><i class="fa fa-info-circle"></i></a>
          <ul>
            {% include 'navigation/nav-items.html.twig'  with {items: {
                'about': {'text': 'About', 'path': path('acts_camdram_about')},
                'development': {'text': 'Development', 'path': path('acts_camdram_development')},
                'api': {'text': 'API', 'path': path('acts_camdram_api_homepage')},
                'privacy': {'text': 'Privacy Policy', 'path': path('acts_camdram_privacy')},
                'faq': {'text': 'FAQ', 'path': path('acts_camdram_faq')},
                'contact-us': {'text': 'Contact Us', 'path': path('acts_camdram_contact_us')},
            }, current_id: current_navigation_id} %}
          </ul>
        </li>
      </ul>

      <ul>
        {% block logintoolbar %}
        {{ render(controller("Acts\\CamdramSecurityBundle\\Controller\\DefaultController::toolbarAction")) }}
        {% endblock %}
      </ul>
    </div>
  </nav>

  {% if development_warning %}
    {% set theme="DEV" %}
    {% set imgtheme="-dev" %}
  {% elseif "now"|date("m") == "06" %}
    {% set theme="PRIDE" %}
    {% set imgtheme="-pride" %}
  {% elseif "now"|date("md") > 1205 %}
    {% set theme="XMAS" %}
    {% set imgtheme="-christmas" %}
  {% else %}
    {% set theme="" %}
    {% set imgtheme="" %}
  {% endif %}

  <header id="main-header" data-theme="{{ theme }}">
    <div>
      <h1 id="logo-block"><a href="{{ path('acts_camdram_homepage') }}"><img srcset="{{
            asset('images/logo' ~ imgtheme ~ '.png') }}, {{
            asset('images/logo' ~ imgtheme ~ '-1.5x.png') }} 1.5x, {{
            asset('images/logo' ~ imgtheme ~ '-2x.png') }} 2x, {{
            asset('images/logo' ~ imgtheme ~ '-4x.png') }} 4x" src="{{
            asset('images/logo' ~ imgtheme ~ '.png') }}" alt="Camdram" title="Camdram"/></a></h1>
      <div class="search">
        <form action="{{ path('search_entity') }}" class="searchform" method="GET" id="search_form">
          <i class="fa fa-search">
            <span>Tip: Press the 's' or forward-slash key to jump to search!</span>
          </i>
          <input type="text" name="q" id="searchfield" data-hotkey="s,/" autocomplete="off" placeholder="Search for a person, venue, show or society..." aria-label="Search"/>
          <div class="results hidden">
            <ul></ul>
            <div class="noresults">No results found for &quot;<span class="query"></span>&quot;</div>
            <div class="error">Search is not available at the moment</div>
          </div>
          <i class="fa fa-spinner fa-spin"></i>
          <input type="submit" value="Search"/>
        </form>
      </div>
    </div>
  </header>

  <nav class="navbar">
    <div>
      <ul>
          {% include 'navigation/nav-items.html.twig'  with {items: {
          'home': {'text': 'Home', 'path': path('acts_camdram_homepage'), icon: 'home'},
          'diary': {'text': 'Diary', 'path': path('acts_camdram_diary'), icon: 'calendar'},
          'vacancies': {'text': 'Vacancies', 'path': path('get_auditions')},
          'societies': {'text': 'Societies', 'path': path('get_societies')},
          'venues': {'text': 'Venues', 'path': path('get_venues')},
          }, current_id: current_navigation_id} %}
          {% include 'navigation/nav-items.html.twig'  with {items: {
          'people': {'text': 'People', 'path': path('get_people')}
          }, current_id: current_navigation_id, class: 'hide-for-small'} %}
      </ul>
      <ul>
        <li class="dropdown">
          <a href="#!" id="nav-edit-link" tabindex="-1"><i class="fa fa-edit"></i></a>
          <ul>
            {% block option_links %}
            {% endblock %}
            {% include 'navigation/nav-items.html.twig' with {items: {
              'show_admin' : {text: 'Show Admin', path: path('acts_camdram_show_admin'), icon: 'ticket'},
              'add_show': {text: 'Add a show', path: path('acts_camdram_show_new'), icon: 'plus-circle'}
            }} %}
            {% if app.user and is_granted('ROLE_EDITOR') %}
            {% include 'navigation/nav-items.html.twig' with { items: {
              'add_venue': {text: 'Add a venue', path: path('acts_camdram_venue_new'), icon: 'plus-circle'},
              'add_society': {text: 'Add a society', path: path('acts_camdram_society_new'), icon: 'plus-circle'}
            }} %}
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <section id="content" {{ (section_attribs_raw ?? '') | raw }}>
{% block body %}
{% endblock %}
  </section>
{% endblock %}

{% block footer %}

    <div id="sitemap" class="row">
        <div>
            <h5>Site Map</h5>
            <a href="{{ path('acts_camdram_homepage') }}">Home</a><br/>
            <a href="{{ path('acts_camdram_diary') }}">Diary</a><br/>
            <a href="{{ path('get_auditions') }}">Vacancies</a><br/>
            <a href="{{ path('get_societies') }}">Societies</a><br/>
            <a href="{{ path('get_venues') }}">Venues</a><br/>
            <a href="{{ path('get_people') }}">People</a><br/>
        </div>
        <div>
            <h5>Vacant Positions</h5>
            <a href="{{ path('get_techies') }}">Technical</a><br/>
            <a href="{{ path('get_auditions') }}">Actors</a><br/>
            <a href="{{ path('get_applications') }}">Directors/Producers</a><br/>
        </div>
        <div>
            <h5>About</h5>
            <a href="{{ path('acts_camdram_about') }}">About Camdram</a><br/>
            <a href="{{ path('acts_camdram_development') }}">Development</a><br/>
            <a href="{{ path('acts_camdram_api_homepage') }}">API Documentation</a><br/>
            <a href="{{ path('acts_camdram_privacy') }}">Privacy &amp; Cookies</a><br/>
            <a href="{{ path('acts_camdram_userguidelines') }}">User Guidelines</a><br/>
            <a href="{{ path('acts_camdram_faq') }}">FAQ</a><br/>
            <a href="{{ path('acts_camdram_contact_us') }}">Contact Us</a><br/>
        </div>
    </div>

{% endblock %}
