<h5>{% block vacancies_panel_title %}Get involved:{% endblock %}</h5>

{% for advert in adverts %}
    <div class="vacancies-panel" >
        <h5>{{ link_entity(advert) }}</h5>
<<<<<<< HEAD
        <p>{{ advert.summary | annotate_positions(advert.positions) }}</p>
        <ul class="prose-list">
=======
        <p>{{ advert.summary }}</p>
        <ul class="prose-list">
>>>>>>> master
        {%- for audition in advert.auditions -%}
            <li>{{ audition.dateString }}, {{ audition.location }}</li>
        {%- endfor -%}
        </ul>
        <p>Contact {{ advert.contactDetails | detect_links }} before {{advert.expiresAt | date('jS M Y H:i')}} for more details.</p>
    </div>
{% endfor %}

</ul>
{% if adverts | length == 0 %}
<p>No opportunities are currently being advertised - why not check out the <a href="{{ path('get_adverts') }}">main vacancies page</a>?</p>
{% endif %}
