{% extends 'vacancies.html.twig' %}


{% block title %}Technical and designer roles{% endblock %}
{% set current_vacancies_id='techies' %}

{% block vacancies_header %}
    <h3>Technical and designer roles</h3>

    <ul role="navigation">
        <li><i class="fa fa-list"></i> List view</li>
        <li><a href="techies.rss"><i class="fa fa-rss"></i> RSS Feed</a></li>
        <li><a href="techies.txt"><i class="fa fa-file-text-o"></i> Plaintext</a></li>
    </ul>
{% endblock %}

{% block vacancies_body %}
    {% for a in techieadverts %}
        <hr>
        <div id="{{ a.show.slug }}">
            {%- include 'show/advert_header.html.twig' with
                {'show': a.show} -%}
        <p><strong>Looking for:</strong>
        <ul>
        {% for p in a.positions|split("\n") %}
            {% if p is not empty %}
                <li>{{ p }}</li>
            {% endif %}
        {% endfor %}
        </ul>
        </p>
        {% if a.techextra %}
            <p>{{ a.techextra|camdram_markdown }}</p>
        {% endif %}
        <p><strong>Contact:</strong> {{ a.contact|detect_links }}</strong><br/>
        <strong>Deadline for applications:</strong> {{ a.expiry|date('l jS F H:i')|replace({' 00:00': ''}) }}
        </p>
        </div>
    {% else %}
        <p>There are currently no vacancies listed - please check again later.</p>
    {% endfor %}

{% endblock %}
