{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'shows' %}
{% block title %}Shows{% endblock %}

{% block body %}

<h3>Show Administration</h3>

{% if unauthorised | length > 0 %}
<h5>Unauthorised shows</h5>
<ul class="large-block-list">
    {% for show in unauthorised %}
        <li>
            <div class="panel">
                <h5>{{ link_entity(show) }}</h5>
                <p>{% include 'performance/show.html.twig' with {'performances': show.performances } %}</p>
                <p>{{ show.description | camdram_markdown | truncateHTML(200) }}</p>
            </div>
        </li>
    {% endfor %}
</ul>
{% endif %}

<h5>My Shows</h5>
<ul class="large-block-list">
{% for show in shows %}
    <li>
        <div class="panel">
            <h5>{{ link_entity(show) }}</h5>
            <p>{% include 'performance/show.html.twig' with {'performances': show.performances } %}</p>
            <p>{{ show.description | camdram_markdown | truncateHTML(200) }}</p>
            {% if not show.authorised %}
                <em>Not yet visible to the public – awaiting approval.</em>
            {% endif %}
        </div>
    </li>
{% else %}
    <li>You have not created any shows.</li>
{% endfor %}
</ul>
<p>
    <a class="button small" href="{{ path('acts_camdram_show_new') }}">Create a show</a>
</p>

{% endblock %}
