{% extends 'ActsCamdramBundle::vacancies.html.twig' %}

{% block title %}Auditions{% endblock %}
{% set current_vacancies_id='auditions' %}

{% block vacancies_body %}

    <ul class="inline-list right">
        <li>List view</li>
        <li><a href="{{ path('get_auditions_diary') }}">Diary view</a></li>
    </ul>

    <h3>Auditions</h3>

    {% spaceless %}
    {% set currentName = null %}
    {% for a in auditions %}
        {% if a.show %}
            {% if currentName != a.show.name %}
                {% if currentName is not empty %} 
                    </ul>
                    </div>
                {% endif %}
                {% set currentName = a.show.name %}
                <hr>
                <div id="auditions-{{ a.show.id }}">
                <h5><a href="{{ path('get_show', {identifier: a.show.slug}) }}">{{ a.show.name|e }}</a></h5>
                    <p>{{ a.show.audextra | detect_links }}</p>
                    <ul>
            {% endif %}
	    {% if a.nonscheduled %}
	    </ul>
          <p>Contact {{a.location}} before {{a.starttime|date('g:ia')}} {{a.date|date('D d M')}} for more details.</p>
	  </div>
		{% set currentName = null %}
	    {% else %}
            <li>{{ a.date|date('D d M') }}, {{ a.starttime|date('g:ia') }}-{{ a.endtime|date('g:ia') }}, {{ a.location }}</li>
            {% endif %}
        {% endif %}

    {% else %}
        <p>There are currently no auditions listed - please check again later.</p>
    {% endfor %}
    </ul>
    {% endspaceless %}

{% endblock %}
