{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'vacancies' %}
{% block title %}Auditions{% endblock %}

{% block body %}
<div class="row">
    <div class="twelve columns">
    {% spaceless %}
    {% set currentName = null %}
    {% for a in auditions %}
        {% if a.show %}
            {% if currentName != a.show.name %}
                </ul>
                {% if currentName is not empty %}
                    </div>
                    <hr>
                {% endif %}
                {% set currentName = a.show.name %}
                <div id="auditions-{{ a.show.id }}">
                <h5><a href="{{ path('get_show', {identifier: a.show.slug}) }}">{{ a.show.name|e }}</a></h5><ul>
            {% endif %}
            <li>{{ a.date|date('D d M') }}, {{ a.starttime|date('g:ia') }}-{{ a.endtime|date('g:ia') }}, {{ a.location }}</li>
        {% endif %}
    {% endfor %}
    </ul>
    {% endspaceless %}
    </div>
</div>
{% endblock %}
