{% extends 'ActsCamdramBundle::vacancies.html.twig' %}

{% block title %}Auditions{% endblock %}
{% set current_vacancies_id='auditions' %}

{% block vacancies_body %}

    <ul class="inline-list right">
        <li>List view</li>
        <li><a href="{{ path('get_auditions_diary') }}"><i class="fa fa-calendar"></i> Diary View</a></li>
        <li><a href="auditions.rss"><i class="fa fa-rss"></i> RSS Feed</a></li>
        <li><a href="auditions.txt"><i class="fa fa-file-text-o"></i> Plain Text</a></li>
    </ul>

    <h3>Auditions</h3>

    {% spaceless %}
    {% set currentName = null %}
    {% for a in auditions %}
        {% if a.show %}
            {% if currentName != a.show.name %}
                {% if currentName is not empty %}
                    </ul>
                    </div>
                {% endif %}
                {% set currentName = a.show.name %}
                <hr>
                <div id="{{ a.show.slug }}">
                    {% include 'ActsCamdramBundle:Show:advert_header.html.twig' with
                        {'show': a.show} %}
                    <p>{{ a.show.audextra | camdram_markdown }}</p>
                    <ul>
            {% endif %}
            {% if a.nonscheduled %}
	            </ul>
                <p>Contact {{a.location}} before {{a.starttime|date('g:ia')}} {{a.date|date('D d M')}} for more details.</p>
	            </div>
		    {% set currentName = null %}
	        {% else %}
                <li>{{ a.date|date('D jS M') }}, {{ a.starttime|date('g:ia') }}-{{ a.endtime|date('g:ia') }}, {{ a.location }}</li>
            {% endif %}
        {% endif %}
    {% else %}
        <p>There are currently no auditions listed - please check again later.</p>
    {% endfor %}
    </ul>
    {% endspaceless %}

{% endblock %}
