<div class="vacancies-panel{% if not advert.visible %} hidden{% endif %}">
    <div class="split-header">
        <h5>{{ link_entity(advert) }}</h5>
        <ul role="menubar">
            {%- if advert.expired -%}
                <li><em><i class="fa fa-clock-o"></i> Expired</em></li>
            {%- elseif advert.display -%}
                {{- include('navigation/form-item.html.twig', { item: {
                    intent: 'hide_advert', class: 'small',
                    path: path('hide_advert', {id: advert.id}), text: 'Hide', icon: 'eye-slash'} }) -}}
            {%- else -%}
                <li><em><i class="fa fa-eye-slash"></i> Hidden from public</em></li>
                {{- include('navigation/form-item.html.twig', { item: {
                    intent: 'show_advert', class: 'small',
                    path: path('show_advert', {id: advert.id}), text: 'Show', icon: 'eye'} }) -}}
            {%- endif -%}

            {{- include('navigation/form-item.html.twig', { item: {
                    intent: 'delete_advert', class: 'small',
                    path: path('delete_advert', {id: advert.id}), method: 'DELETE', text: 'Delete', icon: 'eraser'},
                destructive: {
                    title: "Delete the advert “" ~ advert.name ~ "”?",
                    text: "This is permanent; you could hide it instead." }
                }) -}}
            <li><a href="{{ path('acts_camdram_' ~ advert.parentEntity.entityType ~ '_editadvert',
                        {identifier: advert.parentEntity.slug, advertId: advert.id}) }}" class="button small">
                <i class="fa fa-pencil"></i> Edit</a>
            </li>
        </ul>
    </div>

    <p>{{ advert.summary }}</p>
    <ul>
    {%- for audition in advert.auditions -%}
        <li>{{ audition.dateString }}, {{ audition.location }}</li>
    {%- endfor -%}
    </ul>
    <p></p>
    <p>Contact {{ advert.contactDetails | detect_links }} before {{advert.expiresAt | date('jS M Y H:i')}} for more details.</p>
</div>
