{% extends 'advert/layout.html.twig' %}

{% block title %}Vacancies{% endblock %}

{% block vacancies_body %}
    <div id="adc-guidance">
        {% include 'advert/adc-guidance.html.twig' %}
    </div>

    {%- for a in adverts -%}
        <div class="vacancies-panel">
            <h5>{{ link_entity(a) }}</h5>
            {% if a.show %}
            <div class="vacancies-show-panel">
                {%- include 'show/advert_header.html.twig' with {'show': a.show} -%}
            </div>
            {% elseif a.society %}
            <div class="vacancies-show-panel">
                <h5><a href="{{ path('get_society', {identifier: a.society.slug}) }}">{{ a.society.name }}</a></h5>
            </div>
            {% elseif a.venue %}
            <div class="vacancies-show-panel">
                <h5><a href="{{ path('get_venue', {identifier: a.venue.slug}) }}">{{ a.venue.name }}</a></h5>
            </div>
            {% endif %}
            {%- if a.show and a.show.contentWarning -%}
            <details class="content-warning">
                <summary><div><span><strong>Content warning</strong> (may contain spoilers)</span> <span>Click to expand</span><span>Click to close</span></div></summary>
                <div>{{ a.show.contentWarning | nl2br }}</div>
            </details>
            {%- endif -%}
            <p>{{ a.summary | annotate_positions(a.positions) }}</p>
            <ul>
            {%- for audition in a.auditions -%}
                <li>{{ audition.dateString }}, {{ audition.location }}</li>
            {%- endfor -%}
            </ul>
            <p></p>
            <p>Contact {{ a.contactDetails|detect_links }} before {{a.expiresAt | date('jS M Y H:i')}} for more details.</p>
        </div>
    {%- else -%}
        <p>There are currently no advertisements listed – please check again later.</p>
    {%- endfor -%}
    </ul>
{% endblock %}
