{% extends 'advert/layout.html.twig' %}

{% block title %}Advert: {{ advert.title }}{% endblock %}

{% block vacancies_body %}
    <div class="vacancies-panel">
        <h4>{{ advert.title }}</h4>
        {% if advert.show %}
        <div class="vacancies-show-panel">
            {%- include 'show/advert_header.html.twig' with {'show': advert.show} -%}
        </div>
        {% elseif advert.society %}
        <div class="vacancies-show-panel">
            <h5><a href="{{ path('get_society', {identifier: advert.society.slug}) }}">{{ advert.society.name }}</a></h5>
        </div>
        {% elseif advert.venue %}
        <div class="vacancies-show-panel">
            <h5><a href="{{ path('get_venue', {identifier: advert.venue.slug}) }}">{{ advert.venue.name }}</a></h5>
        </div>
        {% endif %}
        <p>{{ advert.summary | camdram_markdown }}</p>
        <ul>
        {%- for audition in advert.auditions -%}
            <li>{{ audition.dateString }}, {{ audition.location }}</li>
        {%- endfor -%}
        </ul>
        <p></p>
        <p>Contact {{ advert.contactDetails | detect_links }} before {{advert.expiresAt | date('jS M Y H:i')}} for more details.</p>
    </div>
    
    <hr/>
    <p>{{ advert.body | camdram_markdown }}</p>
{% endblock %}
