<p>{{ entity.show.name }}

{% for society in entity.show.prettysocdata %}
{{- loop.index == 1 ? " – " -}}
{%- if society.id is defined -%}
    <a href="{{ path('get_society', {identifier: society.slug}) }}">{{ society.shortname ?: society.name }}</a>
{%- else -%}
    {{ society.name }}
{% endif %}
{%- if loop.revindex > 2 -%}
    ,
{% elseif loop.revindex == 2 %}
    and
{% endif -%}
{% endfor %}</p>
<p>{{ entity.show.audextra | camdram_markdown }}</p>

<ul>
{% if entity.nonscheduled %}
    </ul>
    <p>Contact {{ entity.location|detect_links }} before {{entity.dateString}} for more details.</p>
    {% set currentName = null %}
{% else %}
    <li>{{ entity.dateString }}, {{ entity.location }}</li>
    </ul>
{% endif %}
