{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Group - {{ group.name }}{% endblock %}

{% block body %}

<div class="row" xmlns="http://www.w3.org/1999/html">


    <div class="twelve columns">

        <h2>{{ group.name }}</h2>

        {% if is_granted('EDIT', group) %}<p><a href="{{ path('edit_group', {identifier: group.shortName}) }}">Edit</a></p>{% endif %}

        <h4>Members</h4>
        <ul>
            {% for user in group.users %}
                <li><a href="{{ path('get_user', {identifier: user.id}) }}">{{ user.name }}</a></li>
            {% endfor %}
        </ul>

        {% if group.roles | length > 0 %}
        <h4>Roles</h4>
        <ul>
        {% for role in group.roles %}
            <li>{{ role }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <h4>{{ group.name }} is the owner of:</h4>
        <ul>
        {% for entity in acl_entries(group) %}
            <li><a href="{{ path('get_entity', {id: entity.id}) }}">{{ entity.name }}</a> ({{ entity.entityType }})</li>
        {% endfor %}
        </ul>
        {% render url('new_group_ace', {identifier: group.shortName}) %}
    </div>

</div>

{% endblock %}
