{% extends 'layout.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    {%- if query is empty -%}
        <div class="error_panel">No search string given! Use the search bar above.</div>
    {%- else -%}
        <h3>{{ resultset.totalhits }} results for “{{ query }}”.</h3>
    {%- endif -%}

    {%- for result in resultset -%}
        {%- set entity = result.source -%}
        {% if result.type == 'show' %}
            {{ render(controller('ActsCamdramBundle:Show:searchResultPanel', {slug : entity.slug})) }}
        {% else %}
        <div class="panel">
            <h5>{{ result.type | capitalize }}<br>
                <a href="{%- if result.type == 'person' %}{{ path('get_person', {identifier: entity.slug}) }}
    {%- elseif result.type == 'society' %}{{ path('get_society', {identifier: entity.slug}) }}
    {%- elseif result.type == 'venue' %}{{ path('get_venue', {identifier: entity.slug}) }}
    {%- endif %}">{{ entity.name }}</a>
            </h5>
        </div>
        {% endif %}
    {%- endfor -%}

    {% include 'paginator.html.twig' %}
{% endblock %}
