<p>You have successfully logged in using {{ service.getName() | capitalize }} as
    {% if service.getUserInfo('name') %}{{ service.getUserInfo('name') }}.
    {% else %}{{ service.getUserInfo('username') }}.
    {% endif %}

    You are currently logged in as {{ app.user.name }} - would you like to link this {{ service.getName() | capitalize }}
    account with this user?
</p>

<form method="post" action="{{ path('camdram_security_confirm_add_identity') }}">
    <button name="yes" type="submit" value="1">Yes</button>
    <button name="no" type="submit" value="1">No</button>
</form>