<form method="post" action="{{ path('camdram_security_connect_users') }}" xmlns="http://www.w3.org/1999/html">
{% if possible_users|length == 1 %}
    {% set user = possible_users.0 %}

    <p>We have found an existing user with the name {{ name }} and the email address {{ user.email }}, which last
        logged in on {{ user.login | date('jS F Y') }}.</p>
    <p>Do you wish to associate your {{ service_name | capitalize }} account with it?</p>
    <p>
        <button type="submit" name="link_users[{{ user.id }}]" value="1">Yes</button>
        <button type="submit">No</button>
    </p>

{% elseif possible_users|length > 1 %}

    We have found some existing users with the name {{ name }}. Please check the one(s) that you think belong to you:

    {% for user in possible_users %}
    <p>
        <input type="checkbox" id="link_account_{{ user.id }}" name="link_users[{{ user.id }}]" value="1"/>
        <label for="link_account_{{ user.id }}">{{ user.email }}
        <em>(last logged in on {{ user.login | date('jS F Y') }})</em></label>
    </p>
    {% endfor %}

    <p><button type="submit">Continue</button></p>

{% endif %}
</form>