{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Create account{% endblock %}

{% block body %}
<div class="row">
    <div class="large-12 columns">
    <h4>Create an account</h4>

    <ul class="inline-list">
    <li>You can create an account using</li>
    {% for owner in hwi_oauth_resource_owners() %}
        <li><a href="{{ hwi_oauth_login_url(owner) }}" class="icon-link">
                <img src="{{ asset('/bundles/actscamdramsecurity/images/' ~ owner ~ '.png') }}" alt="{{ owner | capitalize }}" title="{{ owner | capitalize }}" width="19" height="19" />
                {{ owner | capitalize }}
            </a></li>
    {% endfor %}
    </ul>

    <h5>Register without using an external account</h5>
    <p>To create a Camdram account by specifying an e-mail address and password manually, please fill in the details below.</p>
    <form action="{{ path('acts_camdram_security_create_account') }}" method="post">
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        <div class="row">
            <div class="large-3 columns">{{ form_label(form.password.password) }}</div>
            <div class="large-3 columns">
                {{ form_widget(form.password.password) }}
                {{ form_errors(form.password.password) }}
            </div>
            <div class="large-3 columns">{{ form_label(form.password.confirm) }}</div>
            <div class="large-3 columns">
                {{ form_widget(form.password.confirm) }}
                {{ form_errors(form.password.confirm) }}
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <p>We use the following information will help us understand who is using Camdram and help improve it in the future.</p>
            </div>
        </div>
        <div class="row">
            <div class="large-3 columns">
                {{ form_label(form.occupation) }}
            </div>
            <div class="large-3 columns">
                {{ form_widget(form.occupation) }}
                {{ form_errors(form.occupation) }}
            </div>
            <div class="large-3 columns">
                {{ form_label(form.graduation) }}
            </div>
            <div class="large-3 columns">
                {{ form_widget(form.graduation) }}
                {{ form_errors(form.graduation) }}
            </div>
        </div>

        {{ form_rest(form) }}

        <div class="row">
            <div class="large-12 text-right"><input type="submit" value="Register" class="button"/></div>
        </div>
    </form>
    </div>
</div>
{% endblock %}
