{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<div class="row">
    <div class="twelve columns">

    <h4>Log in to camdram.net</h4>

    {% if has_role('IS_AUTHENTICATED_REMEMBERED') %}
        <p class="panel">For security reasons, you must log in again before accessing this page.</p>
    {% endif %}

        {% if error %}
            <div>{{ error.message }}</div>
        {% endif %}

        <ul class="inline-list">
            <li>Log in using</li>
        {% for service in services %}
            <li><a href="{{ path('acts_external_login_entry', {service: service.name}) }}" class="icon-link">
                <img src="{{ asset('/bundles/actscamdramsecurity/images/' ~ service.name ~ '.png') }}" alt="{{ service.name | capitalize }}" title="{{ service.name | capitalize }}" width="19" height="19" />
                    {{ service.name | capitalize }}
            </a></li>
        {% endfor %}
        </ul>
        <p>Or, if you have already registered, use your e-mail address and password:</p>

        <form method="post" action="{{ path('acts_camdram_security_login_check') }}">

            {{ form_widget(form) }}

            <div class="text-right"><input type="submit" value="Log in" id="login_button" class="button"/> </div>
        </form>

    </div>
</div>
{% endblock %}