{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<div class="row">
    <div class="twelve columns">

        <h4>Log in to camdram.net</h4>

        {% if error %}
            <div class="error_panel">
                <p>Either the username or password is invalid - please try again</p>
            </div>
        {% endif %}

        <ul class="inline-list">
            <li>Log in using</li>
            {% for service in services %}
                <li><a href="{{ path('acts_external_login_entry', {service: service.name}) }}" class="icon-link">
                        <img src="{{ asset('/bundles/actscamdramsecurity/images/' ~ service.name ~ '.png') }}" alt="{{ service.name | capitalize }}" title="{{ service.name | capitalize }}" width="19" height="19" />
                        {{ service.name | capitalize }}
                    </a></li>
            {% endfor %}
        </ul>
        <p>Or, if you have already registered, use your e-mail address and password:</p>

        {% include 'ActsCamdramSecurityBundle:Default:login_form.html.twig' %}
    </div>
</div>
{% endblock %}