{% if app.user %}
    <li id="account-link" class="dropdown-link">
        <a href="#">
            {% if app.user.profilePictureUrl %}<img src="{{ app.user.profilePictureUrl }}" width="22" height="22"/>{% endif %}
            {{ app.user.displayName }}
        </a>
        <ul id="account-dropdown" class="dropdown">
            {% if app.user.type =='external' and app.user.user is not null %}
                {% set main_user = app.user.user %}
            {% else %}
                {%  set main_user = app.user %}
            {% endif %}
            {% if main_user.person is defined and main_user.person %} <li><a href="{{ path('get_person', {identifier: app.user.person.slug }) }}">My profile</a></li>{% endif %}
            {% if app.user.type == 'external' and app.user.user is null %}<li><a href="#">Create Camdram password</a></li>{% endif %}

            {% if main_user.type == 'native' %}
                {% for service in ['facebook'] %}
                    {% if not main_user.getExternalUserByService(service) %}
                    <li><a href="{{ path('acts_external_login_entry', {service: service}) }}" class="icon-link">
                        <img src="{{ asset('/bundles/actscamdramsecurity/images/' ~ service ~ '.png') }}" alt="{{ service | capitalize }}" title="{{ service | capitalize }}" width="19" height="19" />
                        Link account to {{ service | capitalize }}
                    </a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <li><a href="{{ path('acts_camdram_settings') }}">Account Settings</a></li>
            <li><a href="{{ path('_security_logout') }}">Log out</a></li>
        </ul>
    </li>
{% else %}
    <li>
        <a href="{{ path('acts_camdram_security_create_account') }}">Create an account</a>
    </li>
    <li id="login-link" class="dropdown-link">

        <a href="#">Log in</a>
            {% for service in services %}
               <a href="{{ path('acts_external_login_entry', {service: service.name}) }}" class="icon-link">
                    <img src="{{ asset('/bundles/actscamdramsecurity/images/' ~ service.name ~ '.png') }}" alt="{{ service.name | capitalize }}" title="{{ service.name | capitalize }}" width="19" height="19" />
               </a>
            {% endfor %}

        <div id="login-dropdown" class="dropdown">
            <form action="{{ path('acts_camdram_security_login_check') }}" method="post">
                <div class="row">
                    <div class="small-3 columns"><label for="login_email">Email</label></div>
                    <div class="small-9 columns"><input type="text" name="email" id="login_email" required /></div>
                </div>
                <div class="row">
                    <div class="small-3 columns"><label for="login_password">Password</label></div>
                    <div class="small-9 columns"><input type="password" name="password" id="login_password" required /></div>
                </div>
                <div class="row">
                    <div class="small-8 columns">
                        <label><input type="checkbox" name="_remember_me" id="login_remember_me"/>
                        Remember me</label>
                    </div>
                    <div class="small-4 columns text-right">
                        <input type="submit" class="button small" value="Log in" />
                    </div>
                </div>
            </form>

        </div>
    </li>
{% endif %}