{% if app.user %}
    {% if has_role('ROLE_ADMIN') %}
        {{ include('ActsCamdramSecurityBundle:Default:toolbar_admin.html.twig') }}
    {% endif %}
    <li id="account-link" class="dropdown-link">
        {% if app.user.type =='external' and app.user.user is not null %}
            {% set main_user = app.user.user %}
        {% else %}
            {%  set main_user = app.user %}
        {% endif %}
        <a href="{% if main_user.person %}{{ path('get_person', {identifier: main_user.person.slug }) }}{% else %}#{% endif %}">
            {% if main_user.profilePictureUrl %}<img src="{{ main_user.profilePictureUrl }}" width="22" height="22"/>{% endif %}
            {{ main_user.displayName }}
        </a>
        <ul id="account-dropdown" class="topbar-dropdown">
            {% if main_user.person %}<li><a href="{{ path('get_person', {identifier: main_user.person.slug }) }}"><i class="fa fa-user fa-fw"></i> My profile</a></li>{% endif %}
            {% if app.user.type == 'external' and app.user.user is null %}<li><a href="{{ path('acts_camdram_security_create_password') }}"><i class="fa fa-key fa-fw"></i> Create Camdram password</a></li>{% endif %}

            {% if main_user.type == 'native' %}
                {% for service in ['facebook'] %}
                    {% if not main_user.getExternalUserByService(service) %}
                    <li><a href="{{ path('acts_external_login_entry', {service: service}) }}" class="icon-link">
                        <img src="{{ asset('/bundles/actscamdramsecurity/images/' ~ service ~ '.png') }}" alt="{{ service | capitalize }}" title="{{ service | capitalize }}" width="19" height="19" />
                        Link account to {{ service | capitalize }}
                    </a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="{{ path('acts_camdram_security_settings') }}"><i class="fa fa-cogs fa-fw"></i> Account Settings</a></li>
            {% endif %}
            <li><a href="{{ path('_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Log out</a></li>
        </ul>
    </li>
{% else %}
    <li>
        <a href="{{ path('acts_camdram_security_create_account') }}">Create an account</a>
    </li>
    <li id="login-link">

        <a href="{{ path('acts_camdram_security_login') }}">Log in </a>
            {% for service in services %}
               <a href="{{ path('acts_external_login_entry', {service: service.name}) }}" class="icon-link">
                    <img src="{{ asset('/bundles/actscamdramsecurity/images/' ~ service.name ~ '.png') }}" alt="{{ service.name | capitalize }}" title="{{ service.name | capitalize }}" width="19" height="19" />
               </a>
            {% endfor %}
    </li>
{% endif %}

