{% extends 'layout.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <div class="row">
        <h3>Manage Users</h3>

        <form action="{{ path('get_users') }}" method="get">
            <div class="row">
                <div class="large-3 columns">
                    <label for="user_search_box" class="right inline">Search</label>
                </div>
                <div class="large-3 columns">
                    <input id="user_search_box"  type="text" name="q"/>
                </div>
                <div class="large-6 columns">
                    <input type="submit" class="button small"/>
                </div>
            </div>
        </form>

        {% include 'paginator.html.twig' %}
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date joined</th>
                <th>Last login</th>
            </tr>
            </thead>
        <tbody>
        {% for user in result.data %}
        <tr>
            <td><a href="{{ path('get_user', {identifier: user.id}) }}">{{ user.id }}</a></td>
            <td><a href="{{ path('get_user', {identifier: user.id}) }}">{{ user.name }}</a></td>
            <td>{{ user.email }}</td>
            <td>{% if user.registeredAt > date('0000-00-00') %}{{ user.registeredAt | date('Y-m-d') }}{% endif %}</td>
            <td>{% if user.lastLoginAt > date('0000-00-00') %}{{ user.lastLoginAt | date('Y-m-d') }}{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% include 'paginator.html.twig' %}

    </div>

{% endblock %}

{% block javascripts %}
<script>
    $(function() {
        $('#user_search_box').typeahead({
            name: 'users_search',
            valueKey: 'name',
            remote: {url: Routing.generate('get_users', {_format: 'json', q: 'QUERY'}), wildcard: 'QUERY'}
        }).on('typeahead:selected', function (object, datum) {
            document.location = Routing.generate('get_user', {identifier: datum.id})
        });
    })
</script>
{% endblock %}
