{% extends 'layout.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <div class="row">
        <h3>Manage Users</h3>

        <form action="{{ path('get_users') }}" method="get">
            <div style="display: flex; justify-content: space-around;">
                <label for="user_search_box" class="hide-for-small inline">Search</label>
                <input id="user_search_box" type="text" name="q" style="max-width: 35em; margin-right: 1em;"
                       placeholder="Search by name, email and id" value="{{ query }}"/>
                <input type="submit" class="button small" value="Go" />
            </div>
        </form>

        {% include 'paginator.html.twig' %}
        <div style="overflow-x: auto; width: 100%">
        <table>
            <thead>
            <tr>
                {%- for column in [["ID", "id"], ["Name", "name"], ["Email", "email"],
                ["Date joined", "registered_at"], ["Last login", "last_login_at"]] -%}
                <th><span style="display: flex; align-items: center;">{# flex prevents wrapping awkwardly on narrow screens #}
                    <span style="flex: 1">{{- column[0] -}}</span>
                    <a href="{{ path('get_users') }}?sort={{ column[1] }}&order=DESC"
                       title="{{ column[0] }}, descending">▲</a><a
                       href="{{ path('get_users') }}?sort={{ column[1] }}&order=ASC"
                       title="{{ column[0] }}, ascending">▼</a></span></th>
                {%- endfor -%}
            </tr>
            </thead>
        <tbody>
        {% for user in paginator %}
        <tr>
            <td><a href="{{ path('get_user', {identifier: user.id}) }}">{{ user.id }}</a></td>
            <td><a href="{{ path('get_user', {identifier: user.id}) }}">{{ user.name }}</a></td>
            <td>{{ user.email }}</td>
            <td>{% if user.registeredAt > date('0000-00-00') %}{{ user.registeredAt | date('Y-m-d') }}{% endif %}</td>
            <td>{% if user.lastLoginAt > date('0000-00-00') %}{{ user.lastLoginAt | date('Y-m-d') }}{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
        {% include 'paginator.html.twig' %}

    </div>

{% endblock %}

{% block javascripts %}
<script>
    {#- begin-CSP-permitted-script -#}
    $(function() {
        $('#user_search_box').typeahead({
            name: 'users_search',
            valueKey: 'name',
            remote: {url: Routing.generate('get_users', {_format: 'json', q: 'QUERY'}), wildcard: 'QUERY'}
        }).on('typeahead:selected', function (object, datum) {
            document.location = Routing.generate('get_user', {identifier: datum.id})
        });
    })
    {#- end-CSP-permitted-script -#}
</script>
{% endblock %}
