{% extends 'layout.html.twig' %}

{% block title %}Merge User: {{ user.name }}{% endblock %}

{% block body %}

{{ include("admin/user/admin-panel.html.twig") }}

<h4>Merge {{ user.name }} (<em>{{ user.email }}</em>) with</h4>

{{ form_start(form, {'action' : path("merge_user", {identifier: user.id})}) }}

    {{ form_errors(form) }}

    {{ form_row(form.email) }}

    {{ form_row(form.keep_user) }}
    {{ form_rest(form) }}

    <div class="alert-box alert">
        <i class="fa fa-warning"></i>
        The user that is not retained will be irreversibly deleted.
    </div>

    <div class="text-right">
        <input type="submit" value="Merge" class="button" />
    </div>

{{ form_end(form) }}

{% endblock %}
