{% if is_granted('EDIT', org) %}
<div class="admin-panel">
    <h6 class="split-header"><span>Society Administration: <a href="{{ path('get_society', {identifier: org.slug}) }}">{{ org.name }}</a></span><span>ID: {{org.id}}</span></h6>
    <ul role="menubar">
        {{ include('navigation/nav-item.html.twig', {item: {id: 'edit_society', path: path('edit_society',{identifier:org.slug}), icon: 'pencil', text: 'Edit this society'} }) }}
        {% if is_granted('DELETE', org) %}
            {{ include('navigation/delete-item.html.twig', {item: {id: 'remove_society', path: path('remove_society',{identifier:org.slug}), text: 'Delete this society', name: org.name, type: 'society'} }) }}
        {% endif %}
        {% if org.applications | length == 0 %}
            {{ include('navigation/nav-item.html.twig',
            {item: {id: 'new_application', path: path('new_society_application',{identifier:org.slug}), icon: 'plus-circle', text: 'Show applications'} }) }}
        {% else %}
            {{ include('navigation/nav-item.html.twig',
            {item: {id: 'edit_application', path: path('edit_society_application',{identifier:org.slug}), icon: 'pencil', text: 'Show applications'} }) }}
        {% endif %}
        {{ include('navigation/nav-item.html.twig',
        {item: {id: 'edit_admin', path: path('edit_society_admin',{identifier:org.slug}), icon: 'pencil', text: "Edit the society's admins"} }) }}
    </ul>
    <p>
    The following people can edit this society:
    {% for admin in admins %}
        {%- if admin.person -%}
            <a href="{{ path('get_person', {identifier: admin.person.slug}) }}">{{ admin.name }}</a>
        {%- else -%}
            {{ admin.name }}
        {%- endif -%}
        {{- not loop.last ? ',' }}
    {% endfor %}
    </p>
    {% if pending_admins is not empty %}
    <p>
        The following people will be admins, pending creating an account:
        {% for pending in pending_admins %}
            {{ pending.email }}
            {{- not loop.last ? ',' }}
        {% endfor %}
    </p>
    {% endif %}
</div>
{% endif %}

