{% extends 'layout.html.twig' %}

{% set current_navigation_id = 'vacancies' %}
{% block title %}Edit Show Applications{% endblock %}

{% block body %}

{% set current_subnav_id = 'edit_application' %}
{{ render(controller('ActsCamdramBundle:Society:adminPanel', {org: form.vars.value.society})) }}

<div class="split-header">
    <h3>Edit show applications advertisement</h3>

    <ul>
        {{ include('navigation/form-item.html.twig', {item: {id: 'delete_application', 
            path: path('delete_society_application', {identifier:form.vars.value.society.slug}), method: 'DELETE', text: 'Delete', icon: 'eraser'},
            destructive: {title: "Are you sure you want to delete this application?" }
            }) }}
    </ul>
</div>

<div class="panel">
    <p>Use the form below to modify or extend your show applications advertisement. The advert will be displayed
    until the deadline date.</p>
</div>

{{ form_start(form, {'action': path("put_society_application", {identifier: form.vars.value.society.slug} )}) }}
{{ include('organisation/application-form.html.twig') }}

<div class="text-right">
    <input type="submit" value="Save" class="button"/>
</div>

{{ form_end(form) }}

{% endblock %}
